.colorNone {
    color:#606266;
}
/*.el-dialog__header {*/
    /*background: #1E9FFF;*/
/*}*/
/*.el-dialog__title, .el-message-box__title {*/
    /*color: #FFFFFF;*/
/*!*}*!*/
/*.el-dialog__headerbtn .el-dialog__close, .el-message-box__headerbtn .el-message-box__close {*/
    /*color: #FFFFFF;*/
/*}*/
.el-dialog__body .el-input__inner{
    width: 200px;
}
/*.el-dialog__headerbtn{*/
    /*width: 35px!important;*/
/*}*/
/*.el-dialog__headerbtn .el-dialog__close, .el-message-box__headerbtn .el-message-box__close{*/
    /*position: relative!important;*/
    /*left: 26px!important;*/
/*}*/
.el-input.is-disabled .el-input__inner {
    background-color: #F5F7FA;
    border-color: #E4E7ED;
    color: #757171;
    cursor: not-allowed;
}
/*.el-dialog__headerbtn:hover .el-dialog__close{color:#FFFFFF}*/
.ownvx{
    display: flex;
}
.ownvx .el-form-item{
    width: 300px;
}
.el-tabs__item {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #000000; }

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    border-bottom: 2px solid #409EFF;
    color: #1E9FFF; }

.el-table__body {
    font-size: 14px !important; }

.el-table thead th, .el-table thead tr {
    background: whitesmoke;
    color: #000000;
    font-weight: bold;
    font-size: 14px; }

.el-tabs--card > .el-tabs__header .el-tabs__nav {
    border: none; }

.el-tabs--card > .el-tabs__header {
    border-bottom: 1px solid #E5E5E5; }

#tab-second {
    border-left: none; }

#tab-onlyLine {
    width: 1px;
    padding: 0;
    background-color: #BCBEE5;
    height: 19px;
    position: relative;
    top: 3px;
    border: none; }
#tab-second {
    border-left: none;
}