.colorNone {
    color:#606266;
}
/*.el-dialog__header {*/
     /*background: #1E9FFF;*/
 /*}*/
/*.el-dialog__title, .el-message-box__title {*/
    /*color: #FFFFFF;*/
/*}*/
/*.el-dialog__headerbtn .el-dialog__close, .el-message-box__headerbtn .el-message-box__close {*/
    /*color: #FFFFFF;*/
/*}*/
.el-dialog__body .el-input__inner{
    width: 200px;
}

.el-input.is-disabled .el-input__inner {
    background-color: #F5F7FA;
    border-color: #E4E7ED;
    color: #757171;
    cursor: not-allowed;
}
/*.el-dialog__headerbtn:hover .el-dialog__close{color:#FFFFFF}*/
.ownvx{
    display: flex;
}
.ownvx .el-form-item{
    width: 300px;
}