<div class="layui-row layui-form-item solf-item" style="position: relative">
    <div class="layui-input-inline">
        <input type="text" id="@@input" name="title " autocomplete="off " placeholder="搜索 " class="layui-input">
        <i class="layui-icon" id="@@icon" style="position: absolute;top: 12px;left: 168px;cursor:pointer">&#x1006;</i>
    </div>
    <button id="@@btn" class="layui-btn layui-btn-normal layui-btn-sm search-btn">搜索</button>
</div>

