
<!--确认密码-->
<div class="updata-password" style="display: none;">
    <form class="layui-form" action="">
        <div class="layui-form-item" style="margin-top: 10px">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-inline">
                <input name="oldPassword" class="layui-input" type="password" placeholder="请输入旧密码" autocomplete="off" lay-verify="required|oldPass">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 10px">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input name="newPassword" class="layui-input" type="password" placeholder="请输入新密码" autocomplete="off" lay-verify="required|newPass1">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 10px">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input name="verifyPassword" class="layui-input" type="password" placeholder="请确认新密码" autocomplete="off" lay-verify="required|newPass2">
            </div>
        </div>
        <div class="layui-form-item layui-btn-sub" style="margin-top: 10px;">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="newUpdataPassword">确定</button>
                <!--<button class="layui-btn confirmPass" type="button">确定</button>-->
                <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
            </div>
        </div>
    </form>
</div>
