
/*鼠标滑过*/
/*.layui-table-main .laytable-cell-1-name:hover{*/
    /*color: #1E9FFF;*/
    /*text-shadow: black 2px 2px 3px;*/
/*}*/
.layui-content{
    width: 100%;
}
/*.layui-content .layui-table{*/
    /*width: 100%;*/
/*}*/
.layui-table .main-btn-field{
    width: 168px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    /*margin-left: 90%;*/
    /*background: red;*/
}
.layui-table .main-btn-user{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    /*width: 470px;*/
    /*margin-left: 74%;*/
    /*background: red;*/
}


.layui-table-view{
    display: inline-block;
}


/*.layui-table, .layui-table-view{*/
    /*margin: 0px!important;*/
/*}*/
.star{
    font-size: 20px;
    line-height: 38px;
}


h3{
    margin: 15px 0px;
    margin-left: 30px;
    font-weight: 800;
}


.top,.middle{
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
}
.foot{
    width: 100%;
    display: flex;
    /*justify-content: right;*/
    flex-wrap: wrap;
}


.layui-btn-sub{
    text-align: center;
}
.layui-btn-sub .layui-input-block{
    margin-left: 0px;
}

.line{
    width: 100%;
    height: 1px;
    border-bottom: 1px black dashed;
}



/*输入框不可改变*/
.dis{
    background: gainsboro;
}

/*.reduction-user .layui-table-view{*/
    /*width: 100%;*/
/*}*/
/*.laytable-cell-3-0{ width: 48px; }*/
/*.laytable-cell-3-systemUserName{ width: 290px; }*/

#sysUser{
    margin: 0px;
}

.fle{
    width: 330px;
    height: 50px;
}




.new-field .layui-form-item,.edit-field .layui-form-item{
    margin-bottom: 15px;
}


.confirm-pass1 .layui-form-item , .confirm-pass .layui-form-item{
    margin-top: 5px;
}
























