.layui-layer{
    top: 40% !important;
}
.layui-layer-dialog .layui-layer-content {
    line-height: 20px !important;
}

.search-btn{
    height: 38px!important;
    line-height: 38px;
}

/*左侧详情*/
.main-left{
    width: 250px;
    height:100%;
}

.main-left .main-btn1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.main-left .main-role{
    width: 100%;
    height: 650px;
    border: solid 1px black;
    overflow: auto;
}
.main-left .main-role .role{
    padding: 15px;
}
.main-left .main-role .role span{
    cursor: pointer;
}


.radioRole b{
    cursor: pointer;
    display: inline-block;
    line-height: 38px;
    font-size: 15px;
}



/*弹框层*/
/*body .layui-layer,.layui-layer-tips{*/
    /*!*width:300px;*!*/
    /*!*height:200px;*!*/
    /*word-wrap: break-word;*/
    /*!*overflow: auto;*!*/
/*}*/



/*右侧详情*/
.main-right{
    margin-left: 640px;
}
.main-right form{
    margin-top: 20px;
}
.main-right .layui-form-checkbox[lay-skin=primary]{
    height: 18px!important;
}

.editAuthority{
    display: flex;
    width: 1000px;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
}
.renderAuthorityTree{
    /*position: relative;*/
    width: 22%;
    height: 650px;
    overflow: auto!important;
    border: solid 1px black;
}

.layui-xtree-icon-null{
    display: none;
}


#LAY_layuipro .layui-input-block{
    margin-left: 140px;
}

.radioRoles{
    height:30px!important;
}
.radioRoles span{
    height:30px!important;
}
.radioRoles .layui-form-checkbox[lay-skin=primary] span{ 
    width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break:break-all;
    white-space:nowrap;
}




















/*.main-right .main-btn2{*/
    /*margin-bottom: 10px;*/
/*}*/
/*.main-right .main-btn2 p span{*/
    /*margin-right: 20px;*/
/*}*/

/*.main-authority ul.ztree{*/
    /*height: 650px;*/
    /*box-sizing: border-box;*/
/*}*/



/*.new-role h2{*/
    /*text-align: center;*/
    /*font-size: 22px;*/
    /*padding: 10px 0px;*/
    /*font-weight: 900;*/
/*}*/

/*.layui-btn-sub{*/
    /*text-align: center;*/
/*}*/
/*.layui-btn-sub .layui-input-block{*/
    /*margin-left: 0px;*/
/*}*/






.ownImpit .el-textarea__inner{
    border: 1px solid #e6e6e6;
    background: white!important;
    color: black!important;
}

















