/**
* @date 2018-03-07
* @author zzj
* @content 监控主页面样式
*/

.layui-content {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.left-menu {
    width: 200px;
    height: 100%;
    border: 1px solid #ccc;
}

.right-content {
    margin-left: 210px;
    padding: 0 0 10px;
}


/* 硬件监控  */

.hardBox li {
    display: inline-block;
    padding: 20px 50px;
    position: relative;
}

.hardBox li img.hardImg {
    display: block;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.hardBox li img.hardFlag {
    position: absolute;
    bottom: 10%;
    right: 10%;
}


/* 软件监控 */

.softGraph {
    box-sizing: border-box;
    padding: 10px 100px;
    width: 100%;
    height: 450px;
}

.arrowBox {
    position: absolute;
    top: 48%;
    width: 100%;
}

.arrowBox i {
    font-size: 60px;
    cursor: pointer;
}


/* 时间段选择框 */

.date-range {
    display: inline-block;
    width: 20%;
}