

/*左侧详情*/
.left-nav{
    /*width: 15%;*/
    width: 250px;
    height: 100%;
    overflow: hidden;
    /*background-color: red;*/
}
.left-nav .left-nav-main{
    width: 100%;
    height: 80%;
    border: solid 1px black;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 10%;
}
.layui-tree li{
    overflow: visible!important;
}
.left-nav .operation-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
     margin: 4% 0;
 }
/*.left-nav .layui-main-btn1{*/
    /*display: flex;*/
    /*width: 100%;*/
    /*justify-content: space-between;*/
/*}*/



/*右侧详情*/
.right-nav{
    width: 80%;
    /*margin-left: 18%;*/
    margin-left: 280px;
    /*background-color: yellow;*/
}
.right-nav .list-details{
    margin-left: 0;
    margin-bottom: 26px;
    /*font-size: 15px;*/
    font-weight: 800;
 }
.right-nav .layui-main-btn2{
    /*width: 34%;*/
    /*width: 496px;*/
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    /*background-color: red;*/
}
.layui-table-view{
    display: inline-block;
}



/*鼠标滑过*/
/*.layui-table-main .laytable-cell-1-userName:hover{*/
    /*color: #1E9FFF;*/
    /*text-shadow: black 2px 2px 3px;*/
/*}*/


/*弹框显示*/

h3{
    margin-left: 3%;
    font-weight: 800;
}
.layui-form-item .layui-inline{
    margin-right: 0px;
}

.layui-message{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.layui-message .one-line{
    width: 100%;
}



.person-add{
    display: none;
}
.select-person{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.select-person>div{
    width: 200px;
    height: 300px;
    border: solid 1px #B2B2B2;
    overflow: auto;
}
.select-person>div:nth-child(2),.select-person>div:nth-child(3),.select-person>div:nth-child(4){
    margin-left: 20px;
}
b{
    cursor: pointer;
    font-size: 20px;
    line-height: 38px;
}
.select-left{
    display: inline-block;
}
.layui-tree li{
    overflow: visible;
}
.layui-btn-sub{
    text-align: center;
}
.layui-btn-sub .layui-input-block{
    margin-left: 0px;
}


.dis,.dis .layui-form-select .layui-input{
    background: gainsboro;
}

.layui-userName{
    margin: 20px;
    font-weight: 700;
    font-size: 18px;
}







/* 弹框 */

/*.add-user-fn {*/
    /*font-size: 22px;*/
    /*cursor: pointer;*/
/*}*/

/*.btn-export {*/
    /*margin: 3px;*/
    /*float: right;*/
/*}*/

.select-div {
    float: left;
}

.select-div {
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    width: 150px;
    margin: 10px 20px;
}

.select-btn {
    width: 40px;
    display: table;
}

.show-option,
.select-option {
    width: 100%;
    height: 100%;
    border: none;
}

.select-btn i {
    display: table-row;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
}


/*.layui-form-pane .layui-form-label{*/
    /*border-style: none;*/
    /*text-align: right;*/
    /*!*border-radius: none;*!*/
    /*background-color: transparent;*/
/*}*/


/*.tips-box {*/
    /*border: 1px solid #e6e6e6;*/
    /*border-radius: 2px;*/
    /*padding: 10px;*/
    /*height: 120px;*/
    /*overflow-y: auto;*/
/*}*/

/*.tips-list p {*/
    /*text-indent: 2em;*/
/*}*/


/*新建编辑部门加号按钮*/
.add{
    line-height: 38px;
    cursor: pointer;
}

/*!*设置下拉框高度*!*/
/*.layui-form-select dl {*/
    /*max-height:200px;*/
/*}*/


/*下拉树*/
.selecttree .downpanel .layui-select-title span {
    line-height: 38px;
}
.downpanel span{
    overflow: hidden;
}
/*继承父类颜色*/
.selecttree .downpanel dl dd:hover {
    background-color: inherit;
}

.oneRight{
    line-height: 136px;
}

.fle{
    width: 340px;
    height: 50px;
}



/**treeselect下拉树状图*/
/*.layui-form-select .layui-tree {*/
    /*display: none;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 42px;*/
    /*padding: 5px 0;*/
    /*z-index: 999;*/
    /*min-width: 100%;*/
    /*border: 1px solid #d2d2d2;*/
    /*max-height: 300px;*/
    /*overflow-y: auto;*/
    /*background-color: #fff;*/
    /*border-radius: 2px;*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,.12);*/
    /*box-sizing: border-box;*/
/*}*/
/*.layui-form-selected .layui-tree {*/
    /*display: block;*/
/*}*/
.fgdgd .layui-form-checked span,.fgdgd  .layui-form-checked:hover span:hover{
    background: transparent!important;
}

/*.el-dialog__header, .el-message-box__header {*/
    /*background: #1E9FFF;*/
/*}*/
/*.el-dialog__headerbtn .el-dialog__close, .el-message-box__headerbtn .el-message-box__close {*/
    /*color: #FFFFFF!important;*/
/*}*/
/*.el-dialog__title{*/
    /*color: #FFFFFF!important;*/
/*}*/
.el-dialog__body {
    padding: 10px 20px;
}
.redsfv h3{
    margin-bottom: 10px;
}
.redsfv .el-form--inline .el-form-item{
    margin-left: 29px;
}
.redsfv .el-select{
    width: 200px;
}
.redsfv .el-radio-group{
    width: 200px;
}
.redsfv .redStar{
    color: red;
    font-size: 25px;
    position: relative;
    top: 7px;
    left: 5px;
}
.redsfv .el-input.is-disabled{
    width: auto!important;
}
.redsfv .el-tree{
    position: absolute;
    z-index: 999;
    width: 200px;
    top: 51px;
    border: 1px solid;
}
.cjif{
    width: 197px;
    border: 1px solid rgb(220, 223, 230);
    height: 35px;
    border-radius: 4px;
    position: relative;top: 4px;
    display: inline-block;
    text-indent: 10px;
}
.redsfv .fsdf .el-form-item__content .el-button{
    width: 200px;
    height: 40px;
    position: relative;
    /*top: -5px;*/
}
.redsfv .fsdf .el-form-item__content {
    line-height: inherit;
}
.redsfv .el-form--inline .el-form-item__content {
    line-height: inherit;
}
.redsfv  .el-form--inline .sex  .el-form-item__content {
    line-height: 40px
}
.el-form-item .el-form-item__content .el-checkbox{
    padding: 10px!important;
}
.redsfv .el-input{
    width: auto;
}
.redsfv .el-select__tags {
    white-space: nowrap;
    overflow: hidden;
    flex-wrap: nowrap;
}
.redsfv  .el-popover__reference{
    text-align: left;
}
.redsfv .el-input__inner{
    width: 200px;
}

/*.tooLong .el-select-dropdown{*/
    /*max-width: 200px;*/
/*}*/
/*.tooLong .el-select-dropdown__item{*/
    /*display: inline-block;*/
/*}*/
/*.tooLong .el-select-dropdown__item span {*/
    /*min-width: 205px;*/
    /*display: inline-block;*/
/*}*/