<!DOCTYPE html>
<html>
  <body>
    <!--include "./../../../components/nav/nav.html"-->
    <!--include "./../../../components/left/left.html"-->

    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
    <link rel="stylesheet" href="style/dataManager.css" />
    <!--<script src="../../../assets/pdf/build/pdf.js"></script>-->
    <!--<script type="text/javascript" src = "https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script>-->
    <!-- <script src="./../../../public/static/elementui/vuejs.js"></script>
  <script src="./../../../public/static/elementui/elementui.js"></script> -->
    <!-- <script src="../../../views/admin/dataManager/js/uploader.js"></script> -->
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <div id="app" style="display:flex;">
      <div class="layui-body" style="margin-left: 5px;margin-top: 5px;padding: 20px" v-cloak>
        <div>
          <el-input v-model="search" @keyup.enter.native="searchTable" placeholder="按用户或部门搜索" style="width:200px">
            <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click="resetSearch"></i>
          </el-input>
          <el-button type="primary" @click="searchTable">搜索</el-button>
        </div>
        <div style="margin-top: 30px">
          <el-table class="table1" :data="tableData" highlight-current-row border>
            <el-table-column sortable prop="userName" label="用户" :show-overflow-tooltip="true" align="center"></el-table-column>
            <el-table-column sortable prop="realName" label="姓名" :show-overflow-tooltip="true" align="center"></el-table-column>
            <el-table-column sortable prop="orgaName" label="部门" :show-overflow-tooltip="true" align="center"></el-table-column>
            <el-table-column sortable prop="spaceSize" label="总空间大小" :show-overflow-tooltip="true" align="center">
              <template slot-scope="scope">
                {{ scope.row.spaceSize }}G
              </template>
            </el-table-column>
            <el-table-column prop="updateTime" label="总使用占比" align="center" :show-overflow-tooltip="true" width="270px" class="point">
              <template slot-scope="scope" style="display:flex">
                <el-progress :percentage="(scope.row.useSize/scope.row.spaceSize)*100" :stroke-width="18" :color="customColors" :show-text="false" style="width:160px"></el-progress>
                <div style="float: right;margin-top: -20px;">{{ scope.row.useSize }}G/{{ scope.row.spaceSize }}G</div>
              </template>
            </el-table-column>
            <el-table-column prop="address" align="center" label="操作">
              <template slot-scope="scope">
                <el-button @click.native.prevent="getOwnTable(scope)" type="primary" size="small">
                  详情
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-pagination style="margin-top: 20px" :current-page="currentPage" :page-sizes="[10, 15, 20]" @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-size="pageSize" layout="sizes,prev, pager, next, jumper" :total="tableDataTotal"> </el-pagination>
        </div>
      </div>
      <el-dialog title="编辑" width="30%" :visible.sync="dialogVisible">
        <el-form ref="form" :model="form" label-width="80px" style="margin: 0 19%;">
          <el-form-item label="用户">
            <el-input v-model="form.name" disabled></el-input>
          </el-form-item>
          <el-form-item label="空间大小" class="changeAp">
            <el-input v-model="form.space">
              <template slot="append"
                >G</template
              >
            </el-input>
          </el-form-item>
        </el-form>
        <div style="text-align: center">
          <el-button type="primary" @click="changEdit">确 定</el-button>
          <el-button @click="dialogVisible = false">取 消</el-button>
        </div>
      </el-dialog>
      <el-dialog title="详情" width="60%" :visible.sync="deatilVisible">
        <el-table border class="table1" :data="detailTableData" highlight-current-row>
          <el-table-column prop="softwareName" label="软件名称" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="storageServerIp" label="存储服务器IP" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="storagePath" label="存储路径" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="protocolType" label="协议" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="spaceSize" label="空间大小" :show-overflow-tooltip="true" align="center">
            <template slot-scope="scope">
              {{ scope.row.spaceSize }}G
            </template>
          </el-table-column>
          <el-table-column prop="createDate" label="创建时间" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="updateTime" label="使用占比" align="center" :show-overflow-tooltip="true" width="270px" class="point">
            <template slot-scope="scope" style="display:flex">
              <el-progress :percentage="(scope.row.useSize/scope.row.spaceSize)*100" :stroke-width="18" :color="customColors" :show-text="false" style="width:160px"></el-progress>
              <div style="float: right;margin-top: -20px;">{{ scope.row.useSize }}G/{{ scope.row.spaceSize }}G</div>
            </template>
          </el-table-column>
          <el-table-column prop="address" align="center" label="操作">
            <template slot-scope="scope">
              <el-button @click.native.prevent="open(scope)" type="primary" size="small">
                编辑
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-dialog>
    </div>

    <!--修改密码-->
    @@include("../tpl/updataPassword.html")

    <script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
    <script src="../../../public/static/jquery-1.12.4.js"></script>
    <script src="../../../public/static/echarts/echarts.min.js "></script>
    <script src="../../../public/static/mock.js"></script>
    <!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
    <!-- <script src="../../../assets/js/help.js"></script> -->
    <!-- <script src="./js/index.js"></script> -->
    <script src="../../../assets/js/ajaxSetup.js"></script>
    <!-- <script src="js/pdfobject.js"></script> -->
    <script src="../../../public/static/pdfobject.js"></script>
    <script src="js/dataManager.js"></script>
    <!--include "./../../../components/footer/footer.html"-->

    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  </body>
</html>
