<!DOCTYPE html>
<html>

<body>
  <!--include "./../../../components/nav/nav.html"-->
  <!--include "./../../../components/left/left.html"-->

  <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
  <link rel="stylesheet" href="style/userData.css">
  <!--<script src="../../../assets/pdf/build/pdf.js"></script>-->
  <!--<script type="text/javascript" src = "https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script>-->
  <!-- <script src="./../../../public/static/elementui/vuejs.js"></script>
  <script src="./../../../public/static/elementui/elementui.js"></script> -->
  <!-- <script src="../../../views/admin/dataManager/js/uploader.js"></script> -->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
  <div id="app" style="margin:5px 5px 0px 206px;background: white;padding: 20px;" v-cloak>
    <div class="header">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="我的数据" name="first">我的数据</el-tab-pane>
        <el-tab-pane label="共享" name="second">共享</el-tab-pane>
      </el-tabs>
    </div>
    <div class="myData" v-show='myDataShow'>
      <div class="btn">
        <el-button type="primary" v-show='btn' @click='newFolders'>新建文件夹</el-button>
        <el-button type="success" @click='edit'>编辑</el-button>
        <el-button class="button-delete" type="danger" v-show='btn' @click='delFolder'>删除</el-button>
        <el-button type="primary" v-show='btn' @click='uploads'>上传</el-button>
        <el-button type="primary" v-show='btn' @click="upDatas">下载</el-button>
        <el-button type="primary" v-show='btn' @click="cShareClick">共享</el-button>
        <el-button type="primary" v-show='btn' @click="cSaveBtn('move')">移动到</el-button>
        <el-button type="primary" v-show='btn' @click="cSaveBtn('copy')">复制到</el-button>
      </div>
      <div class="position">
        <i class="el-icon-top" @click="changeuserPath"></i>
        <span>当前位置：</span>
        <span class="path" v-for="(item,index) in userdatapath" :key="index" :val="item.id" style="cursor: pointer" @click="handlePath(index)">
          <span v-if="index==0?false:true">/</span>{{item.fileName}}</span>
      </div>
      <div class="space">
        <span>空间使用情况：</span>
        <el-progress :percentage="percentage" :stroke-width="16" :color="color"></el-progress>
        <span>{{newSpace}}</span>G/
        <span>{{allSpace}}</span>G

      </div>
      <div class="f-table">
        <el-table border :data="tableData" height='620px' @selection-change="handleSelectChangeLeft" style="width: 100%;text-align: center">
          <el-table-column type="selection" width="55">
          </el-table-column>
          <el-table-column label="文件名称" prop="fileName" align="left">
            <template slot-scope="scope">
              <div @click="scope.row.fileType == '文件夹'?gofolder(scope.row):nofolder"  style="cursor: pointer">
                <i
                  :class="scope.row.fileType == '文件夹'?'folder':''"></i>{{scope.row.fileName}}
              </div>
            </template>
          </el-table-column>
          <el-table-column label="文件类型" prop="fileType">
                <template slot-scope="scope">
                {{scope.row.fileType==null ? '': scope.row.fileType.substring(scope.row.fileType.indexOf('.')+1,scope.row.fileType.length)  }}
                </template>
          </el-table-column>
          <el-table-column label="文件大小" prop="fileSizeShow">
          </el-table-column>
          <el-table-column label="备注" prop="remarks" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column label="操作" width="80">
            <template slot-scope="scope">
              <el-button size="mini" type="primary" @click.native.prevent="open(scope.row)" 
                :style="scope.row.fileType == '文件夹'?'display:none':''">预览</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 新建文件夹 -->
      <el-dialog title="新建" :visible.sync="newFolder" width="30%">
        <div class="folderName">
          <span style="width:20%;line-height: 40px;">文件夹名称：</span>
          <el-input v-model="newFolderName" placeholder="请输入文件夹名称"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="addFolder">确 定</el-button>
          <el-button @click="noFolder">取 消</el-button>
        </span>
      </el-dialog>
      <!-- 编辑 -->
      <el-dialog title="编辑" :visible.sync="editFolder" width="30%">
        <div class="folderName">
          <span style="width:17%;line-height: 40px;">名称：</span>
          <el-input v-model="editFolderName" :disabled='fileTypeName' placeholder="请输入文件名称"></el-input>
        </div>
        <div class="folderTips">
          <span style="width:20%;line-height: 40px;">文件备注：</span>
          <el-input type="textarea" v-model="editfiletips" placeholder="请输入文件备注"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="trueFolder">确 定</el-button>
          <el-button @click="noEditFolder">取 消</el-button>
        </span>
      </el-dialog>
      <!-- 上传 -->
      <el-dialog title="上传" :visible.sync="uploadFile" width="30%" :before-close="handleClose"  :close-on-click-modal='false'>
        <el-upload drag class="upload-demo" ref="upload" multiple :file-list="fileList" :auto-upload="true"
          :http-request="checkedFile" action="/">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
        </el-upload>
        <!-- <div style="top: 275px;position: absolute;width: 40%;left: 240px;">
          <ul>
            <li v-for='item in fileList'><input style="-webkit-appearance: none;
                                background-color: #FFF;
                                background-image: none;
                                border-radius: 4px;
                                border: 1px solid #DCDFE6;
                                -webkit-box-sizing: border-box;
                                box-sizing: border-box;
                                color: #606266;
                                display: inline-block;
                                font-size: inherit;
                                height: 40px;
                                line-height: 40px;
                                outline: 0;
                                padding: 0 15px;
                                -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
                                transition: border-color .2s cubic-bezier(.645,.045,.355,1);
                                width: 100%;" type="text" @change='fileTips' :id='item.uid' v-model="item.tips"
                placeholder="请输入文件备注"></input></li>
          </ul>
        </div> -->
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="trueload">确 定</el-button>
          <el-button @click="noload">取 消</el-button>
        </span>
      </el-dialog>
    </div>
    <div v-show='myDatagx'>
      <el-radio-group v-model="cradio" @change="cRadioChange">
        <el-radio-button label="cMyShare">我的共享</el-radio-button>
        <el-radio-button label="cAccept">接受共享</el-radio-button>
      </el-radio-group>
      <div v-show="cradio=='cMyShare'?true:false">
        <div style="display: flex; display: flex;justify-content: space-between;">
          <div class="position" style="margin-top: 20px">
            <i class="el-icon-top" @click="changeCMySharePath"></i>
            <span>当前位置：</span>
            <span class="path" style="cursor: pointer" @click="handleSharePathFirst">我的共享</span>
            <span class="path" v-for="(item,index) in cMySharePath" :key="index"
              :val="item.val" style="cursor: pointer" @click="handleSharePath(index)">/{{item.panFileName}}</span>
          </div>
          <div class="btn" style="margin: 20px 0">
            <el-button type="success" @click="cMyShareEdit">编辑</el-button>
            <el-button type="danger" @click.native.prevent="cMyShareCancel" v-if="cMySharePath.length==0?true:false">取消共享</el-button>
            <el-button type="primary" @click="cMyShareDown">下载</el-button>
          </div>
        </div>
        <el-table border :data="cMyShareTableData"  height='620px' ref="cMyShareTable" @selection-change="cMyShareSelectChange">
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column prop="panFileName" label="文件名称" :show-overflow-tooltip="true" align="left">
            <template slot-scope="scope">
              <span v-if="scope.row.fileType!='文件夹'"><i :class="scope.row.fileType == '文件夹'?'folder':''"></i>{{scope.row.panFileName}}</span>
              <span v-if="scope.row.fileType=='文件夹'" class="handleOn" @click="cClickMyShare(scope.row)"><i
                      :class="scope.row.fileType == '文件夹'?'folder':''"></i>{{scope.row.panFileName}}</span>
            </template>
          </el-table-column>
          <!--<el-table-column prop="path" label="文件路径" :show-overflow-tooltip="true"  align="center"></el-table-column>-->
          <el-table-column prop="acceptUserNames" label="用户" :show-overflow-tooltip="true" align="center">
          </el-table-column>
          <el-table-column prop="endDate" label="共享截止时间" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="remarks" label="备注" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="address" align="center" label="操作">
            <template slot-scope="scope">
              <el-button @click.native.prevent="open(scope.row)" type="primary" size="small"
                :style="scope.row.fileType == '文件夹'?'display:none':''">
                预览
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div v-show="cradio=='cAccept'?true:false">
        <div style="display: flex; display: flex;justify-content: space-between;">
          <div class="position" style="margin-top: 20px">
            <i class="el-icon-top" @click="changeCAcceptPath"></i>
            <span>当前位置：</span>
            <span class="path" style="cursor: pointer" @click="handleCAcceptPathFirst">接受共享</span>
            <span class="path" v-for="(item,index) in cAcceptPath" :key="index" :val="item.val" style="cursor: pointer" @click="handleCAcceptPath(index)">/
              {{item.panFileName}}</span>
          </div>
          <div class="btn" style="margin: 20px 0">
            <el-button type="success" @click="cAcceptEdit">编辑</el-button>
            <el-button type="primary" @click="cAcceptDown">下载</el-button>
          </div>
        </div>
        <el-table border :data="cAcceptTableData" height='620px'  ref="cAcceptTable" @selection-change="cAcceptSelectChange">
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column prop="name" label="文件名称" :show-overflow-tooltip="true" align="left">
            <template slot-scope="scope">
              <span v-if="scope.row.fileType!='文件夹'"><i :class="scope.row.fileType == '文件夹'?'folder':''"></i>{{scope.row.panFileName}}</span>
              <span v-if="scope.row.fileType=='文件夹'" class="handleOn" @click="cClickMyAccept(scope.row)"><i
                      :class="scope.row.fileType == '文件夹'?'folder':''"></i>{{scope.row.panFileName}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="shareUserName" label="用户" :show-overflow-tooltip="true" align="center">
          </el-table-column>
          <el-table-column prop="endDate" label="共享截止时间" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="remarks" label="备注" :show-overflow-tooltip="true" align="center"></el-table-column>
          <el-table-column prop="address" align="center" label="操作">
            <template slot-scope="scope">
              <el-button @click.native.prevent="open(scope.row)" type="primary" size="small"
                v-if="scope.row.fileType!='文件夹'">
                预览
              </el-button>
              <el-button @click.native.prevent="cSaveBtn('save',scope)" type="primary" size="small">
                保存到个人目录
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-dialog title="编辑" :visible.sync="cMyShareEditBox" width="30%">
        <el-form ref="form" :model="cForm" label-width="80px" class="cInputS">
          <el-form-item label="文件">
            <el-input v-model="cForm.flie" disabled></el-input>
          </el-form-item>
          <el-form-item label="备注">
            <el-input v-model="cForm.tips" type="textarea"></el-input>
          </el-form-item>
          <div style="text-align:center">
            <el-button type="primary" @click="cSubmit">确 定</el-button>
            <el-button @click="cMyShareEditBox=false">取 消</el-button>
          </div>
        </el-form>
        </span>
      </el-dialog>
      <el-dialog class="dialogTop" title="详情" :visible.sync="cSee" width="60%">
        <div id="chaneLook">
          <!--<img :src="main.informationDataOrUrl" alt="" v-if="main.imgOrData" style="width: 100%">-->
          <!--<iframe :src="informationDataOrUrl" frameborder="0" style="width: 100%;height: 450px"-->
            <!--@closed="delGetUrl"></iframe>-->
        </div>
      </el-dialog>
    </div>
    <el-dialog title="共享" :visible.sync="cShare" width="30%" @closed="choseShare">
      <div style="text-align: center">
        共享截止时间
        <el-date-picker v-model="cShareTime" type="date" placeholder="选择日期" :picker-options="pickerOptions">
        </el-date-picker><span style="color: red">*</span>
      </div>
      <div style="margin: 20px auto; display: flex;justify-content: center;">
        <el-tree :data="cSharePeople" show-checkbox node-key="id" ref="tree" :props="defaultProps">
        </el-tree>
      </div>
      <div style="text-align: center">
        <el-button @click="cShareCancel">取消</el-button>
        <el-button type="primary" @click="cShareSure">确定</el-button>
      </div>
    </el-dialog>
    <!-- 移动复制保存 -->
    <el-dialog :title="moveTitle" :visible.sync=cSaveOwnBox width="30%" @closed="clfgav">
      <div class="position" style="margin-top:0;font-size: 18px;margin-bottom: 10px;"
        v-if="cSavePath.length!=0?true:false">
        <i class="el-icon-top" @click="changeCSavePath"></i>
        <span>当前位置：</span>
        <span class="path" v-for="(item,index) in cSavePath" :key="index" :val="item.id" style="cursor: pointer" @click="handleSavePath(index)"><span
            v-if="index==0?false:true">/</span>{{item.fileName}}</span>
      </div>
      <el-table border :data="cSaveTableData">
        <el-table-column width="65" align="center">
          <template scope="scope">
            <el-radio :label="scope.row.id" v-model="cSaveRadio"
              @change.native="cGetTemplateRow(scope.$index,scope.row)">&nbsp</el-radio>
          </template>
        </el-table-column>
        <el-table-column prop="tips" label="文件名称" :show-overflow-tooltip="true" align="left">
          <template slot-scope="scope">
            <div>
              <span v-if="scope.row.fileType!='文件夹'"><i :class="scope.row.fileType == '文件夹'?'folder':''"></i>{{scope.row.fileName}}</span>
              <span v-if="scope.row.fileType=='文件夹'" class="handleOn" @click="cSaveClickRow(scope.$index,scope.row)"><i
                      :class="scope.row.fileType == '文件夹'?'folder':''"></i>{{scope.row.fileName}}</span>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top: 20px">
        <el-button icon="el-icon-plus" @click='cNewFolders' v-show="cSavePath.length!=0?true:false">新建文件夹</el-button>
        <div style="text-align: right">
          <el-button type="primary" @click="cClickSave">确 定</el-button>
          <el-button @click="cSaveOwnBox=false">取 消</el-button>
        </div>
        <!--</template>-->
        <!--</el-table-column>-->
        <!--</el-table>-->
        <!--<div style="margin-top: 20px">-->
          <!--<el-button icon="el-icon-plus" @click='cNewFolders' v-show="cSavePath.length!=0?true:false">新建文件夹</el-button>-->
          <!--<div style="text-align: right">-->
            <!--<el-button type="primary" @click="cClickSave">确 定</el-button>-->
            <!--<el-button @click="cMyShareEditBox=false">取 消</el-button>-->
          <!--</div>-->
        </div>
    </el-dialog>
    <!-- 新建文件夹 -->
    <el-dialog title="新建" :visible.sync="cAdd" width="30%">
      <el-form ref="form" label-width="100px">
        <el-form-item label="文件夹名称:">
          <el-input v-model="cAddName" placeholder="请输入文件夹名称"></el-input>
        </el-form-item>
        <el-form-item label="备注:">
          <el-input v-model="cAddTips" type="textarea" class="ownCline"></el-input>
        </el-form-item>
        <div class="dialog-footer" style="text-align: center;">
          <el-button type="primary" @click="addFolder">确 定</el-button>
          <el-button @click="noFolder">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
    <!-- 保存到新建文件夹 -->
    <el-dialog title="新建" :visible.sync="cSaveAdd" width="30%" @closed="cSaveAddClosed">
      <el-form ref="form" label-width="100px">
        <el-form-item label="文件夹名称:">
          <el-input v-model="cSaveAddName" placeholder="请输入文件夹名称" style="width: 315px"></el-input>
        </el-form-item>
        <el-form-item label="备注:">
          <el-input v-model="cSaveAddTips" type="textarea" style="width: 315px" class="ownCline"></el-input>
        </el-form-item>
        <div class="dialog-footer" style="text-align: center;">
          <el-button type="primary" @click="addSaveFolder">确 定</el-button>
          <el-button @click="cSaveAdd=false">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>

  <!--修改密码-->
  @@include("../tpl/updataPassword.html")

  <script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
  <script src="../../../public/static/jquery-1.12.4.js"></script>
  <script src="../../../public/static/echarts/echarts.min.js "></script>
  <script src="../../../public/static/mock.js"></script>
  <!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
  <!-- <script src="../../../assets/js/help.js"></script> -->
  <!-- <script src="./js/index.js"></script> -->
  <script src="../../../assets/js/ajaxSetup.js"></script>
  <!-- <script src="js/pdfobject.js"></script> -->
  <script src="../../../public/static/pdfobject.js"></script>
  <script src="js/userData.js"></script>
  <!--include "./../../../components/footer/footer.html"-->

  <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</body>

</html>