/**
* @author zzj
* @date 2018-03-23
*/



.layui-layout-admin .layui-footer {
  left: 0;
}

.layui-body {
  left: 200px;
}

.el-tabs__nav-wrap::after{
  width: 0px!important;
}
.el-tabs{
  padding: 10px 20px;
  color:white!important;
}

/*.el-tabs__item{*/
  /*color: white!important*/
/*}*/
/* .el-tab-pane{
  display: none
} */

/*.el-menu.el-menu--horizontal{*/
  /*border: none!important;*/
  /*color: white!important;*/
  /*background: #1d1e33*/
/*}*/

/*.el-menu--horizontal>.el-menu-item{*/
  /*color: white!important;*/
  /*!* border-radius: 4px *!*/
/*}*/
/*.el-menu--horizontal>.el-menu-item:hover{*/
  /*background: #9fa0b6!important*/
/*}*/

/*.is-active{*/
  /*background: #1d1e33!important*/
/*}*/


/* 滚动信息展示 */

.top-msg {
  width: 100%;
  overflow: hidden;
  background: #1d1e33;
}

.el-table .cell{
  text-align: center
}
/*.msg-bar {*/
  /*width: 50%;*/
  /*margin: 10px auto;*/
  /*overflow: hidden;*/
  /*background: #1d1e33;*/
  /*padding: 5px 10px;*/
  /*white-space: nowrap;*/
/*}*/

.msg-box {
  display: inline-block;
}

.msg-box div {
  display: inline-block;
}

.fl {
  margin-left: 110px;
  min-height: 36px;
}

/* 软件打开区域 */

.software-main {
  position: relative;
  min-height: 165px;
}

.software-box {
  margin: 10px 80px;
}

.software-box li {
  display: inline-block;
  width: 12.4%;
  padding: 20px;
  margin-right: 50px;
}

.software-show {
  padding: 10px;
  background: #ccc;
  text-align: center;
  width: 200px;
  margin-right: 10px;
  height: 100px;
  background: url(/opt/yxsd/upload/bg.png) no-repeat;
  background-size: 100% 100%;
}

.software-show-left,
.software-show-right {
  display: inline-block;
  width: calc(50% - 10px);
}

.software-show-left img,
.software-show-right img {
  padding-bottom: 10px;
}

.software-show-left .layui-input {
  height: 29px;
}

.arrowBox {
  position: absolute;
  top: calc(50% - 20px);
  width: 100%;
}

.arrowBox i {
  font-size: 50px;
  padding: 0 20px;
  cursor: pointer;
}


/* //表格切换 */

.table-tab {
  margin: 0 100px;
}


/* 弹框样式 */

.graphs {
  width: 49%;
  display: inline-block;
}

.graphs-left,
.graphs-right {
  width: 540px;
  height: 400px;
  padding-top: 20px;
}

.table-box {
  margin: 0 20px 20px;
}

#link-close {
  float: right;
}

#share-close {
  float: right;
}

/* .layui-table-view{
  width: 1150px;
} */

.layui-laypage .layui-laypage-curr .layui-laypage-em {
  width: 30px;
  background-color: #1A71F4;
  border-radius: 50%;
}

.layui-this{
  border: none!important;
  color: #00FFFF!important;
  border-bottom: 2px solid #00FFFF!important;
}

.layui-tab-title .layui-this:after{
  border: none
}

.top{
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;

}
.f-table{
  padding: 10px 20px;
}
.el-menu-demo{
  padding: 10px 20px!important;
}
.seaa{
  width: 200px;
  /*border-radius: 6px;*/
  border: 1px solid rgba(204,204,204,1);
  padding: 0 10px;
  font-size: 14px;
  height: 40px;
  outline: none;
  background: rgba(255,255,255,0.3);
}
.el-icon-close{
  font-size: 20px;
  font-weight: 900;
  margin-right: 20px;
  margin-left: -32px;
}
.el-message-box{
  border: none;
}
.el-dialog__header,.el-message-box__header{
  background: #1E9FFF;
}
.el-dialog__title,.el-message-box__title{
  color: #FFFFFF;
}
.el-dialog__headerbtn .el-dialog__close,.el-message-box__headerbtn .el-message-box__close{
  color: #FFFFFF;
}
.el-dialog__headerbtn .el-dialog__close:hover,.el-message-box__headerbtn .el-message-box__close:hover{
  color: #FFFFFF!important;
}
.el-message-box__message{
  font-size: 18px;
  font-weight: 400;
}
.layui-body{
  background: #FFFFFF;
}