<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->


<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content" style="padding: 20px 10px;">
    @@include("../../admin/tpl/search-btn.html", { "btn": "monitor-connect-btn", "input": "monitor-connect-input","icon": "monitor-connect-icon" })
    <div class="layui-row layui-form">
      <div class="layui-form-item">
        <div class="typeBox">
          <input checked type="radio" name="radio-btn" value="1" lay-filter="selectType" title="组织机构">
          <input type="radio" name="radio-btn" value="2" lay-filter="selectType" title="软件">
          <input type="radio" name="radio-btn" value="3" lay-filter="selectType" title="连接类型">
        </div>
        <div class="text-right">
          <button class="layui-btn layui-btn-normal layui-btn-sm btnClick" id="detail" data-name="info">详情</button>
          <button class="layui-btn layui-btn-normal layui-btn-sm btnClick editColor" data-name="open">打开</button>
          <button class="layui-btn layui-btn-normal layui-btn-sm btnClick delColor" data-name="close">关闭</button>
        </div>
      </div>
    </div>

    <div class="layout">
      <div class="left-content">
        <div id="treeList"></div>
      </div>
      <div class="right-content">
        <div id="dataBox" style="overflow: auto">
          <table  id="tableData" lay-filter="tableData"></table>
          <div id="page"></div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--include "./../../../components/footer/footer.html"-->

<!-- 详情页面 -->

<div id="detailHtml" style="display:none;">
  <div>
    <table class="layui-table detaiTable" lay-even="" lay-skin="nob">
      <colgroup>
        <col width="260">
        <col width="300">
        <col width="260">
        <col width="260">
        <col width="260">
        <col width="400">
      </colgroup>
      <thead>
        <!-- <tr>
                  <th></th>
                  <th></th>
                  <th>用户连接详情</th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr> -->
        <tr class="eidojou">
          <td><b>平台用户：</b><span class="userid"></span></td>
          <td><b>院所：</b><span class="institutes"></span></td>
          <td><b><span class="rankName"></span></b><span class="department"></span></td>
          <td><b>电话：</b><span class="tel"></span></td>
          <td><b>手机：</b><span class="phone"></span></td>
          <td><b>打开时间：</b><span class="opentime"></span></td>
        </tr>

      </thead>
      <tbody>
        <!-- <tr>
                  <td><b>平台用户：</b>
                      <span class="userid"></span>
                  </td>
                  <td><b>院所：</b><span class="institutes"></span></td>
                  <td><b><span class="rankName"></span></b><span class="department"></span></td>
                  <td><b>电话：</b><span class="tel"></span></td>
                  <td><b>手机：</b><span class="phone"></span></td>
                  <td><b>打开时间：</b><span class="opentime"></span></td>
              </tr> -->
        <tr class="eidojou">
          <td><b>系统用户：</b><span class="sysusername"></span></td>
          <td><b>软件：</b><span class="software"></span></td>
          <td><b>IP：</b><span class="city"></span></td>
          <td><b>服务器：</b><span class="server"></span></td>
          <td><b>端口：</b><span class="port"></span></td>
          <td><b>空闲时间：</b><span class="leavetime"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="detailTable" lay-filter="detailTable"></div>

</div>

<!--修改密码-->
@@include("../tpl/updataPassword.html")


<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="js/connectManage.js"></script>

<script type="text/html" id="releaseBtn">
  <!-- 更改layui表格内容 - 操作 释放按钮 -->
  <!-- <button class="layui-btn connectReleaseBtn">释放</button> -->
  <span>释放</span>
</script>

</body>

</html>