<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<style>
  .layui-table-cell{
    width:139px!important
  }
  .layui-table-body {
    overflow: visible;
  }
</style>

<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">
    

    @@include("../../admin/tpl/search-btn.html", { "btn": "monitor-hardware-monitor-btn", "input":
    "monitor-hardware-monitor-input","icon": "monitor-hardware-monitor-icon"})

    <div class="layui-row">
      <div class="layui-form layui-col-sm6">
        <div class="layui-form-item layui-col-space12">
          <div class="layui-col-sm4">
            <!-- <input value="1" lay-filter="selectType"  type="radio" name="sex"  title="按资源池选择"> -->
            <div class="mt10">
              <select id="resources" class="mt10" name="interest" lay-filter="resources">
                <option value="">按资源池选择</option>
              </select>
            </div>
          </div>
          <div class="layui-col-sm4">
            <!-- <input value="2" lay-filter="selectType"  type="radio" name="sex"  title="按操作系统选择"> -->
            <div class="mt10">
              <select id="system" name="interest" lay-filter="system">
                <option value="">按操作系统选择</option>
              </select>
            </div>
          </div>
          <div class="layui-col-sm4">
            <!-- <input value="3" lay-filter="selectType"  type="radio" name="sex"  title="按设备类型选择"> -->
            <div class="mt10">
              <select id="equipment" name="interest" lay-filter="equipment">
                <option value="">按设备类型选择</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-form layui-col-sm6 dashboard-box">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div class="layui-col-sm4 dashboard">
          <div id="main" style="width: 200px;height:150px;margin-left:20%"></div>
        </div>
        <div class="layui-col-sm4 dashboard">
          <div id="main1" style="width: 200px;height:150px;margin-left:20%;"></div>
        </div>
        <div class="layui-col-sm4 dashboard">
          <div id="main2" style="width: 200px;height:150px;margin-left:20%;"></div>
        </div>

      </div>
    </div>
    <div class="layui-row">
      <div class="layui-form">
        <div class="layui-form-item">
          <input checked type="radio" lay-filter="type" name="sex" value="equipment_name" title="设备名">
          <input type="radio" lay-filter="type" name="sex" value="cpu" title="CPU">
          <input type="radio" lay-filter="type" name="sex" value="memory" title="内存">
          <input type="radio" lay-filter="type" name="sex" value="gpu" title="显存">
          <input type="radio" lay-filter="type" name="sex" value="user_count" title="用户数">
          <input type="radio" lay-filter="type" name="sex" value="connection_count" title="连接数">

        </div>
      </div>
    </div>
    <div class="layui-row">
      <ul id="ul" class="hardBox" style="display: flex;flex-wrap: wrap;">
      </ul>
    </div>
    <div id="laypage"></div>

  </div>


  <!--include "./../../../components/footer/footer.html"-->


  <!-- 详情页面 -->

  <div id="detailHtml" style="display:none;">
    <div style="margin: 10px;text-align: right;"><button type="button" 	class="layui-btn layui-btn-normal" id="reboot">重启服务器</button></div>
    <div id="detailTable" lay-filter="detailTable"></div>
  </div>

  <div id="tipsId">
    sdsd asds ad
  </div>

  <!--修改密码-->
  @@include("../tpl/updataPassword.html")

  <!-- <script src="../../assets/js/library.js "></script> -->
  <script src="../../../public/static/echarts/echarts.min.js "></script>
  <!-- <script id="mockData" src="mockData/connectManageMock.js"></script> -->
  <script src="./../../../assets/js/ajaxSetup.js"></script>
  <script src="js/hardwareMonitor.js"></script>
  <script type="text/html" id="barDemo1">
    <!-- 更改layui表格内容 - state -->
    <div class="state-1"></div>
    <!-- <div id="state-2"></div> -->
  </script>
  <script type="text/html" id="barDemo2">
    <!-- 更改layui表格内容 - 操作 打开关闭 -->
    <span class="hardwareMonitor-open">打开</span>
    <!-- <span class="hardwareMonitor-close">关闭</span> -->

  </script>
  <script type="text/html" id="barDemo3">
    <!-- 更改layui表格内容 - 操作 打开关闭 -->
    <!-- <span class="hardwareMonitor-open">打开</span> -->
    <span class="hardwareMonitor-close">关闭</span>

  </script>


  </body>

  </html>