<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->


<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">

    @@include("../../admin/tpl/search-btn.html", { "btn": "monitor-hardware-report-btn", "input":
    "monitor-hardware-report-input","icon": "monitor-hardware-report-icon" })


    <div class="layui-row">
      <div class="layui-form layui-col-sm6">
        <div class="layui-form-item layui-col-space12">
          <div class="layui-col-sm4">
            <div class="mt10">
              <select id="resources" class="mt10" name="interest" lay-filter="resources">
                <option value="">按资源池选择</option>
              </select>
            </div>
          </div>
          <div class="layui-col-sm4">
            <div class="mt10">
              <select id="system" name="interest" lay-filter="system">
                <option value="">按操作系统选择</option>
              </select>
            </div>
          </div>
          <div class="layui-col-sm4">
            <div class="mt10">
              <select id="equipment" name="interest" lay-filter="equipment">
                <option value="">按设备类型选择</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-form layui-col-sm6 dashboard-box">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div class="layui-col-sm4 dashboard">
          <div id="main" style="width: 200px;height:150px;margin-left:20%"></div>
        </div>
        <div class="layui-col-sm4">
          <div id="main1" style="width: 200px;height:150px;margin-left:20%"></div>
        </div>
        <div class="layui-col-sm4">
          <div id="main2" style="width: 200px;height:150px;margin-left:20%"></div>
        </div>

      </div>
    </div>


    <div class="layui-row">
      <div class="layui-form">
        <div class="layui-form-item">
          <div class="layui-col-sm8">
            <input checked type="radio" name="radio" value="1" lay-filter="dateType" title="最近一天">
            <input type="radio" name="radio" value="2" lay-filter="dateType" title="最近一周">
            <input type="radio" name="radio" value="3" lay-filter="dateType" title="最近一个月">
            <input type="text" class="layui-input data" id="test1" placeholder="请输入起始时间">
            <input type="text" class="layui-input data" id="test2" placeholder="请输入结束时间">
            <button class="layui-btn layui-btn-normal layui-btn-sm hardwareReportQuery">查询</button>
            <button class="layui-btn layui-btn-normal layui-btn-sm hardwareReportExport">导出</button>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-row">
      <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

      <div id="mainLine" class="softGraph"></div>
    </div>
  </div>


  <!--include "./../../../components/footer/footer.html"-->
  <!--修改密码-->
  @@include("../tpl/updataPassword.html")




  <!-- <script src="../../assets/js/library.js "></script> -->
  <script src="../../../public/static/echarts/echarts.min.js "></script>
  <!-- <script id="mockData" src="mockData/connectManageMock.js"></script> -->
  <script src="./../../../assets/js/ajaxSetup.js"></script>
  <script src="js/hardwareReport.js"></script>
  </body>

  </html>