<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->


<div class="layui-body">
	<!-- 内容主体区域 -->
	<div class="layui-content">
		<div class="layui-row layui-form-item">
			<div class="layui-input-inline">
				<input type="text " name="title " lay-verify="title " autocomplete="off " placeholder="搜索 " class="layui-input ">
			</div>
		</div>

		<div class="layui-row layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">单选框</label>
				<div class="layui-input-block">
					<input type="radio" name="sex" value="男" title="男" checked="">
					<input type="radio" name="sex" value="女" title="女">
					<input type="radio" name="sex" value="禁" title="禁用" disabled="">
				</div>
			</div>
		</div>

		<div class="layui-row clearfix">
			<div class="left-menu fl">
				<div id="treeList"></div>
			</div>
			<div class="right-content">
				<div class="text-right">
					<button class="layui-btn layui-btn-normal layui-btn-sm">详情</button>
					<button class="layui-btn layui-btn-normal layui-btn-sm">打开</button>
					<button class="layui-btn layui-btn-normal layui-btn-sm">关闭</button>
				</div>
				<div>
					<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>
				</div>
			</div>
		</div>



		<form class="layui-form" action="http://10.1.1.234:9006/AppConnection/downLoadVnc">
			<div class="layui-form-item">
				<label class="layui-form-label">单行输入框</label>
				<div class="layui-input-block">
					<input type="text" name="fileName" id="fileName" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
					<input type="hidden" name="cont" id="cont" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="submit" class="layui-btn">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
		<button id="linkPost" class="layui-btn layui-btn-primary">连接</button>
	</div>
</div>


<!--include "./../../../components/footer/footer.html"-->


<!-- <script src="../../assets/js/library.js "></script> -->
<script src="js/index.js"></script>
</body>

</html>
