<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<link rel="stylesheet" href="style/Journal.css">


<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">
    <div id="Journal" class="layout">
      <div>
        <el-input class="search" placeholder="搜索" clearable v-model="searchVal" @keyup.enter.native="handleSearch">
          <el-button class="searchBtn" slot="append" type="primary" @click="handleSearch">搜索</el-button>
        </el-input>
        <el-date-picker value-format="yyyy-MM-dd" v-model="date" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
        <el-button type="primary" @click="handleSearchDate">查询</el-button>
        <el-button type="primary" @click="handleExport">导出报表</el-button>
      </div>
      <el-table class="table" :data="tableData" border style="width: 100%" height="650" @sort-change="handleSort" :sort-orders="orders">
        <el-table-column type="index">
        </el-table-column>
        <el-table-column show-overflow-tooltip sortable='custom' prop="level" label="状态">
            <template slot-scope="scope">
                <div style="color: green" v-if="scope.row.level == 'info' ? true : false">{{scope.row.level == 'info' ? '正常' : '异常'}}</div>
                <div style="color: red" v-if="scope.row.level == 'info' ? false : true">{{scope.row.level == 'info' ? '正常' : '异常'}}</div>
             </template>
        </el-table-column>
        <el-table-column show-overflow-tooltip sortable='custom' prop="now" label="时间">
        </el-table-column>
        <el-table-column show-overflow-tooltip sortable='custom' prop="realUser" label="用户">
        </el-table-column>
        <el-table-column show-overflow-tooltip prop="ip" label="用户端IP">
        </el-table-column>
        <el-table-column show-overflow-tooltip prop="message" label="日志内容">
        </el-table-column>
      </el-table>
      <el-pagination background @current-change="handleCurrentChange" :page-size="size" :total="total" layout="prev, pager, next, jumper">
    </el-pagination>
    </div>
  </div>



  <!--include "./../../../components/footer/footer.html"-->
  <!--修改密码-->
  @@include("../tpl/updataPassword.html")

  <script src="./../../../assets/js/ajaxSetup.js"></script>
  <script src="js/Journal.js"></script>
  </body>

  </html>