<!DOCTYPE html>
<html>
<body>
    <script src="./../../../public/static/elementui/vuejs.js"></script>
    <script src="./../../../public/static/elementui/elementui.js"></script>
    <link rel="stylesheet" href="./style/plot.css">
    <!--include "./../../../components/nav/nav.html"-->
    <!--include "./../../../components/left/left.html"-->
    <div id="app" style="display:flex;">
        <div class="layui-body" style="margin-left: 10px;margin-top: 10px;">
            <div class="layui-content">
                <!-- top -->
                <div class="body-top">
                    <div class="btn">
                            <form id="export"></form>
                        <el-button type="primary" @click="addmapping">添加绘图仪</el-button>
                        <el-button type="success" @click="editmapping">编辑</el-button>
                        <el-button class="button-delete" type="danger" @click="deltetmapping">删除</el-button>
                    </div>

                        <div class="middle-content" v-for="(item,index) in showPageData" :key=index>
                            <img class="mapping-img" src="./img/u134.png" alt="" @click="editmapping($event,index)">
                            <el-checkbox :label="item.name" @change="handlerChanger(index,item.id)"></el-checkbox>
                        </div>
                    
                </div>
                <!-- bottom -->
                <div class="body-bottom">
                    <div class="bottom-top">
                        <el-select v-model="form.searchbeforeval" placeholder="请选择">
                            <el-option v-for="item in form.searchoption" :key="item.id" 
                                :value="item.name" @change="selectHandler(item.name)">
                            </el-option>
                        </el-select>
                        <el-input class="search" placeholder="搜索" clearable v-model="searchVal">
                            <el-button class="searchBtn" slot="append" type="primary" @click="handleSearch">搜索</el-button>
                        </el-input>
                        时间：
                        <el-date-picker value-format="yyyy-MM-dd" v-model="searchdate" type="daterange"
                            range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
                        <el-button type="primary" @click="handleSearchDate">查询</el-button>
                        <el-button type="primary" @click="handleExport" class="exportHardWare">导出报表</el-button>
                    </div>
                    <!-- teble -->
                    <div class="cloud-table">
                        <el-table :data="tableData" border style="width: 100%">
                            <el-table-column label="#" :show-overflow-tooltip="true" prop="ROW_ID">
                            </el-table-column>
                            <el-table-column label="系统用户" :show-overflow-tooltip="true" prop="systemUsername" sortable>
                            </el-table-column>
                            <el-table-column label="应用服务器名称" :show-overflow-tooltip="true" prop="serverName" sortable>
                            </el-table-column>
                            <el-table-column label="文件名称" :show-overflow-tooltip="true" prop="fileName" sortable>
                            </el-table-column>
                            <el-table-column label="绘图仪名称" :show-overflow-tooltip="true" prop="draughtingInstrumentName"
                                sortable>
                            </el-table-column>
                            <el-table-column label="打印时间" :show-overflow-tooltip="true" prop="printTime" sortable>
                            </el-table-column>
                        </el-table>
                        <el-pagination background @current-change="handleCurrentChange" :page-size="size" :total="total" layout="prev, pager, next, jumper">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- 新建弹框 -->
        <el-dialog :title="form.dialogtitle" :visible.sync="dialogFormVisible" class="new-dialog">
            <el-form ref="form" :model="form" label-width="80px">

                <h3>基本信息</h3>
                <div class="form-top">
                    <el-form-item label="IP" :rules="[{ required: true, message: '请输入IP', trigger: 'blur' }]">
                        <el-input v-model="form.intranetIp" placeholder="请输入内容"></el-input>
                    </el-form-item>
                    <el-form-item label="绘图仪名称" :rules="[{ required: true, message: '请输入绘图仪名称', trigger: 'blur' }]">
                        <el-input v-model="form.name" placeholder="请输入内容" required>
                    </el-form-item>
                    <el-form-item label="描述" class="form-textarea">
                        <el-input type="textarea" v-model="form.describe" placeholder="请输入内容"></el-input>
                    </el-form-item>
                </div>

                <h3>资产信息</h3>
                <div class="form-bottom">
                    <el-form-item label="厂商">
                        <el-input v-model="form.manufacturer" placeholder="请输入内容"></el-input>
                    </el-form-item>
                    <el-form-item label="购买日期">
                        <el-date-picker type="date" placeholder="选择日期" v-model="form.assetPurchaseDate">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="资产编号">
                        <el-input v-model="form.assetNumber" placeholder="请输入内容"></el-input>
                    </el-form-item>


                    <el-form-item label="产权单位">
                    <el-select v-model="mineStatus" placeholder="请选择" multiple collapse-tags >
                        <el-option  :value="mineStatus" style="height: auto">
                             <el-tree :data="treedata" default-expand-all show-checkbox check-strictly node-key="id"  ref="tree" highlight-current :props="defaultProps" @check-change="handleCheckChange"></el-tree>
                        </el-option>
                    </el-select>
                </el-form-item>


                    <el-form-item label="绘图仪管理员" :rules="[{ required: true, message: '请选择绘图管理员', trigger: 'blur' }]">
                        <el-select v-model="form.administrator" placeholder="请选择" required>
                            <el-option v-for="item in form.options" :key="item.realName" :label="item.realName"
                                :value="item.realName">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>

                <el-form-item class="mapping-btn">
                    <el-button type="primary" @click="onSubmit">确认</el-button>
                    <el-button @click=closebtn>取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>


    <script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
    <script src="../../../public/static/jquery-1.12.4.js"></script>
    <script src="../../../public/static/echarts/echarts.min.js "></script>
    <script src="./../../../assets/js/ajaxSetup.js"></script>
    <script src="./js/plot.js"></script>
    <script src="../../../public/static/mock.js"></script>
    <!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
    <!-- <script src="../../../assets/js/help.js"></script> -->
    <!-- <script src="./js/index.js"></script> -->
    <!-- <script src="./../../../assets/js/ajaxSetup.js"></script> -->
    <!--include "./../../../components/footer/footer.html"-->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</body>
</html>