<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->


<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">

    @@include("../../admin/tpl/search-btn.html", { "btn": "monitor-software-monitor-btn", "input":
    "monitor-software-monitor-input","icon": "monitor-software-monitor-icon" })

    <div class="layui-row">
      <div class="layui-form layui-col-sm6">
        <div class="layui-form-item">
          <div class="typeBox">
            <input checked type="radio" name="radio-btn" value="1" lay-filter="selectType" title="组织机构">
            <input type="radio" name="radio-btn" value="2" lay-filter="selectType" title="类型">
          </div>
        </div>
      </div>
    </div>

    <div class="layout">
      <div class="left-content">
        <div id="treeList"></div>
      </div>
      <div class="right-content">
        <div id="dataBox">
          <div id="main" class="softGraph"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="detailHtml" style="width: 100%; height: 100%; display:none;">
    <div id="detailEcharts" style="width: 100%; height: 100%"></div>
    <div class="echartBox">
      <i class="layui-icon echartLeft">&#xe603;</i>
      <i class="layui-icon echartRight fr">&#xe602;</i>
    </div>
  </div>


  <!--include "./../../../components/footer/footer.html"-->
  <!--修改密码-->
  @@include("../tpl/updataPassword.html")


  <!-- <script src="../../assets/js/library.js "></script> -->
  <script src="../../../public/static/echarts/echarts.min.js "></script>
  <!-- <script id="mockData" src="mockData/connectManageMock.js"></script> -->
  <script src="./../../../assets/js/ajaxSetup.js"></script>
  <script src="js/softwareMonitor.js"></script>
  </body>

  </html>