<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<style>
  .arrowRight{
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 40%;
  cursor: pointer;
  right: 88px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 23px;}
  .arrowLeft{
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    top: 40%;
    cursor: pointer;
    left: 280px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 23px;
    z-index: 9;
  }
</style>

<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">
    <div class="topBtns">
      @@include("../../admin/tpl/search-btn.html", { "btn": "monitor-software-report-btn", "input":
      "monitor-software-report-input","icon": "monitor-software-report-icon" })
      <div class="layui-form layui-col-sm7 timeBox">
        <input type="radio" name="radio" value="1" lay-filter="dateType" title="最近一周" checked>
        <input type="radio" name="radio" value="2" lay-filter="dateType" title="最近一个月">
        <input type="text" class="layui-input data" id="test1" placeholder="请输入起始时间">
        <input type="text" class="layui-input data" id="test2" placeholder="请输入结束时间">
        <button class="layui-btn layui-btn-normal layui-btn-sm softwareReportQuery softwareReportQuery1">查询</button>
        <button class="layui-btn layui-btn-normal layui-btn-sm softwareReportExport">导出</button>
      </div>
    </div>
    <div class="layui-row">
        <div class="layui-form layui-col-sm6">
          <div class="layui-form-item">
            <div class="typeBox">
              <input checked type="radio" name="radio-btn" value="1" lay-filter="selectType" title="组织机构">
              <input type="radio" name="radio-btn" value="2" lay-filter="selectType" title="类型">
            </div>
          </div>
        </div>
      </div>

      <div class="layout">
        <div class="left-content">
          <div id="treeList"></div>
        </div>
        <div class="arrowLeft"><</div>
        <div class="right-content">
          <div id="dataBox">
            <div id="dataBox">
              <div id="main" class="softGraph"></div>
            </div>
          </div>
        </div>
        <div class="arrowRight">> </div>
      </div>


  </div>

  <!--include "./../../../components/footer/footer.html"-->
  <!--修改密码-->
  @@include("../tpl/updataPassword.html")




  <!-- <script src="../../assets/js/library.js "></script> -->
  <script src="../../../public/static/echarts/echarts.min.js "></script>
  <!-- <script id="mockData" src="mockData/connectManageMock.js"></script> -->
  <script src="./../../../assets/js/ajaxSetup.js"></script>
  <script src="js/solfwareReport.js"></script>
  <!-- <script src="js/solfwareReportSelect.js"></script> -->
  </body>

  </html>