<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<style>
  .layui-table-body{
    overflow: visible;
  }
</style>
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">
    <div class="usersearch">
      @@include("../../admin/tpl/search-btn.html", { "btn": "monitor-user-btn", "input": "monitor-user-input","icon": "monitor-user-icon" })
    </div>
    <div class="layout">
      <div class="left-content">
        <div id="treeList"></div>
      </div>
      <div class="right-content">
        <div class="rtHeight">
            <div id="main" class="softGraph"></div>
        </div>
        <div class="rbHeight">
          <table class="layui-hide" id="tableData" lay-filter="tableData"></table>
        </div>
      </div>
    </div>

    <!-- <div class="layui-row clearfix userClearfix">
      <div class="left-content">
        <div id="treeList"></div>
      </div>
      <div class="right-content">
        <div class="pr">
          <div id="main" class="softGraph"></div>
          <div class="arrowBox">
            <i class="layui-icon arrowLeft">&#xe603;</i>
            <i class="layui-icon arrowRight fr">&#xe602;</i>
          </div>
        </div>
        <div id="dataBox">
          <table class="layui-hide" id="tableData" lay-filter="tableData"></table>
        </div>
      </div>
    </div> -->

  </div>


  <!--include "./../../../components/footer/footer.html"-->
  <!--修改密码-->
  @@include("../tpl/updataPassword.html")


  <!-- <script src="../../assets/js/library.js "></script> -->
  <script src="../../../public/static/echarts/echarts.min.js "></script>
  <!-- <script id="mockData" src="mockData/connectManageMock.js"></script> -->
  <script src="./../../../assets/js/ajaxSetup.js"></script>
  <script src="js/userMonitor.js"></script>
  </body>

  </html>