<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->

<link rel="stylesheet" href="./style/userReport.css">
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">
    <div class="usersearch">
      @@include("../../admin/tpl/search-btn.html", { "btn": "monitor-user-report-btn", "input": "monitor-user-report-input","icon": "monitor-user-report-icon" })
      <div class="layui-form layui-col-sm7 timeBox">
        <input type="radio" name="radio" value="1" lay-filter="dateType" title="最近一周" checked>
        <input type="radio" name="radio" value="2" lay-filter="dateType" title="最近一个月">
        <input type="text" class="layui-input data" id="test1" placeholder="请输入起始时间">
        <input type="text" class="layui-input data" id="test2" placeholder="请输入结束时间">
        <button class="layui-btn layui-btn-normal layui-btn-sm softwareReportQuery softwareReportQuery1">查询</button>
        <button class="layui-btn layui-btn-normal layui-btn-sm softwareReportExport">导出</button>
      </div>
    </div>

    <div class="layout">
      <div class="left-content">
        <div id="treeList"></div>
      </div>
      <div class="right-content" style="width: 85%;">
        <div class="rtHeight">
          <div id="main" class="softGraph"></div>
          <div class="userTime">
            <div class="usercount"></div>
            <div class="time"></div>
          </div><br />
          <div class="userinfo">
            <span>使用人数</span><span class="right">使用时间(分钟)</span>
          </div>
        </div>
        <div class="rbHeight">
          <div id="userTable" lay-filter="userTable"></div>
        </div>
      </div>
    </div>

    <!-- <div class="layui-row clearfix userClearfix">
      <div class="left-menu fl">
        <div id="treeList"></div>
      </div>
      <div class="right-content">
        <div id="main" class="softGraph"></div>
        <div class="userTime">
          <div class="usercount"></div>
          <div class="time"></div>
        </div><br />
        <div class="userinfo">
          <span>使用人数</span><span class="right">使用时间(分钟)</span>
        </div>
        <div id="userTable" lay-filter="userTable"></div>
      </div>
    </div> -->

    
  </div>


  <!--include "./../../../components/footer/footer.html"-->
  <div id="userDetailHtml" style="display:none;">
    <div class="clickData"></div>
  </div>
  <!--修改密码-->
  @@include("../tpl/updataPassword.html")




  <!-- <script src="../../assets/js/library.js "></script> -->
  <script src="../../../public/static/echarts/echarts.min.js "></script>
  <!-- <script id="mockData" src="mockData/connectManageMock.js"></script> -->
  <script src="./../../../assets/js/ajaxSetup.js"></script>
  <script src="js/userReport.js"></script>

  </body>

  </html>