.reinput{
    width: 142.5px;
    float: left;
}
.reinput:nth-child(1){
    width:47.5px;
}

.layui-content{
    width: 100%;
    height: 100%;
    position:relative;
    /*display: table;*/
}
#main{

    /*width: 100%;*/
    /*height: 100%;*/
    width: 984px;
    height: 652px;
    /*height: 572px;*/
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;


}
#main table tr td{
    padding: 10px;
    text-align: center;
}
#main table tr td label{
    font-size: 18px;
    font-weight: 600;
}
/*#main table tr td span{*/
    /*font-size: 18px;*/
    /*font-weight: 600;*/
/*}*/
/*#main table tr td:first-child{*/
    /*padding: 50px 100px;*/
    /*font-size: 20px;*/
    /*font-weight: 900;*/
/*}*/
#main .fsfg{
    /*padding: 46px 100px;*/
    padding: 20px 100px;
    font-size: 20px;
    font-weight: 900;
}
#main .mr{
    margin-right: 10px;
}
#main .layui-form-item{
    margin-bottom: 0px;
}
button{
    margin-top: 4px;
}
.layui-form-select dl{
    max-height: 190px;
}
