.bigbody{
    margin-left: 208px;
    background: white;
    margin-top: 5px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    overflow: scroll;
    height: 900px;
    .login{
        img{
            width: 24px;
            margin: 0 10px 0 32px;
        }
    }
    input[type=text]{
        width: 80px;
        height: 30px;
        outline: none;
        margin: 0 12px;
        padding: 0 10px;
    }
    .logintitle{
        padding:32px 30px ;
        font-size: 20px;
        font-weight: 900;

    }
    .loginbtn{
        padding: 50px 30px 0;
    }
}
.el-radio__label{
    font-size: 16px!important
}
.softwareType input[type=text]{
    width: auto;
    height: auto;
    margin: 0;
}
.el-switch__label--left{
    position: relative;
    left: 62px;
    color: #fff;
    z-index: -1111;
}
.el-switch__label--right{
    position: relative;
    right: 62px;
    color: #fff;
    z-index: -1111;
}
.el-switch__label.is-active {
    z-index: 1111;
    color: #fff;
}
.selcMager input[type=text]{
    width: 226px;
    height: auto;
    margin: 0;
}
.selcMager .el-select__tags{
    max-width: 226px!important;
}
input:disabled {
    color: rgb(84, 84, 84)!important;
    cursor: default!important;
    background-color: rgb(235, 235, 228)!important;
}
.addwidth{
    width: 200px!important;
}
.chainfdg .el-input__suffix{
   right: 13px;
}
.chainfdg .el-input__inner{
    width: 100px!important;
}
.chainfdg .el-input__icon{
    line-height: 30px;
}