.bigbody {
  margin-left: 208px;
  background: white;
  margin-top: 5px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  overflow: scroll;
  height: 900px; }
  .bigbody .login img {
    width: 24px;
    margin: 0 10px 0 32px; }
  .bigbody input[type=text] {
    width: 80px;
    height: 30px;
    outline: none;
    margin: 0 12px;
    padding: 0 10px; }
  .bigbody .logintitle {
    padding: 32px 30px;
    font-size: 16px;
    font-weight: 900; }
  .bigbody .loginbtn {
    padding: 50px 30px 0; }

.el-radio__label {
  font-size: 16px !important; }

.softwareType input[type=text] {
  width: auto;
  margin:0;
  height: auto; }
.selcMager input[type=text]{
  width: 226px;
  height: auto;
  margin: 0;
}
.selcMager .el-select__tags{
  max-width: 226px!important;
}
/*# sourceMappingURL=parameter.css.map */
input:disabled {
  color: rgb(84, 84, 84)!important;
  cursor: default!important;
  background-color: rgb(235, 235, 228)!important;
}
.addwidth,.password{
  width: 200px!important;
}
.chainfdg .el-input__suffix{
  right: 13px;
}
.chainfdg .el-input__inner{
  width: 100px!important;
}
.chainfdg .el-input__icon{
  line-height: 30px;
}