<!--字典表-->
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<link rel="stylesheet" href="style/dictionaryTable.css" />
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">
    <div id="main">
      <table border="solid 1px black">
        <tr>
          <td class="fsfg">域</td>
          <td>
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">域类型</label>
                  <div class="layui-input-inline">
                    <input name="domainTypeList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addDomainTypeList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="domainTypeList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmDomainTypeList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td class="fsfg">操作系统</td>
          <td>
            <!--<span>操作系统</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">操作系统</label>
                  <div class="layui-input-inline">
                    <input name="osTypeList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addOsTypeList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="osTypeList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmOsTypeList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td rowspan="3" class="fsfg">软件</td>
          <td>
            <!--<span>软件类型</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">软件类型</label>
                  <div class="layui-input-inline">
                    <input name="appTypeList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addAppTypeList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="appTypeList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmAppTypeList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px;">
            <!--<span>许可分类</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">许可分类</label>
                  <div class="layui-input-inline">
                    <input name="licensePatternList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addLicensePatternList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="licensePatternList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmLicensePatternList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px;">
            <!--<span>许可分类</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">软件图标</label>
                  <div class="layui-input-inline">
                    <input name="uploadImg" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addUploadImg">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="uploadImg" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmUploadImg button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td rowspan="2" class="fsfg">硬件</td>
          <td>
            <!--<span>资源类型</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">资源类型</label>
                  <div class="layui-input-inline">
                    <input name="hardwareTypeList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addHardwareTypeList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="hardwareTypeList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmHardwareTypeList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px;">
            <!--<span>品牌</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">品牌</label>
                  <div class="layui-input-inline">
                    <input name="hardwareBrandList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addHardwareBrandList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="hardwareBrandList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmHardwareBrandList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td class="fsfg">连接</td>
          <td>
            <!--<span>连接方式</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">连接方式</label>
                  <div class="layui-input-inline">
                    <input name="appConnectionTypeList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addAppConnectionTypeList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="appConnectionTypeList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmAppConnectionTypeList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td class="fsfg">负载均衡</td>
          <td>
            <!--<span>负载策略</span>-->
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">负载策略</label>
                  <div class="layui-input-inline">
                    <input name="loadLevelingList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title" />
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addLoadLevelingList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="loadLevelingList" lay-search="">
                      <!--<option value="">直接选择或搜索选择</option>-->
                      <!--<option value="1">layer</option>-->
                      <!--<option value="2">form</option>-->
                    </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmLoadLevelingList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td class="fsfg">职位</td>
          <td>
            <form class="layui-form" lay-filter="">
              <div class="edit-son1 clearfix">
                <div class="layui-form-item fl">
                  <label class="layui-form-label">职位名称</label>
                  <div class="layui-input-inline">
                    <input class="reinput" name="level" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title"/>
                    <input class="reinput" name="positionList" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title"/>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr addPositionList">增加</button>
                <div class="layui-inline fl mr">
                  <div class="layui-input-inline">
                    <select name="positionList" lay-search=""> </select>
                  </div>
                </div>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm fl mr rmPositionList button-delete">删除</button>
              </div>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--修改密码-->
@@include("../tpl/updataPassword.html")

<!--include "./../../../components/footer/footer.html"-->
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="js/dictionaryTable.js"></script>
