<!--域管理-->
<!--<script src="../../../assets/js/help.js"></script>-->
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->

<div class="layui-body" style="height: 100%">
    <!-- 内容主体区域 -->
    <div class="layui-content">

        <div class="layui-table clearfix">
            <h2 style="font-weight: 900;color: #000000;">域管理</h2>
            <!--@@include("../../admin/tpl/search-btn.html", { "btn": "index-footer1", "input": "index-footer1" })-->
            <!--操作按钮-->
            <div class="main-btn-field fr">
                <button class="layui-btn layui-btn-sm layui-btn-normal new-build-field">新增</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-field">编辑</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal del-class button-delete">删除</button>
                <!--<button class="layui-btn layui-btn-sm layui-btn-normal">导入</button>-->
                <!--<button class="layui-btn layui-btn-sm layui-btn-normal">导出</button>-->
            </div>
            <!--数据表格-->
            <div style="width: 100%">
                <table class="layui-hide" id="fieldTable" lay-filter="demo"></table>
                <!--<div id="fieldTablePage"></div>-->
            </div>
        </div>
        <div class="layui-table clearfix">
            <h2 style="font-weight: 900;color: #000000;">域用户管理</h2>
            <div class="clearfix" style="margin-top: 30px">
                <div class="fl">
                    <!--搜索框-->
                    @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer2", "input": "index-footer2","icon": "icon-footer2" })
                </div>
                <!--操作按钮-->
                <div class="main-btn-user fr">
                    <button class="layui-btn layui-btn-sm layui-btn-normal new-build-user">新增</button>
                    <!--<button class="layui-btn layui-btn-sm layui-btn-normal">编辑</button>-->
                    <button class="layui-btn layui-btn-sm layui-btn-normal del-user button-delete">删除</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal remove-user">移除</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal reductionUser">还原</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal downloadTemplate">下载导入模板</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal ImportFieldUser">导入</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal exportSystemUserData" style="margin-left: 10px">导出</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal synchronousSystemUser">同步</button>
                </div>
            </div>


            <div style="width: 100%">
                <table class="layui-table" id="sysUser" lay-filter="demo"></table>
                <div id="sysUserPage"></div>
            </div>
        </div>


    </div>
</div>



<!--新建域-->
<div class="new-field" style="display: none">
    <!--<h2>新增域</h2>-->
    <form class="layui-form" action="" lay-filter="newField">
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input name="name" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
            <b class="star fl">*</b>
        </div>
        <!--下拉-->
        <div class="layui-form-item">
            <div class="layui-inline clearfix">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline">
                    <select name="domainType" lay-search="" lay-verify="required">
                        <!--<option value="">直接选择或搜索选择</option>-->
                        <!--<option value="1">layer</option>-->
                        <!--<option value="2">form</option>-->
                        <!--<option value="3">layim</option>-->
                    </select>
                </div>
                <b class="star fl">*</b>
            </div>
        </div>
        <div class="line" style="border-bottom: 1px black dashed;margin: 10px 0px;"></div>


        <h3>主机</h3>
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">IP</label>
            <div class="layui-input-inline">
                <input name="ip" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required|ip">
            </div>
            <b class="star fl">*</b>
        </div>
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">用户</label>
            <div class="layui-input-inline">
                <input name="userName" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
            <b class="star fl">*</b>
        </div>
        <!--密码-->
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input name="password" class="layui-input" type="password" placeholder="" autocomplete="off" lay-verify="required|pass2">
            </div>
            <b class="star fl">*</b>
        </div>
        <div class="line" style="border-bottom: 1px black solid;margin: 10px 0px;"></div>
        <h3>从机</h3>
        <div class="layui-form-item">
            <label class="layui-form-label">IP</label>
            <div class="layui-input-inline">
                <input name="followIp" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="ip">
            </div>
        </div>
        <!--文本域-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-inline">
                <textarea name="description" class="layui-textarea" placeholder="请输入内容" style="width: 190px"></textarea>
            </div>
        </div>
        <!--提交按钮-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="newDomain" lay-submit="">确定</button>
                <button class="layui-btn cancel" type="button">取消</button>
                <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
            </div>
        </div>
    </form>

</div>
<!--编辑域-->
<div class="edit-field" style="display: none">
    <!--<h2>编辑域</h2>-->
    <form class="layui-form" action="" lay-filter="editField">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="id" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input name="name" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
            <b class="star fl">*</b>
        </div>
        <!--下拉-->
        <div class="layui-form-item">
            <div class="layui-inline clearfix">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline">
                    <select name="domainType" lay-verify="required">
                        <!--<option value="">直接选择或搜索选择</option>-->
                        <!--<option value="1">layer</option>-->
                        <!--<option value="2">form</option>-->
                        <!--<option value="3">layim</option>-->
                    </select>
                </div>
                <b class="star fl">*</b>
            </div>
        </div>
        <div class="line" style="border-bottom: 1px black dashed;margin: 10px 0px;"></div>


        <h3>主机</h3>
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">IP</label>
            <div class="layui-input-inline">
                <input name="ip" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required|ip">
            </div>
            <b class="star fl">*</b>
        </div>
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">用户</label>
            <div class="layui-input-inline">
                <input name="userName" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
            <b class="star fl">*</b>
        </div>
        <!--密码-->
        <div class="layui-form-item clearfix">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input name="password" class="layui-input" type="password" placeholder="" autocomplete="off" lay-verify="required|pass2">
            </div>
            <b class="star fl">*</b>
        </div>
        <div class="line" style="border-bottom: 1px black solid;margin: 10px 0px;"></div>
        <h3>从机</h3>
        <div class="layui-form-item">
            <label class="layui-form-label">IP</label>
            <div class="layui-input-inline">
                <input name="followIp" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="ip">
            </div>
        </div>
        <!--文本域-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-inline">
                <textarea name="description" class="layui-textarea" placeholder="请输入内容" style="width: 190px"></textarea>
            </div>
        </div>
        <!--提交按钮-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="editDomain" lay-submit="">确定</button>
                <button class="layui-btn cancel" type="button">取消</button>
                <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
            </div>
        </div>
    </form>

</div>

<!--新增用户-->
<div class="new-user" style="display: none;">
    <!--<h2>新建用户</h2>-->
    <form class="layui-form" action="" lay-filter="newSystemUser">

        <!--头部-->
        <div class="top">
            <h3 style="display: inline-block">域用户</h3>
            <div class="layui-form-item clearfix" style="margin-top: 8px">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input name="systemUserId" class="layui-input" type="text" placeholder="请先输入用户名" autocomplete="off" lay-verify="required">
                </div>
                <b class="star fl">*</b>
            </div>
            <!--<div class="layui-form-item clearfix">-->
                <!--<label class="layui-form-label">密码</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input name="password" class="layui-input dis" type="password" placeholder="" autocomplete="off" lay-verify="required|pass3" disabled>-->
                <!--</div>-->
                <!--<b class="star fl">*</b>-->
            <!--</div>-->
            <!--<div class="layui-form-item clearfix">-->
                <!--<label class="layui-form-label">确认密码</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input name="password1" class="layui-input dis" type="password" placeholder="" autocomplete="off" lay-verify="required|pass4" disabled>-->
                <!--</div>-->
                <!--<b class="star fl">*</b>-->
            <!--</div>-->
        </div>
        <div class="line"></div>
        <!--中间-->

        <div class="foot" style="margin-left: 5px">
            <h3 style="display: inline-block;">AD域</h3>
            <div class="layui-form-item clearfix"  style="margin-top: 8px">
                <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                <div class="layui-input-inline">
                    <input name="password" class="layui-input dis" type="password" placeholder="密码是7--20位" autocomplete="off" lay-verify="required|pass3|ADpass" disabled>
                </div>
                <b class="star fl">*</b>
            </div>
            <div class="layui-form-item clearfix"  style="margin-top: 8px">
                <label class="layui-form-label" style="width:73px;">确认密码</label>
                <div class="layui-input-inline">
                    <input name="password1" class="layui-input dis" type="password" placeholder="密码是7--20位" autocomplete="off" lay-verify="required|pass4|ADpass" disabled>
                </div>
                <b class="star fl">*</b>
            </div>
        <div class="line"></div>
        <!--脚部-->
        <div class="middle">
            <h3 style="display: inline-block">NIS域</h3>
            <div class="layui-form-item clearfix"  style="margin-top: 8px;margin-left: -7px">
                <label class="layui-form-label">用户ID</label>
                <div class="layui-input-inline">
                    <input name="nisUserId" class="layui-input dis" type="text" placeholder="请输入大于500" autocomplete="off" disabled>
                </div>
                <b class="star fl" hidden>*</b>
            </div>
            <div class="layui-form-item clearfix"  style="margin-top: 8px">
                <label class="layui-form-label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID</label>
                <div class="layui-input-inline">
                    <input name="nisGroupId" class="layui-input dis" type="text" placeholder="" autocomplete="off" disabled>
                </div>
                <b class="star fl" hidden>*</b>
            </div>
            <div class="layui-form-item clearfix"  style="margin-top: 8px">
                <label class="layui-form-label">用户目录</label>
                <div class="layui-input-inline">
                    <input name="nisUserContents" class="layui-input dis" type="text" placeholder="" autocomplete="off" disabled>
                </div>
                <b class="star fl" hidden>*</b>
            </div>
        </div>

            <!--<div class="layui-form-item" style="margin-left: 20px">-->
                <!--<label class="layui-form-label">用户组</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input name="adGroupId" class="layui-input dis" type="text" placeholder="" autocomplete="off" disabled>-->
                <!--</div>-->
            <!--</div>-->
            <!--<br />-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">用户目录</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input name="adUserContents" class="layui-input dis" type="text" placeholder="" autocomplete="off" disabled>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="line"></div>

        <!--文本域-->
        <div class="layui-form-item layui-form-text" style="margin-left: 74px;margin-top: 20px">
            <label class="layui-form-label">描&nbsp;&nbsp;&nbsp;&nbsp;述</label>
            <div class="layui-input-block">
                <textarea name="descri" class="layui-textarea dis" placeholder="" disabled style="width: 814px"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-btn-sub" style="margin-top:20px;">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="newUser" lay-submit="">确认</button>
                <button class="layui-btn layui-btn-primary Reset" type="reset" style="color: white">重置</button>
            </div>
        </div>
    </form>
</div>

<!--确认密码-->
<div class="confirm-pass" style="display: none;">
    <form class="layui-form" action="">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="systemUserId" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">输入密码</label>
            <div class="layui-input-inline">
                <input name="newPassword" class="layui-input newPassword" type="password" placeholder="请输入密码" autocomplete="off" lay-verify="required|pass">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">输入密码</label>
            <div class="layui-input-inline">
                <input name="twicePassword" class="layui-input notarizePassword" type="password" placeholder="请输入密码" autocomplete="off" lay-verify="required|pass1">
            </div>
        </div>
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="confirmPass">确定</button>
                <!--<button class="layui-btn confirmPass" type="button">确定</button>-->
                <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
            </div>
        </div>
    </form>
</div>

<!--修改密码-->
<div class="confirm-pass1" style="display: none;">
    <form class="layui-form" action="">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="systemUserId" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">输入密码</label>
            <div class="layui-input-inline">
                <input name="AnewPassword" class="layui-input newPassword" type="password" placeholder="请输入密码" autocomplete="off" lay-verify="required|pass9">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input name="AtwicePassword" class="layui-input notarizePassword" type="password" placeholder="请输入密码" autocomplete="off" lay-verify="required|pass8">
            </div>
        </div>
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="confirmPass1">确定</button>
            </div>
        </div>
    </form>
</div>
<!--还原用户-->
<div class="reduction-user" style="display:none;">
    <!--搜索框-->
    @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer3", "input": "index-footer3","icon": "icon-footer3" })
    <div>
        <table class="layui-table" id="reduction_user" lay-filter="reductionUser"></table>
    </div>
    <button class="layui-btn subReductionUser">确认</button>
</div>



<!--修改密码-->
@@include("../tpl/updataPassword.html")

<!--include "./../../../components/footer/footer.html"-->

<!--鼠标滑过模板-->
<script id="mouseHov" type="text/html">
    <div class="mouseHover">{{d.name}}</div>
</script>

<!--表格模板-->
<!--判断是否有AD域-->
<script id="barDemo1" type="text/html">
    {{#  if(d.isSameUser == 1 || d.isSameUser == 2){ }}
        <i class="layui-icon" style="font-size:25px;color:green">&#xe616;</i>
    {{#  } }}
</script>

<!--确认密码-->
<script id="barDemo3" type="text/html">
    {{#  if(d.pwdFlag == 1 && d.isSameUser!=0){ }}
    <!--<button class="layui-btn layui-btn-primary layui-btn-sm" disabled style="background:#e6e6e6!important;">已确认</button>-->
    <button class="layui-btn layui-btn-sm"  lay-event="changePassword">修改密码</button>

    {{#  }else if(d.pwdFlag ==0  && d.isSameUser!=0){ }}
    <button class="layui-btn layui-btn-sm"  lay-event="confirmPass">确认密码</button>
    {{#  }else if(d.pwdFlag == 1 && d.isSameUser==0){ }}
    <button class="layui-btn layui-btn-sm"  lay-event="changePassword" disabled style="background:#e6e6e6!important;color: rgb(84, 84, 84)!important;">修改密码</button>
    {{#  }else if(d.pwdFlag ==0  && d.isSameUser==0){ }}
    <button class="layui-btn layui-btn-sm"  lay-event="confirmPass" disabled style="background:#e6e6e6!important;color: rgb(84, 84, 84)!important;">确认密码</button>
    {{#  } }}
</script>

<link rel="stylesheet" href="style/fieldManage.css">

<!--<script src="mockData/fieldManageMock.js"></script>-->
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="js/fieldManage.js"></script>

</body>
</html>