<!--角色与权限-->
<!--<script src="../../../assets/js/help.js"></script>-->

<!--<link rel="stylesheet" href="../../../public/static/zTree_v3-master/css/demo.css">-->
<!--<link rel="stylesheet" href="../../../public/static/zTree_v3-master/css/zTreeStyle/zTreeStyle.css">-->
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
<script src="./../../../public/static/elementui/vuejs.js"></script>
<script src="./../../../public/static/elementui/elementui.js"></script>

<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->



<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-content clearfix">

        <!--@@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer1", "input": "index-footer1" })-->
        <!--左侧主体-->
        <div class="main-left fl">
            <!--操作按钮-->
            <div class="main-btn1">
                <button class="layui-btn layui-btn-sm layui-btn-normal new-build-role">新建</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal del-role button-delete">删除</button>
            </div>
            <!--角色显示-->
            <div class="main-role">

                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-block roleShow" style="margin-left: 40px;margin-top: 10px">
                            
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="main-left fl" style="width: 316px;margin-left: 20px;">
            <!--操作按钮-->
            <div class="main-btn1">
                <button class="layui-btn layui-btn-sm layui-btn-normal new-build-roles">添加</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal del-roles button-delete">删除</button>
            </div>
            <!--角色显示-->
            <div class="main-role">

                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-block roleShows" style="margin-left:10px;margin-top: 10px">
                        </div>
                    </div>
                </form>

            </div>
        </div>

        
        <!--右侧主体-->
        <div class="main-right">
            <!--操作按钮-->
            <div class="main-btn2">
                <p>
                    编辑权限：
                    <span class="person" style="display: inline-block;text-align: center;font-size: 15px;font-weight: 800"></span>
                    <button class="layui-btn layui-btn-sm layui-btn-normal determine">确定</button>
                </p>
            </div>
            <!--权限编辑-->

            <form class="layui-form editAuthority">
                <div id="xtree1" class="xtree_contianer renderAuthorityTree" style="width:30%"></div>
                <div id="xtree22" class="xtree_contianer renderAuthorityTree"></div>
                <div id="xtree3" class="xtree_contianer renderAuthorityTree"></div>
                <div id="xtree4" class="xtree_contianer renderAuthorityTree"></div>
                <!-- <div id="xtree5" class="xtree_contianer renderAuthorityTree"></div> -->
            </form>

            <!--<div class="main-authority clearfix">-->
                <!--<ul id="treeDemo1" class="ztree fl"></ul>-->

                <!--<ul id="treeDemo2" class="ztree fl"></ul>-->

                <!--<ul id="treeDemo3" class="ztree fl"></ul>-->

                <!--<ul id="treeDemo4" class="ztree fl"></ul>-->
            <!--</div>-->
        </div>


    </div>
</div>


<!--新建用户-->
<div class="new-role" style="display: none; top: 50%">
    <!--<h2>新建角色</h2>-->
    <form class="layui-form" action="">
        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" name="roleName" lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-btn-sub" style="margin-top: 20px">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
                <button class="layui-btn cancel" type="button">取消</button>
            </div>
        </div>
    </form>
</div>
<!-- 增加用户 -->
<div class="new-roles" style="display: none">
    <!--<h2>新建角色</h2>-->
    <form class="layui-form" action="">
        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" name="roleName" lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div id="demo">

        </div>
        <div class="layui-form-item layui-btn-sub" style="margin-top: 20px">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
                <button class="layui-btn cancels" type="button">取消</button>
            </div>
        </div>
    </form>
</div>
<el-dialog
        id="app"
        :title=dialogTitle
        class="redsfv"
        width="20%"
        @closed="closeDialog"
        :visible.sync="dialogVisible">
        <!--<el-tooltip :content=userNames placement="top" :disabled="userNames==''">-->
            <!--<div style="padding: 10px;margin-bottom: 10px;border: solid 1px #e6e6e6;height:16px;overflow: hidden;white-space:nowrap">-->
                <!--{{userNames}}-->
            <!--</div>-->
        <!--</el-tooltip>-->
    <el-input
            class="ownImpit"
            type="textarea"
            disabled
            autosize
            v-model="userNames">
    </el-input>
        <el-tree
            ref="tree"
            :data="data"
            :default-expanded-keys="idArr"
            show-checkbox
            node-key="id"
            check-on-click-node='true'
            @check-change="handleCheckChange"
            :props="defaultProps">
            </el-tree>
            <div style="padding: 10px;text-align:right">
                <el-button @click='closeDialog'>取消</el-button>
                <el-button type="primary" @click='addusers'>确定</el-button>
            </div>
</el-dialog>>
<!--修改密码-->
@@include("../tpl/updataPassword.html")
<!--include "./../../../components/footer/footer.html"-->

<!--<script src="../../../public/static/zTree_v3-master/js/jquery.ztree.all.js"></script>-->
<link rel="stylesheet" href="style/roleAuthority.css">
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="../../../public/static/layui-v2.2.5/layui-xtree.js"></script>
<script src="js/roleAuthority.js"></script>


</body>
</html>