<!--用户管理-->
<!--<script src="../../../assets/js/help.js"></script>-->

<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
<script src="./../../../public/static/elementui/vuejs.js"></script>
<script src="./../../../public/static/elementui/elementui.js"></script>
<div class="layui-body">
    <!-- 内容主体区域 -->

    <!--主体详情-->
    <div class="layui-content">


        <!--左侧导航-->
        <div class="left-nav fl">
            <h2 style="font-weight: 900;margin-bottom: 26px">组织列表</h2>
            <div class="operation-btn layui-main-btn1">
                <button class="layui-btn layui-btn-sm layui-btn-normal new-build-department">新建部门</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-department">编辑部门</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-rank">编辑职级</button>
            </div>
            <div class="left-nav-main layui-border">
                <div id="demo"></div>
            </div>


        </div>

        <!--右侧详情-->
        <div class="right-nav clearfix">

            <div class="clearfix" style="width: 100%;height: 100px;">
                <h2 class="list-details" style="font-weight: 900;">用户列表</h2>
                    <div class="fl">
                        <!--搜索框-->
                        @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer1", "input": "index-footer1" ,"icon": "icon-footer1"})
                    </div>
                    <!--按钮操作-->
                    <div class="layui-main-btn2 fr">
                        <!--<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">-->
                        <button class="layui-btn layui-btn-sm layui-btn-normal new-build-person">新建</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-person">编辑</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal del-user button-delete">删除</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal updata-build-pass">更改密码</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal Unlock">解锁</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal Frozen">冻结</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal downloadTemplate">下载导入模板</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal Import">导入</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal exportApplication" style="margin-left: 10px;">导出</button>
                        <!--</div>-->
                    </div>

            </div>
            <div class="fl" style="width:100%">
                <table class="layui-hide" id="userTable" lay-filter="demo"></table>
                <div id="laypage"></div>
            </div>


        </div>
    </div>

</div>

<!--新建用户-->
<div class="new-user" style="display: none;">
    <!--<h2>新建用户</h2>-->
    <form class="layui-form" action="" lay-filter="new_user">
        <h3>基本信息</h3>
        <div class="layui-message">
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
                    <div class="layui-input-inline">
                        <!--<input name="userName" lay-verify="required|nameUser"-->
                               <!--placeholder="以字母开头，最多20个字符" autocomplete="off" class="layui-input" type="text">-->
                        <div class="layui-input-inline">
                            <select name="roleIds" lay-verify="required" lay-filter="usersName" lay-search="" id="changName">
                            </select>
                        </div>
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                    <div class="layui-input-inline">
                        <input name="realName" lay-verify="required|FullName" placeholder="姓名为汉字" autocomplete="off" class="layui-input" type="text">
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label fl">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                    <div class="layui-inline fl">
                        <div class="layui-input-inline">
                            <input name="email" class="layui-input dis" type="text" autocomplete="off" lay-verify="required|email" disabled>
                        </div>
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix selecttree">
                    <label class="layui-form-label">单&nbsp;&nbsp;&nbsp;&nbsp;位</label>
                    <div class="layui-input-inline">

                        <div class="layui-unselect layui-form-select downpanel">
                            <div class="layui-select-title">
                                <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                                <!--<input type="hidden" name="selectID" value="0">-->
                                <input type="hidden" name="orgId" value="0">
                                <i class="layui-edge"></i>
                            </div>
                            <dl class="layui-anim layui-anim-upbit">
                                <dd>
                                    <ul id="classtree2"></ul>
                                </dd>
                            </dl>
                        </div>

                        <!--<select name="company" lay-verify="required" id="treeselecttest" lay-filter="company">-->
                        <!--<option value="" >请选择</option>-->
                        <!--&lt;!&ndash;<option value="0">北京</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="1">上海</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="2">重庆</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>
                    <b class="fl ml" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <!-- <label class="layui-form-label">普通用户</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="loginPageAccess" title="是否是普通用户" value="1">
                    </div> -->
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">职&nbsp;&nbsp;&nbsp;&nbsp;权</label>
                    <div class="layui-input-inline">
                        <select name="roleIds" lay-verify="required" lay-filter="roleIds">
                            <option value="">请选择</option>
                            <!--<option value="0">北京</option>-->
                            <!--<option value="1">上海</option>-->
                            <!--<option value="2">重庆</option>-->
                        </select>
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>

        </div>
        <div class="fle">
            <div class="layui-form-item" style="margin-left: 30px">
                <label class="layui-form-label">系统用户</label>
                <div class="layui-input-inline">
                    <select name="sysIds" lay-verify="required" lay-filter="sysIds">
                        <!--<option value="">请选择</option>-->
                        <!--<option value="0">北京</option>-->
                        <!--<option value="1">上海</option>-->
                        <!--<option value="2">重庆</option>-->
                    </select>
                </div>
                <!--<b class="fl" style="font-size: 20px">*</b>-->
            </div>
        </div>
        <div class="fle" style="float: right;margin-top: -48px;margin-right: 30px;">
            <div class="layui-form-item">
                <label class="layui-form-label">职&nbsp;&nbsp;&nbsp;&nbsp;位</label>
                <div class="layui-input-inline">
                    <select name="professionalTitle" lay-verify="required" lay-filter="professionalTitle"  class="dsf">
                        <!--<option value="">请选择</option>-->
                        <!--<option value="0">北京</option>-->
                        <!--<option value="1">上海</option>-->
                        <!--<option value="2">重庆</option>-->
                    </select>
                </div>
                <b class="fl" style="font-size: 20px">*</b>
            </div>
        </div>
        <!--系统用户-->
        <h3>认证绑定信息</h3>
        <div class="layui-message">
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">IP地址</label>
                    <div class="layui-input-inline">
                        <input name="ipAddr" placeholder="" autocomplete="off" class="layui-input" type="text" lay-verify="ip">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">MAC地址</label>
                    <div class="layui-input-inline">
                        <input name="macAddr" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="mac">
                    </div>
                </div>
            </div>


        </div>

        <h3>个人信息</h3>
        <div class="layui-message">
            <div class="fle">
                <div class="layui-form-item one-line">
                    <label class="layui-form-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="男" checked>
                        <input type="radio" name="sex" value="女" title="女">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">电&nbsp;&nbsp;&nbsp;&nbsp;话</label>
                        <div class="layui-input-inline">
                            <input name="telephone" class="layui-input" type="tel" autocomplete="off" lay-verify="tel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 30px">
            <div class="layui-inline">
                <label class="layui-form-label">手&nbsp;&nbsp;&nbsp;&nbsp;机</label>
                <div class="layui-input-inline">
                    <input name="phone" class="layui-input" type="tel" autocomplete="off" lay-verify="tel">
                </div>
            </div>
        </div>
        <h3>同步域</h3>
        <div class="layui-form-item" style="margin-left: 30px">
            <label class="layui-form-label">添加域</label>
            <div class="layui-input-block many-check">
                <!--<input type="checkbox" name="synchronizationRank" title="平台NIS域" lay-skin="primary" value="">-->
                <!--<input type="checkbox" name="synchronizationRank" title="平台AD域" lay-skin="primary">-->
                <!--<input type="checkbox" name="synchronizationRank" title="办公AD域" lay-skin="primary">-->
            </div>
        </div>
        <!--提交-->
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <!--<button class="layui-btn layui-btn-xs layui-btn-normal">新建</button>-->
                <button class="layui-btn" lay-submit lay-filter="newUser">确定</button>
                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>

    </form>
</div>
<!--编辑用户-->
<div class="edit-user" style="display: none;">

    <form class="layui-form" action="">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="id" lay-verify="required" autocomplete="off" class="layui-input" type="text" disabled>
            </div>
            <b class="fl" style="font-size: 20px">*</b>
        </div>
        <h3>基本信息</h3>
        <div class="layui-message">

            <div class="fle">
                <div class="layui-form-item clearfix">
                <label class="layui-form-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
                <div class="layui-input-inline">
                    <input name="userName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input dis" type="text" disabled>
                </div>
                <b class="fl" style="font-size: 20px">*</b>
            </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                    <div class="layui-input-inline">
                        <input name="realName" lay-verify="required|FullName" placeholder="请输入" autocomplete="off" class="layui-input" type="text">
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label fl">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                    <div class="layui-inline fl">
                        <div class="layui-input-inline">
                            <input name="email" class="layui-input dis" type="text" autocomplete="off" lay-verify="required|email" disabled>
                        </div>
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix selecttree">
                    <label class="layui-form-label">单&nbsp;&nbsp;&nbsp;&nbsp;位</label>
                    <div class="layui-input-inline">

                        <div class="layui-unselect layui-form-select downpanel">
                            <div class="layui-select-title">
                                <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                                <!--<input type="hidden" name="selectID" value="0">-->
                                <input type="hidden" name="orgId" value="0">
                                <i class="layui-edge"></i>
                            </div>
                            <dl class="layui-anim layui-anim-upbit">
                                <dd>
                                    <ul id="classtree3"></ul>
                                </dd>
                            </dl>
                        </div>

                        <!--<select name="company" lay-verify="required" id="treeselecttest" lay-filter="company">-->
                        <!--<option value="" >请选择</option>-->
                        <!--&lt;!&ndash;<option value="0">北京</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="1">上海</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="2">重庆</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>
                    <b class="fl ml" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <!-- <label class="layui-form-label">普通用户</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="loginPageAccess" title="是否是普通用户" value="1">
                    </div> -->
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">职&nbsp;&nbsp;&nbsp;&nbsp;权</label>
                    <div class="layui-input-inline" >
                        <select name="editroleIds" lay-filter="roleIds">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">北京</option>-->
                            <!--<option value="1">上海</option>-->
                            <!--<option value="2">重庆</option>-->
                        </select>
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>


        </div>
        <!--系统用户-->
        <div class="layui-form-item" style="margin-left: 30px">
            <label class="layui-form-label">系统用户</label>
            <div class="layui-input-inline">
                <select name="editsysIds" lay-verify="required" lay-filter="sysIds">
                    <!--<option value="">请选择</option>-->
                    <!--<option value="0">北京</option>-->
                    <!--<option value="1">上海</option>-->
                    <!--<option value="2">重庆</option>-->
                </select>
            </div>
            <!--<b class="fl" style="font-size: 20px">*</b>-->
        </div>
        <div class="fle" style="float: right;margin-top: -48px;margin-right: 30px;">
            <div class="layui-form-item">
                <label class="layui-form-label">职&nbsp;&nbsp;&nbsp;&nbsp;位</label>
                <div class="layui-input-inline">
                    <select name="editprofessionalTitle" lay-verify="required" lay-filter="professionalTitle" disabled>
                        <!--<option value="">请选择</option>-->
                        <!--<option value="0">北京</option>-->
                        <!--<option value="1">上海</option>-->
                        <!--<option value="2">重庆</option>-->
                    </select>
                </div>
                <b class="fl" style="font-size: 20px">*</b>
            </div>
        </div>
        <h3>认证绑定信息</h3>
        <div class="layui-message">
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">IP地址</label>
                    <div class="layui-input-inline">
                        <input name="ipAddr" placeholder="" autocomplete="off" class="layui-input" type="text" lay-verify="ip">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">MAC地址</label>
                    <div class="layui-input-inline">
                        <input name="macAddr" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="mac">
                    </div>
                </div>
            </div>
        </div>




        <h3>个人信息</h3>
        <div class="layui-message">
            <div class="fle">
                <div class="layui-form-item one-line">
                    <label class="layui-form-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="男" checked>
                        <input type="radio" name="sex" value="女" title="女">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">电&nbsp;&nbsp;&nbsp;&nbsp;话</label>
                        <div class="layui-input-inline">
                            <input name="telephone" class="layui-input" type="tel" autocomplete="off" lay-verify="tel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 30px">
            <div class="layui-inline">
                <label class="layui-form-label">手&nbsp;&nbsp;&nbsp;&nbsp;机</label>
                <div class="layui-input-inline">
                    <input name="phone" class="layui-input" type="tel" autocomplete="off" lay-verify="tel">
                </div>
            </div>
        </div>
        <!--<h3>同步域</h3>-->
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">添加域</label>-->
            <!--<div class="layui-input-block many-check">-->
                <!--<input type="checkbox" name="field" title="平台域" lay-skin="primary">-->
                <!--<input type="checkbox" name="field" title="办公AD域" lay-skin="primary">-->
            <!--</div>-->
        <!--</div>-->
        <!--提交-->
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <!--<button class="layui-btn layui-btn-xs layui-btn-normal">新建</button>-->
                <button class="layui-btn" lay-submit lay-filter="editUser">确定</button>
                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>

    </form>
</div>

<!--新建部门-->
<div class="new-dep" style="display: none;">
    <!--<h2>新建部门</h2>-->
    <form class="layui-form" action="" lay-filter="newDep">
        <div class="layui-message">
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">部门名称</label>
                    <div class="layui-input-inline">
                        <input name="name" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>

            <div class="fle">
                <div class="layui-form-item clearfix">
                <label class="layui-form-label">行政级别</label>
                <div class="layui-input-inline">
                    <select name="rank" lay-verify="required">
                        <!--<option value="">请选择</option>-->
                        <!--<option value="0">北京</option>-->
                        <!--<option value="1">上海</option>-->
                        <!--<option value="2">重庆</option>-->
                    </select>
                </div>
                <b class="fl ml" style="font-size: 20px">*</b>
            </div>
            </div>
            <div class="fle" hidden>
                <div class="layui-form-item" hidden>
                    <label class="layui-form-label">部门领导</label>
                    <div class="layui-input-inline">
                        <input name="leader" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                    <!--<i class="layui-icon add-user-fn fl departmentalLleadershipAdd add">&#xe608</i>-->
                    <!--<b class="fl add">+</b>-->
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">部门领导</label>
                    <div class="layui-input-inline">
                        <input name="leaderUser" class="layui-input" type="text" placeholder="请点击加号按钮选择" autocomplete="off" disabled>
                    </div>
                    <i class="layui-icon add-user-fn fl departmentalLleadershipAdd add">&#xe608</i>
                    <!--<b class="fl add">+</b>-->
                </div>
            </div>

            <div class="fle">
                <div class="layui-form-item clearfix selecttree">
                    <label class="layui-form-label">主管单位</label>
                    <div class="layui-input-inline">
                        <div class="layui-unselect layui-form-select downpanel">
                            <div class="layui-select-title">
                                <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                                <!--<input type="hidden" name="selectID" value="0">-->
                                <input type="hidden" name="parentId" value="0">
                                <i class="layui-edge"></i>
                            </div>
                            <dl class="layui-anim layui-anim-upbit">
                                <dd>
                                    <ul id="classtree"></ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <b class="fl ml" style="font-size: 20px">*</b>
                </div>
            </div>


            <div class="fle" hidden>
                <div class="layui-form-item" hidden>
                    <label class="layui-form-label">主管领导</label>
                    <div class="layui-input-inline">
                        <input name="dutyUser" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                    <!--<i class="layui-icon add-user-fn fl leadershipAdd add">&#xe608</i>-->
                </div>
            </div>

            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">主管领导</label>
                    <div class="layui-input-inline">
                        <input name="duty" class="layui-input" type="text" placeholder="请点击加号按钮选择" autocomplete="off" disabled>
                    </div>
                    <i class="layui-icon add-user-fn fl leadershipAdd add">&#xe608</i>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item systemUser">
                    <label class="layui-form-label">系统用户</label>
                    <div class="layui-input-inline">
                        <select name="sysId">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">北京</option>-->
                            <!--<option value="1">上海</option>-->
                            <!--<option value="2">重庆</option>-->
                        </select>
                    </div>
                </div>
            </div>


        </div>
        <div class="layui-form-item CompanyEmail clearfix" style="margin-left: 30px">
            <label class="layui-form-label">企业邮箱</label>
            <span class="fl" style="margin-top: 10px">@</span>
            <!--<div class="layui-inline">-->
            <div class="layui-input-inline fl" style="width: 176px">
                <input name="companyEmail" class="layui-input" type="text" autocomplete="off" lay-verify="required" style="width: 176px">
            </div>
            <!--</div>-->
            <b class="fl ml" style="font-size: 20px">*</b>
        </div>
        <!--确定-->
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="newDep">确定</button>
                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>

    </form>
    <!--添加-->
    <div class="person-add" style="margin-bottom: 20px;">
        <div class="select-person">
            <div class="select-div">
                <div id="treeList3" class="department-tree"></div>
            </div>
            <div class="select-div">
                <select multiple class="show-option layui-input leftData">
                    <!--<option value="">sdfd</option>-->
                    <!--<option>sdfd</option>-->
                    <!--<option>sdfd</option>-->
                </select>
            </div>
            <div class="select-div select-btn" style="width: 50px;">
                <i class="layui-icon oneRight" style="line-height: 150px">&#xe602;</i>
                <!--<i class="layui-icon moreRight">&#xe65b;</i>-->
                <i class="layui-icon oneLeft" style="line-height: 150px">&#xe603;</i>
                <!--<i class="layui-icon moreLeft">&#xe65a;</i>-->
            </div>
            <div class="select-div">
                <select multiple class="select-option layui-input rightData">
                    <!--<option>sdfd</option>-->
                </select>
            </div>

        </div>
        <div style="width: 100%;text-align: center">
            <button class="layui-btn layui-btn-sm layui-btn-normal determineAdministrators" data-method="notice">确定</button>
        </div>
    </div>
</div>
<!--编辑部门-->
<div class="edit-dep" style="display: none;">
    <form class="layui-form" action="" lay-filter="editDep">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="id" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <div class="layui-message">
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">部门名称</label>
                    <div class="layui-input-inline">
                        <input name="name" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
                    </div>
                    <b class="fl" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">行政级别</label>
                    <div class="layui-input-inline">
                        <select name="rank" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">北京</option>-->
                            <!--<option value="1">上海</option>-->
                            <!--<option value="2">重庆</option>-->
                        </select>
                    </div>
                    <b class="fl ml" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle" hidden>
                <div class="layui-form-item" hidden>
                    <label class="layui-form-label">部门领导</label>
                    <div class="layui-input-inline">
                        <input name="leader" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                    <!--<i class="layui-icon add-user-fn fl departmentalLleadershipAdd add">&#xe608</i>-->
                    <!--<b class="fl add">+</b>-->
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">部门领导</label>
                    <div class="layui-input-inline">
                        <input name="leaderUser" class="layui-input" type="text" placeholder="请点击加号按钮选择" autocomplete="off" disabled>
                    </div>
                    <i class="layui-icon add-user-fn fl departmentalLleadershipAdd add">&#xe608</i>
                    <!--<b class="fl add">+</b>-->
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix selecttree">
                    <label class="layui-form-label">主管单位</label>
                    <div class="layui-input-inline">
                        <div class="layui-unselect layui-form-select downpanel">
                            <div class="layui-select-title">
                                <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                                <!--<input type="hidden" name="selectID" value="0">-->
                                <input type="hidden" name="parentId" value="0">
                                <i class="layui-edge"></i>
                            </div>
                            <dl class="layui-anim layui-anim-upbit">
                                <dd>
                                    <ul id="classtree1"></ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <b class="fl ml" style="font-size: 20px">*</b>
                </div>
            </div>
            <div class="fle" hidden>
                <div class="layui-form-item" hidden>
                    <label class="layui-form-label">主管领导</label>
                    <div class="layui-input-inline">
                        <input name="dutyUser" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                    <!--<i class="layui-icon add-user-fn fl leadershipAdd add">&#xe608</i>-->
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">主管领导</label>
                    <div class="layui-input-inline">
                        <input name="duty" class="layui-input" type="text" placeholder="请点击加号按钮选择" autocomplete="off" disabled>
                    </div>
                    <i class="layui-icon add-user-fn fl leadershipAdd add">&#xe608</i>
                    <!--<b class="fl ml" style="font-size: 20px">*</b>-->
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item systemUser">
                    <label class="layui-form-label">系统用户</label>
                    <div class="layui-input-inline">
                        <select name="sysId">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">北京</option>-->
                            <!--<option value="1">上海</option>-->
                            <!--<option value="2">重庆</option>-->
                        </select>
                    </div>
                </div>
            </div>



        </div>
        <div class="layui-form-item CompanyEmail clearfix" style="margin-left: 30px">
            <label class="layui-form-label">企业邮箱</label>
            <span class="fl" style="margin-top: 10px">@</span>
            <!--<div class="layui-inline">-->
            <div class="layui-input-inline fl" style="width: 176px">
                <input name="companyEmail" class="layui-input" type="text" autocomplete="off" lay-verify="required" style="width: 176px">
            </div>
            <!--</div>-->
            <b class="fl" style="font-size: 20px">*</b>
        </div>
        <!--确定-->
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="editDep">确定</button>
                <button class="layui-btn button-delete" lay-submit lay-filter="delDep">删除</button>
                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>

    </form>
    <!--添加-->
    <div class="person-add" style="margin-bottom: 20px">
        <div class="select-person">
            <div class="select-div">
                <div id="treeList2" class="department-tree"></div>
            </div>
            <div class="select-div">
                <select multiple class="show-option layui-input leftData">
                    <!--<option value="">sdfd</option>-->
                    <!--<option>sdfd</option>-->
                    <!--<option>sdfd</option>-->
                </select>
            </div>
            <div class="select-div select-btn" style="width: 50px">
                <i class="layui-icon oneRight" style="line-height: 150px">&#xe602;</i>
                <!--<i class="layui-icon moreRight">&#xe65b;</i>-->
                <i class="layui-icon oneLeft" style="line-height: 150px">&#xe603;</i>
                <!--<i class="layui-icon moreLeft">&#xe65a;</i>-->
            </div>
            <div class="select-div">
                <select multiple class="select-option layui-input rightData">
                    <!--<option>sdfd</option>-->
                </select>
            </div>

        </div>
        <div style="width: 100%;text-align: center">
            <button class="layui-btn layui-btn-sm layui-btn-normal determineAdministrators" data-method="notice">确定</button>
        </div>
    </div>
</div>
<!--编辑职级-->
<div class="edit-class" style="display: none;margin-top: 0.7rem">
    <!--<h2>编辑职级</h2>-->
    <form class="layui-form" action="" lay-filter="rank">
        <h3>新建职级</h3>
        <div class="layui-form-item">
            <label class="layui-form-label">职级名称</label>
            <div class="layui-input-inline">
                <input name="rankName" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline" style="margin-left: 110px">
                <input type="radio" name="size" value="1" title="上级" lay-filter="rank" checked>
                <input type="radio" name="size" value="2" title="下级" lay-filter="rank">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-inline" style="margin-left: 110px">
                <input name="upDownRank" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required" disabled>
            </div>
        </div>

        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">上&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<select name="parentId" lay-verify="required">-->
                    <!--&lt;!&ndash;<option value="">请选择</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="0">北京</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="1">上海</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="2">重庆</option>&ndash;&gt;-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item layui-btn-sub" style="margin-top: 20px">
            <div class="layui-input-block">
                <!--<button class="layui-btn">确定</button>-->
                <button class="layui-btn" lay-submit lay-filter="rank">确定</button>
            </div>
        </div>
    </form>
    <!--删除职级-->
    <form class="layui-form" action="">
        <h3>删除职级</h3>
        <div class="layui-form-item">
            <!--<label class="layui-form-label">复选框</label>-->
            <div class="layui-input-block many-check optionChecked">

                <!--<input type="checkbox" name="" title="局级" lay-skin="primary"  lay-filter="check" value="">-->
                <!--<input type="checkbox" name="" title="处级" lay-skin="primary"  lay-filter="check" value="">-->
                <!--<input type="checkbox" name="" title="科级" lay-skin="primary"  lay-filter="check" value="">-->

            </div>
        </div>

        <div class="layui-form-item btn-del layui-btn-sub" style="margin-top: 20px">
            <div class="layui-input-block">
                <button class="layui-btn button-delete" lay-submit lay-filter="check">删除</button>
                <!--<button type="button" class="layui-btn del-class">删除</button>-->
            </div>
        </div>
    </form>

</div>
<!--更改密码-->
<div class="updata-pass" style="display: none">
    <div class="layui-userName">
        用户名：<span></span>
    </div>
    <form class="layui-form" action="">
        <!--用户ID-->
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="userId" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <!--新密码-->
        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input name="newPassword" class="layui-input" type="password" placeholder="请填写6到12位密码" autocomplete="off" lay-verify="required|pass">
            </div>
        </div>
        <!--确认新密码-->
        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">确&nbsp;&nbsp;&nbsp;&nbsp;认</label>
            <div class="layui-input-inline">
                <input name="twicePassword" class="layui-input" type="password" placeholder="确认新密码" autocomplete="off" lay-verify="required|pass1">
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: 20px;margin-left: 30px">
            <div class="layui-input-block">
                <!--<button class="layui-btn determineUpPass" type="button">确定</button>-->
                <button class="layui-btn" lay-filter="determineUpPass" lay-submit>确定</button>
            </div>
        </div>
    </form>
</div>
<div style="display: none;" id="opensid">
    <div style="padding: 20px;font-size: 15px;">
        您确定要删除吗？
    </div>
    <div class="layui-form fgdgd" style="padding-left: 20px;">
        <input type="checkbox" name="" title="同时删除用户云盘相关的数据" lay-skin="primary" id="isDEl">
    </div>
    <div class="layui-form" style="text-align: right; padding: 20px;z-index: 999999">
        <button type="button" class="layui-btn layui-btn-primary" style="background: #FFFFFF!important" id="noDel">取消</button>
        <button type="button" class="layui-btn layui-btn-normal" id="sureDel">确定</button>
    </div>
</div>


<el-dialog
        id="app"
        :title=dialogTitle
        class="redsfv"
        width="40%"
        @closed="closeDialog"
        :visible.sync="dialogVisible">
    <el-form ref="form"  label-width="80px" :inline="true">
         <h3>基本信息</h3>
        <el-form-item label="用户名"  v-if="IsAc" class="tooLong">
            <el-select v-model="userName" placeholder="请选择"
                       filterable
                       remote
                       :popper-append-to-body="false"
                       :remote-method="getUserName"
                       @change="changeUserName"
                       :disabled="dialogTitle=='新建用户'?false:true"
                       :loading="loading">
                <el-option
                        v-for="item in options"
                        :key="item.userName"
                        :label="item.userName"
                        :value="item.userName">
                    <span>{{ item.id}}</span>
                </el-option>
            </el-select><span class="redStar" v-if="IsAc">*</span>
        </el-form-item>
        <el-form-item label="姓名"  v-if="IsAc" class="tooLong">
            <el-select v-model="sendName" placeholder="请选择"
                       filterable
                       remote
                       :popper-append-to-body="false"
                       :remote-method="getRealName"
                       @change="changeRealName"
                       :disabled="dialogTitle=='新建用户'?false:true"
                       :loading="loading">
                <el-option
                        v-for="item in userList"
                        :key="item.userName"
                        :label="item.realName"
                        :value="item.userName">
                    <span>{{ item.id}}</span>
                </el-option>
            </el-select><span class="redStar" v-if="IsAc">*</span>
        </el-form-item>
        <el-form-item  v-if="!IsAc" label="用户名">
            <el-input
                    :disabled="dialogTitle=='新建用户'?false:true"
                    placeholder="已字母开头,最多20个字符"
                    @input="changeOUserName"
                    v-model="userName">
            </el-input><span class="redStar">*</span>
        </el-form-item>
        <el-form-item v-if="!IsAc" label="姓名">
            <el-input
                    :disabled="dialogTitle=='新建用户'?false:true"
                    placeholder="姓名为汉字"
                    v-model="name">
            </el-input><span class="redStar">*</span>
        </el-form-item>
        <el-form-item label="邮箱">
                <el-input
                        placeholder="请输入内容"
                        v-model="email"
                        :disabled="true">
                </el-input><span class="redStar">*</span>
        </el-form-item>
        <el-form-item label="单位" class="fsdf">
            <el-popover
                    placement="bottom"
                    width="300"
                    v-model="visiblePopover"
                    trigger="click">
                <el-tree :data="treeData" :props="defaultProps"
                         :default-expand-all="true"
                         :check-strictly="true"
                         :check-on-click-node="true"
                         ref="otherTree"
                         :default-checked-keys="otherSelectNodes"
                         @check-change="handleCheckChange"
                         highlight-current></el-tree>
                <el-button slot="reference">{{companyName}}</el-button>
            </el-popover><span class="redStar">*</span>
        </el-form-item>
        <el-form-item label="AD域账户">
            <el-input
                    placeholder="请输入内容"
                    v-model="AD"
                    :disabled="true">
            </el-input><span class="redStar">*</span>
        </el-form-item>
        <el-form-item label="职权">
                <el-tooltip class="item" effect="dark" :content="powertext" placement="top-start" :disabled="powertext==''||power.length==1 ? true:false" >
            <el-select   v-model="power" multiple  placeholder="请选择" disabled>
                <el-option
                        v-for="item in roleList"
                        :key="item.id"
                        :label="item.roleName"
                        :value="item.id">
                </el-option>
            </el-select>
                </el-tooltip>
            <span class="redStar">*</span>
        </el-form-item>
        <el-form-item label="系统用户">
            <el-tooltip class="item" effect="dark" :content="systemUserLabelSrting" placement="top-start" :disabled="systemUserLabelSrting==''?true:false">
            <el-select v-model="systemUser" multiple  placeholder="请选择" @change="selcetChange">
                <el-option
                        v-for="item in systemName"
                        :key="item.id"
                        :label="item.systemUser"
                        :value="item.id">
                </el-option>
            </el-select>
            </el-tooltip>
        </el-form-item>
        <el-form-item label="职位" style="margin-left: 39px">
            <el-select v-model="position" placeholder="请选择"  @change="positionChange">
                <el-option
                        v-for="item in professionalTitleList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
        </el-form-item>
        <h3>认证绑定信息</h3>
        <el-form-item label="IP地址">
            <el-input
                    placeholder="请输入内容"
                    v-model="IP">
            </el-input>
        </el-form-item>
        <el-form-item label="MAC地址" style="margin-left: 39px;">
            <el-input
                    placeholder="请输入内容"
                    v-model="mac">
            </el-input>
        </el-form-item>
        <h3>个人信息</h3>
        <el-form-item label="性别" class="sex">
            <el-radio-group v-model="sex">
                <el-radio label="男">男</el-radio>
                <el-radio label="女">女</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="电话" style="margin-left: 39px;">
            <el-input
                    placeholder="请输入内容"
                    v-model="tel">
            </el-input>
        </el-form-item>
        <el-form-item label="手机">
            <el-input
                    placeholder="请输入内容"
                    v-model="mobile">
            </el-input>
        </el-form-item>
        <h3 v-show="dialogTitle=='新建用户'">同步域</h3>
        <el-form-item label="添加域" v-show="dialogTitle=='新建用户'">
            <el-checkbox-group v-model="checkedDomain">
                <el-checkbox v-for="item in domainList" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item style="display: block;text-align: center">
         <el-button type="primary" @click="submitAdd">确定</el-button>
        </el-form-item>
    </el-form>
</el-dialog>
<!--修改密码-->
@@include("../tpl/updataPassword.html")

<!--include "./../../../components/footer/footer.html"-->

<!--鼠标滑过模板-->
<script id="mouseHov" type="text/html">
    <div class="mouseHover">{{d.userName}}</div>
</script>


<link rel="stylesheet" href="style/userManage.css">
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="js/formSelects.js"></script>
<script src="js/userManage.js"></script>



</body>

</html>
