#app{
  margin-top: 5px;
  margin-left: 205px;
  height: 100vh;
  .application{
    width: 99%;
    height: 30%;
    background: #fff;
    padding: 20px;
  }
  .interlinking{
    margin-top: 5px;
    width: 99%;
    height: 60%;
    background: #fff;
  }
}
.software-main {
  position: relative;
  min-height: 165px;
}

.layui-body{
  margin-top: 65px;
  margin-left: 5px;
  background: #fff;
  padding: 10px;
}


.software-box li {
  display: inline-block;
  width: 12.4%;
  padding: 20px;
}

.software-show {
  padding: 10px;
  background: #ccc;
  text-align: center;
  width: 200px;
  margin-right: 10px;
  height: 100px;
  background: url(/opt/yxsd/upload/bg.png) no-repeat;
  background-size: 100% 100%;
}

.software-show-left,
.software-show-right {
  /* display: inline-block; */
  float: left;
  width: calc(50% - 10px);
}
.software-show-right h3 {
  margin-top: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.software-show-right h3:hover {
  overflow: visible;
}

.software-show-left img,
.software-show-right img {
  padding-bottom: 10px;
}