.tipsBox{
  width: 500px !important;
}
.el-dialog__footer {
  text-align: center !important;
}
.el-message-box__btns {
  text-align: center;
}
.el-button--small{
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
  margin: 0 50px;
}
.el-button:focus, .el-button:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #FFF;
}

.el-dialog__header {
  height: 20px;
  background: #1E9FFF;
  padding: 10px;
}
.el-dialog__title {
  font-size: 18px;
  color: #fff;
}
.el-dialog__headerbtn {
  top: 15px;
  color: #fff;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}
#link-close{
  float: right;
}
.changryu{
  display:flex;
  width:140px;
  position: relative;
  left: -30px;
}
.changryu .layui-form-radio>i{
  font-size:16px;
  margin-right: 1px;
}
.changryu .layui-form-radio{
  padding-right: 4px;
  margin: 0;
}
.software-show-right h3{
  overflow: visible;
  margin-top: 12px;
  position: relative;
  left: -14px;
}
.layui-table-header th .layui-table-cell{
  padding-left:80px !important;
  text-align:left !important
}
.layui-table-header th .laytable-cell-checkbox{
  padding-left:0 !important;
  text-align:center !important
}

.software-box li>div{
  background: #f8f7f7;
  border: 1px solid #eee;
  box-shadow: 0 5px 5px #ccc;
  -webkit-box-shadow: 0 5px 5px #ccc;
  -moz-box-shadow: 0 5px 5px #ccc;
  -o-box-shadow: 0 5px 5px #ccc;
  -ms-box-shadow: 0 5px 5px #ccc;
}
.software-box li img{
  margin-left: -30px;
}
.software-box .software-show-right h3{
  width:130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}