<!DOCTYPE html>
<html>

<body>

    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
    <link rel="stylesheet" href="./style/approvalmanagement.css">
    <script src="./../../../public/static/elementui/vuejs.js"></script>
    <script src="./../../../public/static/elementui/elementui.js"></script>

@@include("./../../../components/nav/nav-title.html")
<div id="app" style="display:flex;">
<div class="layui-body" style="margin-left:215px">
    <!-- <el-tabs v-model="activeName">
      <el-tab-pane label="提交申请" name="first">提交申请</el-tab-pane>
      <el-tab-pane label="已通过" name="second">已通过</el-tab-pane>
      <el-tab-pane label="提交记录" name="third">提交记录</el-tab-pane>
    </el-tabs> -->
    <el-menu :default-active="activeIndex" class="changeColor" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1" @click='submit'>提交申请</el-badge></el-menu-item>
        <el-menu-item index="2" @click='adopt'>已通过<el-badge :value="adoptNum" size="mini" class="badgeitem"></el-badge></el-menu-item>
        <el-menu-item index="3" @click='record'>提交记录<el-badge :value="recordNum" size="mini" class="badgeitem"></el-badge></el-menu-item>
    </el-menu>
    <!-- 提交申请 -->
    <div v-show='show1'>
      <div class="top">
        <div class="search">
          <input type="search" class="seaa" placeholder="搜索" v-model='submitSerch'>
          <i class="el-icon-close"  @click='x' ></i>
          <el-button  type="primary" @click="searchInput('submitList')">搜索</el-button>
        </div>
        <div class="btn">
          <el-button type="primary" @click="newly('add')">新建</el-button>
          <el-button type="success" @click="newly('edit')">编辑</el-button>
          <el-button class="button-delete" type="danger" @click="cutOut">删除</el-button>
        </div>
      </div>
      <!-- 数据表格 -->
      <div class="f-table">
          <!--:data="submitData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"-->
          <el-table
          border
           :data="tableData"
           @selection-change="handleSelectChangeLeft"
          style="width: 100%">
          <el-table-column
          type="selection"
          width="55">
        </el-table-column>
          <el-table-column
            label="状态"
            prop="stateValue">
              <template slot-scope="scope">
                  <i v-if="scope.row.state==1" class="yes"></i>
                  <i v-if="scope.row.state==2" class="no"></i>
                  <i v-if="scope.row.state==3 || scope.row.state==5 || scope.row.state==6" class="yellowTan"></i>
                  <i v-if="scope.row.state==4" class="redTan"></i>
              </template>
          </el-table-column>
          <el-table-column
            label="提交人员"
            prop="currentUserName">
          </el-table-column>
          <el-table-column
            label="开始时间"
            prop="startTime">
          </el-table-column>
          <el-table-column
            label="结束时间"
            prop="endTime">
          </el-table-column>
          <el-table-column
            label="存储容量"
            prop="capacity">
          </el-table-column>
          <el-table-column
            label="软件类型"
            prop="softwareValue">
          </el-table-column>
          <el-table-column
            label="软件名称/版本"
            prop="softwareNames">
          </el-table-column>
          <el-table-column
            label="操作时间"
            prop="updateTime">
          </el-table-column>
          <el-table-column
            label="进度"
            prop="reviewProgressValue">
              <template slot-scope="scope">
                  <el-popover trigger="hover" placement="bottom">
                      <el-steps :active="scope.row.reviewProgress" align-center>
                          <el-step title="提交审批" description="这是一段很长很长很长的描述性文字"></el-step>
                          <el-step title="二级领导审批通过" description="这是一段很长很长很长的描述性文字"></el-step>
                          <el-step title="一级领导审批通过" description="这是一段很长很长很长的描述性文字"></el-step>
                          <el-step title="资源授权成功" description="这是一段很长很长很长的描述性文字"></el-step>
                      </el-steps>
                      <div slot="reference" class="name-wrapper resetClass">
                          <el-tag size="medium">{{scope.row.stateValue}}</el-tag>
                      </div>
                  </el-popover>
              </template>
          </el-table-column>
          <el-table-column
            label="操作"
            align="right">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            :disabled="scope.row.stateValue=='已催办'?true:false"
            @click="handleEdit(scope.$index, scope.row)">催办</el-button>
          <el-button
            size="mini"
            type="primary"
            @click="handleDelete(scope.$index, scope.row)">撤回</el-button>
        </template>
      </el-table-column>
        </el-table>
          <el-pagination
                  :page-sizes=[10]
                  @current-change="handleCurrentChange"
                  :current-page="tableDataPage"
                  layout="prev, pager, next, jumper"
                  :total="tableDataTotal">
          </el-pagination>
      </div>
    </div>
    <!-- 已通过 -->
    <div v-show='show2'>
      <div class="top">
          <div class="search">
            <input type="search" class="seaa" placeholder="搜索" v-model='adoptSerch'>
            <i class="el-icon-close" @click='y'></i>
            <el-button  type="primary" @click="searchInput('adoptList')">搜索</el-button>
          </div>
          
        </div>
        <div class="f-table">
          <el-table
          border
         :data="tableData1"
        style="width: 100%">
        <el-table-column
          label="状态"
          prop="state">
            <template slot-scope="scope">
                <i v-if="scope.row.state==1" class="yes"></i>
                <i v-if="scope.row.state==2" class="no"></i>
                <i v-if="scope.row.state==3" class="yellowTan"></i>
                <i v-if="scope.row.state==4" class="redTan"></i>
            </template>
        </el-table-column>
        <el-table-column
          label="提交人员"
          prop="currentUserName">
        </el-table-column>
        <el-table-column
          label="开始时间"
          prop="startTime">
        </el-table-column>
        <el-table-column
          label="结束时间"
          prop="endTime">
        </el-table-column>
        <el-table-column
          label="存储容量"
          prop="capacity">
        </el-table-column>
        <el-table-column
          label="软件类型"
          prop="softwareValue">
        </el-table-column>
        <el-table-column
          label="软件名称/版本"
          prop="softwareNames">
        </el-table-column>
        <el-table-column
          label="操作时间"
          prop="updateTime">
        </el-table-column>
        <el-table-column
          label="进度"
          prop="stateValue">
            <template slot-scope="scope">
                <p v-if="scope.row.state==1" style="color: #009861">{{scope.row.stateValue}}</p>
                <p v-if="scope.row.state==2" style="color: #FF2000">{{scope.row.stateValue}}</p>
                <p v-if="scope.row.stateValue==3" style="color: #FFB401">{{scope.row.stateValue}}</p>
                <p v-if="scope.row.stateValue==4" style="color: #FFB401">{{scope.row.stateValue}}</p>
                <p v-if="scope.row.stateValue==5" style="color: #009861">{{scope.row.stateValue}}</p>
                <p v-if="scope.row.stateValue==6" style="color:#828282">{{scope.row.stateValue}}</p>
                <p v-if="scope.row.stateValue==7" style="color: #FF2000">{{scope.row.stateValue}}</p>
            </template>
        </el-table-column>
        </el-table>
            <el-pagination
                    background
                    :page-sizes=[10]
                    @current-change="handleCurrentChange"
                    :current-page="table1DataPage"
                    layout="prev, pager, next, jumper"
                    :total="table1DataTotal">
            </el-pagination>
        </div>
    </div>
    <!-- 提交记录 -->
    <div v-show='show3'>
      <div class="top">
        <div class="search">
          <input type="search" class="seaa" placeholder="搜索" v-model='recordSerch'>
          <i class="el-icon-close" @click='z'></i>
          <el-button  type="primary" @click="searchInput('recordSerch')">搜索</el-button>
        </div>
        
      </div>
      <div class="f-table">
          <el-table
          border
                  :data="tableData2"
                  style="width: 100%">
              <el-table-column
                      label="状态"
                      prop="stateValue">
                  <template slot-scope="scope">
                      <i v-if="scope.row.state==1" class="yes"></i>
                      <i v-if="scope.row.state==2 || scope.row.state==6" class="no"></i>
                      <i v-if="scope.row.state==3" class="yellowTan"></i>
                      <i v-if="scope.row.state==4" class="redTan"></i>
                  </template>
              </el-table-column>
              <el-table-column
                      label="提交人员"
                      prop="currentUserName">
              </el-table-column>
              <el-table-column
                      label="开始时间"
                      prop="startTime">
              </el-table-column>
              <el-table-column
                      label="结束时间"
                      prop="endTime">
              </el-table-column>
              <el-table-column
                      label="存储容量"
                      prop="capacity">
              </el-table-column>
              <el-table-column
                      label="软件类型"
                      prop="softwareValue">
              </el-table-column>
              <el-table-column
                      label="软件名称/版本"
                      prop="softwareNames">
              </el-table-column>
              <el-table-column
                      label="操作时间"
                      prop="updateTime">
              </el-table-column>
              <el-table-column
                      label="进度"
                      prop="stateValue">
                  <template slot-scope="scope">
                      <p v-if="scope.row.state==1" style="color: #009861">{{scope.row.stateValue}}</p>
                      <p v-if="scope.row.state==2" style="color: #FF2000">{{scope.row.stateValue}}</p>
                      <p v-if="scope.row.stateValue==3" style="color: #FFB401">{{scope.row.stateValue}}</p>
                      <p v-if="scope.row.stateValue==4" style="color: #FFB401">{{scope.row.stateValue}}</p>
                      <p v-if="scope.row.stateValue==5" style="color: #009861">{{scope.row.stateValue}}</p>
                      <p v-if="scope.row.stateValue==6" style="color:#828282">{{scope.row.stateValue}}</p>
                      <p v-if="scope.row.stateValue==7" style="color: #FF2000">{{scope.row.stateValue}}</p>
                  </template>
              </el-table-column>
          </el-table>
          <el-pagination
                  background
                  :page-sizes=[10]
                  @current-change="handleCurrentChange"
                  :current-page="table2DataPage"
                  layout="prev, pager, next, jumper"
                  :total="table2DataTotal">
          </el-pagination>
      </div>
    </div>
</div>
      <!-- 新建弹框 -->
      <el-dialog
            :title="title"
            :visible.sync='showDialog'
            :before-close="handleClose1"
            width="800">
              <div class="userName">
                  提交人员：<span>{{name}}</span><br>
              </div>
              <div class="type">
                  申请类别：<el-radio-group v-model="radio">
                    <el-radio :label="1" @change='tab'>个人</el-radio>
                    <el-radio :label="2" @change='tab'>组织单位</el-radio>
                    <el-radio :label="3" @change='tab'>外协用户/单位</el-radio>
                  </el-radio-group><br>
              </div>
              <!-- 个人用户 -->
              <div v-show='typeList' class="typelist">
                <p>为<span>{{name}}</span>进行申请</p>
                项目名称：<el-input placeholder="非必填项"  v-model="projectName"></el-input>
              </div>
              <!-- 组织单位 -->
              <div v-show='typeList2' class="typelist1">
                  <div style="display: flex;">
                  <el-tree
                          class="owntree"
                          :props="props"
                          :data="ownTree"
                           ref="myOwnTree"
                          :default-checked-keys="ownSelectNodes"
                          show-checkbox
                          @check-change="handleOwnChange"
                          node-key="id">
                  </el-tree>：<el-input disabled v-model="ownNamesStr"></el-input>
                  </div>
                  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目名称：<el-input placeholder="非必填项" v-model="projectName"></el-input>
              </div>
              <!-- 外协用户/单位 -->
              <div v-show='typeList3' class="typelist1">
                  <div style="display: flex;">
                      <el-tree
                              :props="otherProps"
                              :data="otherUnitsTree"
                              ref="otherTree"
                              :default-checked-keys="otherSelectNodes"
                              show-checkbox
                              @check-change="handleCheckChange"
                              node-key="id">
                      </el-tree>：<el-input disabled v-model="otherNamesStr"></el-input>
                  </div>
                  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目名称：<el-input placeholder="必填项" v-model="projectName"></el-input><span class="important">*</span>
              </div>
              <!-- 开始时间 -->
              <div class='startTime'>
                  开始时间：<el-date-picker
                  v-model="value1"
                  type="date"
                  placeholder="选择日期">
                </el-date-picker>
                <span class="important">*</span>
              </div>
              <!-- 结束时间 -->
              <div class="endTime">
                  结束时间：<el-date-picker
                  v-model="value2"
                  type="date"
                  placeholder="选择日期">
                  </el-date-picker>
                  <span class="important">*</span>
              </div>
              <!-- 存储容量 -->
              <div class="storage">
                  存储容量：<el-input
                  placeholder="请输入内容"
                  v-model="state"
                  clearable>
                  </el-input>
                  <span class="company">G</span>
                  <span class="important">*</span>
              </div>
              <!-- 软件类型 -->
                <div class="softwareType">软件类型:
                <el-select v-model="softwareType" placeholder="— — 请选择 — —"
                    style="margin-left:6px;">
                    <el-option v-for="(item,index) in softwareTypes" :key="item.value" :value="item.value">
                    </el-option>
                </el-select>
                <el-button type="primary" @click="addSoftwareType" style='background: #1571f9;border:none;'>添加</el-button>
              </div>
              <!-- 软件类型渲染 -->
              <div class="soft" v-for="(item,key,index) in softwareTypeList" :key="index" :index="index">
                <div>
                  <span>{{softwareTypeList[key].name}}：</span>
                  <el-select v-model="softwareTypeList[key].softName" placeholder="请选择">
                      <el-option
                        v-for="item in ownSelect[softwareTypeList[key].select]"
                        :key="item.softwareId"
                        :label="item.softwareName"
                        :value="item.softwareId">
                      </el-option>
                    </el-select>
                    <div  @click="delSoftwareEdition(key)" style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 0 0 10px;  min-width: 24px;"></div>
                </div>
              </div>
              <!-- 备注 -->
              <div class="tips">
                备注：<el-input
                type="textarea"
                :rows="2"
                placeholder="请输入所申请软件的硬件资源需求等信息"
                v-model="tips"
                class="textarea">
              </el-input>
              </div>
            <div class="footerBtn">
                <el-button type="primary" style='background: #1571f9;border:none;' @click="application()">提交</el-button>
                <el-button @click="resetBtn" style="background: #1571f9;border:none;color: white">重置</el-button>
                <el-button class='delbtn' @click="closeBtn">取消</el-button>
            </div>
    </el-dialog>
</div>


<script type="text/html" id="conntClick">
  <a class="layui-btn layui-btn-xs" lay-event="openApp">打开</a>
  <a class="layui-btn layui-btn-xs" lay-event="closeApp">关闭</a>
  <a class="layui-btn layui-btn-xs" lay-event="appInfo">详情</a>
</script>

    <!--修改密码-->
    <!--@@include("../../tpl/updataPassword.html")-->


<script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
<script src="../../../public/static/jquery-1.12.4.js"></script>
<script src="../../../public/static/echarts/echarts.min.js "></script>
<script src="../../../public/static/mock.js"></script>
<!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
<!-- <script src="../../../assets/js/help.js"></script> -->
<!-- <script src="./js/index.js"></script> -->
<script src="./approvalmanagement.js"></script>
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</body>

</html>