.layui-layout-body {
  background: #F2F2F2; }

#navView {
  background: #fff; }
  #navView a {
    color: #000 !important; }

.layui-bg-cyan {
  background: #e5f3ff !important;}

#menuBox ul li dd {
  background: #fff;
  padding: 0 10px; }
#menuBox a {
  color: #4C4C4C; }

.layui-nav-itemed .layui-nav-more {
  border-color: transparent transparent #000; }

.layui-nav-tree .layui-nav-item a:hover {
  background-color: #1E9FFF; }

.layui-bg-black {
  background-color: #fff !important; }

/*# sourceMappingURL=index.css.map */
