<!DOCTYPE html>
<html>

<body>
<script src="../../../assets/js/help.js"></script>
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->

<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
<link rel="stylesheet" href="style/noticeAnnouncement.css">
<link rel="stylesheet" href="style/commonStyle.css">
<script src="./../../../public/static/elementui/vuejs.js"></script>
<script src="./../../../public/static/elementui/elementui.js"></script>

<div id="app" style="display:flex;">
    <div class="layui-body" style="margin-left: 20px;margin-top: 5px;">
            <div class="top">
                <div class="search">
                    <input type="search" class="seaa" placeholder="搜索" v-model='submitSerch'>
                    <i class="el-icon-close"  @click='x' ></i>
                    <el-button  type="primary" @click="searchInput">搜索</el-button>
                </div>
                <div>
                    <p style="line-height: 40px;font-size: 16px;font-weight: 400">登录页面展示标题：<span class="titleColor">{{loginTitle}}</span></p>
                </div>
                <div class="btn">
                    <el-button type="primary" @click="newly('add')">新建</el-button>
                    <el-button type="success" @click="newly('edit')">编辑</el-button>
                    <el-button class="button-delete" type="danger" @click="cutOut">删除</el-button>
                </div>
             </div>
        <!-- 数据表格 -->
        <div class="f-table">
            <el-table
            border
                    :data="tableData"
                    @selection-change="handleSelectChangeLeft"
                    style="width: 100%">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        label="序号"
                        prop="num">
                </el-table-column>
                <el-table-column
                        label="标题"
                        prop="title">
                </el-table-column>
                <el-table-column
                        label="时间"
                        prop="time">
                </el-table-column>
                <el-table-column
                        label="操作"
                        align="right">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="handleEdit(scope.$index, scope.row)">详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    :page-sizes=[10]
                    @current-change="handleCurrentChange"
                    :current-page="tableDataPage"
                    layout="prev, pager, next, jumper"
                    :total="tableDataTotal">
            </el-pagination>
        </div>
    </div>
    <!-- 新建弹框 -->
    <el-dialog
            :title="title"
            :visible.sync='showDialog'
            @closed="ownClosed"
            width="800">
        <el-form label-width="110px" :model="ruleForm" :rules="rules" ref="ruleForm">
            <el-form-item label="登录页标题展示">
                <el-radio-group v-model="ruleForm.showTitle" :disabled="dialogDisabled">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="2">否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="活动名称" prop="noticeName">
                <el-input v-model="ruleForm.noticeName" :disabled="dialogDisabled"></el-input>
            </el-form-item>
            <el-form-item label="活动形式">
                <el-input type="textarea" v-model="ruleForm.noticeDesc" :disabled="dialogDisabled"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary"  @click="submitForm('ruleForm')">确定</el-button>
                <el-button @click="closeBtn">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>


<script type="text/html" id="conntClick">
    <a class="layui-btn layui-btn-xs" lay-event="openApp">打开</a>
    <a class="layui-btn layui-btn-xs" lay-event="closeApp">关闭</a>
    <a class="layui-btn layui-btn-xs" lay-event="appInfo">详情</a>
</script>

<!--修改密码-->
@@include("../tpl/updataPassword.html")

<script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
<script src="../../../public/static/jquery-1.12.4.js"></script>
<script src="../../../public/static/echarts/echarts.min.js "></script>
<script src="../../../public/static/mock.js"></script>
<!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
<!-- <script src="../../../assets/js/help.js"></script> -->
<!-- <script src="./js/index.js"></script> -->
<script src="js/noticeAnnouncement.js"></script>
<!--include "./../../../components/footer/footer.html"-->

<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</body>

</html>