<!--<script src="../../../assets/js/help.js"></script>-->
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<link rel="stylesheet" href="./style/index.css">

<div class="layui-bod">
  <div id="home">
    <div class="resetLeft userInfo">
      <h3>用户信息</h3>
      <div class="users">
        <span class="userTitle">平台注册用户数</span>
        <span class="user" v-text="userData.userCount"></span>
      </div>
      <div class="users">
        <span class="userTitle">当前在线用户数</span>
        <span class="user" v-text="userData.onLineUserCount"></span>
      </div>
      <div class="users">
        <span class="userTitle">本日总在线时长</span>
        <span class="user" v-text="userData.onLineUserTimeCount"></span>
      </div>
      <div class="users">
        <span class="userTitle">本日在线最长的科室</span>
        <span class="user" v-text="userData.departmentName"></span>
      </div>
      <div class="users">
        <span class="userTitle">本日在线时间最长的用户</span>
        <span class="user" v-text="userData.realName"></span>
      </div>
    </div>
    <div class="resetLeft licence">
      <h3 style="margin-bottom: 10px;">许可证资源管理</h3>
      <div style="margin-left: 15px;">
        <el-button type="primary" round size="mini" v-for="item in button" v-text="item.name"
          @click="handleLince(item.id)"></el-button>
      </div>
      <div class="homeTable" style="height: 436px;overflow-y: auto">
        <el-table border :data="tableData" style="width: 100%">
          <el-table-column prop="name" label="模块">
          </el-table-column>
          <el-table-column prop="daemonName" label="守护程序" width="150">
          </el-table-column>
          <el-table-column prop="useAndTotal" label="占用/总数" width="150">
          </el-table-column>
          <el-table-column prop="address" label="使用率">
            <template slot-scope="scope">
              <ul class="fl speedBg">
                <span v-for="iten in 9" class="clearance"></span>
                <li class="zzc" :style="linceValue[scope.$index]"></li>
              </ul>
              <span v-text="scope.row.useRate == null ? 0 : scope.row.useRate"></span>
              <span>%</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div class="resetLeft software">
      <h3 style="margin-bottom: 10px;">软件报表</h3>
      <div style="height: 30px;">
        <div style="float: left; margin-left: 15px;">
          <el-button type="primary" round size="mini">最近一周</el-button>
        </div>
        <div style="float: right; margin-right: 15px; margin-top: 5px;">
          <span class="sign"></span>
          <span class="sotfTitle">使用人数</span>
        </div>
      </div>
      <div v-for="(item, index) in applicationData" style="margin: 26px;">
        <span class="reDisplay softName" v-text="item.appName"></span>
        <!-- <span class="reDisplay speed" :style="applicetionValue[index]"></span> -->
        <div class="reDisplay progress"><el-progress :text-inside="true" :stroke-width="13" :percentage="applicetionValue[index]" color="#83D688"></el-progress></div>
        <span class="reDisplay softValue" v-text="item.count"></span>
      </div>
    </div>
    <div class="charts">
      <div class="usageRate">
        <div id="main" style="width: 100%;height:70%;"></div>
        <h2 class="text-center">CPU使用率</h2>
      </div>
      <div class="usageRate">
        <div id="main1" style="width: 100%;height:70%;"></div>
        <h2 class="text-center">GPU使用率</h2>
      </div>
      <div class="usageRate">
        <div id="main2" style="width: 100%;height:70%;"></div>
        <h2 class="text-center">内存使用率</h2>
      </div>
    </div>
  </div>
</div>

<!--修改密码-->
@@include("../tpl/updataPassword.html")
<!--include "./../../../components/footer/footer.html"-->

<!-- 发送消息 -->
<script src="../../../public/static/echarts/echarts.min.js "></script>
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="js/home.js"></script>
<script src="js/index.js"></script>

</body>

</html>