<div id="messageDiaog" style="display:none;">
  <div class="layui-tab" lay-filter="tab">
    <ul class="layui-tab-title">
      <li class="layui-this">发送消息</li>
      <li>发送记录</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <div class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">收件人:</label>
            <div class="layui-input-inline">
              <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="收件人..." class="layui-input addressee">
            </div>
            <div class="layui-form-mid layui-word-aux"><i class="layui-icon add-user-fn">&#xe608</i></div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">显示时间:</label>
            <div class="layui-input-inline">
              <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入消息显示时间(天)" class="layui-input liveTime">
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容:</label>
            <div class="layui-input-block">
              <textarea placeholder="请输入内容" class="layui-textarea content"></textarea>
            </div>
          </div>

          <div class="layui-form-item layui-form-text">

          </div>
        </div>


      </div>
      <div class="layui-tab-item">
        <div class="layui-form">
          <!-- <div class="layui-form-item"> -->
          <!--  <label class="layui-form-label">单行输入框</label> -->

          <div class="layui-input-block fl">@@include("../../admin/tpl/search-btn.html", { "btn": "massage-btn",
            "input": "massage-input" })</div>

          <!-- <button class="layui-btn layui-btn-normal layui-btn-sm btn-export">导出</button> -->

          <!-- </div> -->
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">普通文本域</label>
            <div class="layui-input-block">
              <div class="tips-box">
                <!-- <div class="tips-list">
                                    <div>2017-01-12 10:33:24</div>
                                    <div>to：全体</div>
                                    <p>通知：XXXXXXXXXXXXXXXXXXXXXX</p>
                                </div> -->
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>


<div class="select-user clearfix" id="userAddDiaog" style="display:none;" name="myDiv">
  <div class="select-div tree">
    <div id="treeList" class="department-tree"></div>
  </div>
  <div class="select-div">
    <select multiple class="show-option layui-input" id="brand_sel" name="list1">
      <!-- <option>sdfd</option>
            <option>sdfd</option>
            <option>sdfd</option> -->
    </select>
  </div>
  <div class="select-div select-btn">
    <i class="layui-icon push">&#xe602;</i>
    <i class="layui-icon">&#xe65b;</i>
    <i class="layui-icon dele">&#xe603;</i>
    <i class="layui-icon">&#xe65a;</i>
  </div>
  <div class="select-div">
    <select multiple class="select-option layui-input" id="choose_sel" name="list2">
      <!-- <option>sdfd</option> -->
    </select>
  </div>
</div>