.resetLeft {
  float: left;
}
#home h3 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin: 5px 0 0 5px;
}
.userInfo {
  width: 20%;
  height: 500px;
  background: #fff;
  margin-top: 5px;
  margin-left: 5px;
  .users {
    height: 60px;
    border-bottom: 1px solid #cccccc;
    margin: 26px;
  }
  .userTitle {
    line-height: 64px;
  }
  .user {
    float: right;
    line-height: 64px;
    color: #1571f9;
  }
}
.licence {
  width: 50%;
  height: 500px;
  background: #fff;
  margin-top: 5px;
  margin-left: 5px;
  .speedBg {
    background: url(../img/speed.jpg) no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 16px;
    border: solid 1px #000000;
    display: flex;
    // justify-content: space-around;
    overflow: hidden;
    position: relative;
    .clearance {
      display: inline-block;
      width: 2px;
      height: 20px;
      background: #fff;
      z-index: 999;
      margin-left: 18px;
    }
    .zzc {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #ccc;
    }
  }
}
.el-table td {
  padding: 6px 0 !important;
}
.homeTable .el-table .cell {
  text-align: center;
}
.software {
  width: 28.5%;
  height: 500px;
  background: #fff;
  margin-top: 5px;
  margin-left: 5px;
  overflow: hidden;
  .sign {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #83d688;
  }
  .sotfTitle {
    display: inline-block;
  }
  .reDisplay {
    display: inline-block;
  }
  .progress {
    width: 300px;
    vertical-align: top;
  }
  .el-progress-bar__innerText {
    color: #333333;
  }
  .softName {
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 20px;
  }
  .softName:hover {
    overflow: visible;
  }
  .speed {
    width: 300px;
    height: 10px;
    background: #83d688;
    border-radius: 25px;
  }
  .softValue {
    float: right;
  }
}
.charts {
  width: 88.7%;
  margin-left: 5px;
  height: 340px;
  background: #fff;
  position: absolute;
  top: 580px;
}

// 树状图
.layui-tree li {
  overflow: visible !important;
}