/**
* @date 2018-03-27
**/


/* /主页 */

.info-title {
  padding: 10px;
  text-align: center;
  background: rgb(6, 150, 131);
  height: 8%;
  margin-left: 2px;
}

/* 首页标题图片div */
.homeTitle {
  vertical-align: middle;
  text-align: center;
}



.info-box {
  margin: 10px;
  margin-top: 2.5%;
  height: 38%;
  overflow: hidden;
}

.info-box li {
  float: left;
  width: 33.3%;
  position: relative;
  height: 100%;
}

.info-box .info-list {
  margin: 10px;
  height: 100%;
  background: url(../img/homeBg.png) no-repeat;
  background-size: 100% 96%;
}

.info-list h2 {
  margin-bottom: 4%;
  line-height: 36px;
}

.info-list p {
  padding: 1px 16px;
  font-size: 16px;
}

.usageRate h2 {
  line-height: 36px;
}

.chart {
  margin: 10px;
  margin-top: 2.5%;
  height: 38%;
  overflow: hidden;
}

.chart li {
  float: left;
  width: 33.3%;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.charts .usageRate {
  margin: 10px;
  width: 30%;
  height: 100%;
  float: left;
  /* background: url(../img/homeBg.png) no-repeat; */
  background-size: 100% 96%;
}







/* 弹框 */

.add-user-fn {
  font-size: 22px;
  cursor: pointer;
}

.btn-export {
  margin: 3px;
  float: right;
}

.select-div {
  float: left;
}

.select-div {
  height: 200px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  width: 150px;
  margin: 10px 20px;
}

.select-btn {
  width: 40px;
  display: table;
}

.show-option,
.select-option {
  width: 100%;
  height: 100%;
  border: none;
}

.select-btn i {
  display: table-row;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
}

.tips-box {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 10px;
  height: 120px;
  overflow-y: auto;
}

.tips-list p {
  text-indent: 2em;
}

.tree {
  overflow: auto;
}