


.layui-body{
	overflow: auto!important;
}
.layui-body .user-administration{
    width: 0.7rem;
    text-align: center;
    padding: 0.02rem 0.2rem;
    background: dimgrey;
    border-radius: 0.05rem 0.05rem 0px 0px;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    font-weight: 900;
    color: white;
}
.layui-body .link{
    width: 100%;
    height: 0.01rem;
    background: black;
}



/*搜索框*/
.searcher{
	width: 2.5rem;
	margin: 0.3rem;
	/*margin-left: 0.3rem;*/
	border: 1px solid black;
	border-radius: 0.1rem;
}
.searcher .searcher-main{
	width: 100%;
	text-align: center;
}
.searcher .searcher-main input{
	width: 80%;
	text-align: center;
	outline: none;
	font-size: 0.12rem;
	border: none;
}

/*主体详情*/
.main-nav{
	width: 100%;
}

/*左侧导航*/
.left-nav{
	width: 2.5rem;
	margin-left: 0.3rem;
	float: left;
	/*background-color: blue;*/
}
.left-nav .left-nav-main{
	width: 100%;
	height: 4rem;
	border: 1px solid red;
	margin-top: 0.3rem;
}
.left-nav .operation-btn{
	display: flex;
	justify-content: space-between;
	width: 100%;
}


/*右侧导航*/
.right-nav{
	width: 5rem;
	height: 4rem;
	/*border: 1px solid #000000;*/
	margin-left: 0.5rem;
	float: left;
}
.right-nav .list-details{
	line-height: 0.3rem;
	font-size: 0.14rem;
} 
.right-nav .layui-table tr th{
	text-align: center;
}
.layui-table-box, .layui-table-view{
	width: 9.5rem;
	/*overflow: auto!important;*/
}
.layui-table-header{
	overflow: auto;
}

/* 树状图在 火狐不显示 */
.layui-tree li {
  overflow: visible !important;
}