a {
    text-decoration: none;
    background: none
}

:focus {
    outline: none;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    overflow: hidden
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.fl {
    float: left;
    /* margin-top: 20px; */
}

.fr {
    float: right;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pr {
    position: relative;
}

