/**
* @date 2018-4
**/
/* 树状图在 火狐不显示 */
.layui-tree li {
  overflow: visible !important;
}
.layui-body {
  background: #fff;
  margin-top: 5px;
  margin-left: 5px;
}

/*页面出现滚动条*/
body {
  overflow: auto;
}


/* 左侧通知样式 */

.notice-box {
  background: #eee;
  height: 5px;
}

.notice-content {
  text-indent: 2rem;
}

.notice-time {
  text-align: right;
}
.layui-this a {
  padding-left: 62px !important;
  color: white !important;
  border-radius: 4px;
  margin: 0 2px;
}
#ownnav .home {
  background-image: url('../img/nav-1.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px !important;
  background-position-y: 14.5px;
  padding-left: 62px !important;
}

#ownnav li:first-of-type {
  width: 200px;
}
#ownnav .layui-nav-more {
  right: 20px;
}
.layui-this a {
  padding-left: 42px !important;
  background-position-x: 13px !important;
}
#ownnav .layui-this .home {
  background-position-x: 12px;
  color: #fff !important;
}
#ownnav .layui-this .toApplication {
  background-position-x: 12px;
}
#ownnav .toApplication {
  background-image: url('../img/wdyy.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#ownnav .layui-nav-child dd a {
  padding-left: 62px !important;
}
#ownnav .application {
  background-image: url(../img/wdyy.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px !important;
  background-position-y: 14.5px;
  padding-left: 62px !important;
}

#menuBox #ownnav li .usermanageReport{
  background-image: url('../img/zzgl.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#menuBox #ownnav li .hardwaremanageReport{
  background-image: url('../img/nav-3.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#menuBox #ownnav li .examineAndApprove,#menuBox #ownnav li .hardwaregroupmanageReport{
  background-image: url('../img/zysp.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#menuBox #ownnav li .approvalmanagement{
  background-image: url('../img/zysp.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#menuBox #ownnav li .connectManage ,#menuBox #ownnav li .hardwareMonitor{
  background-image: url('../img/jkbb.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#menuBox #ownnav li .dictionaryTable{
  background-image: url('../img/xtsz.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#menuBox #ownnav li .userDataManager{
  background-image: url('../img/sjgl.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
#menuBox #ownnav li .workList ,#menuBox #ownnav li .submitWorkOrder,#menuBox #ownnav li .acceptWorkOrder{
  background-image: url('../img/workOrder.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 14.5px;
  padding-left: 62px;
}
/*设置主体overflow*/
.layui-content {
  overflow: auto;
}
/*表格文字居中*/
.layui-table-view .layui-table td,
.layui-table-view .layui-table th {
  text-align: center;
}
/*设置下拉框高度*/
.layui-form-select dl {
  max-height: 200px;
}

.search-btn {
  height: 100%;
  padding: 3px 17px;
}

body .display-none {
  display: none;
}

.layui-bod {
  margin-left: 200px;
  width: auto;
  overflow: hidden;
  height: 100%;
}

.yes {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/yes.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.star {
  color: #d54a3a !important;
}

.no {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/no.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 弹框 */

.add-user-fn {
  font-size: 22px;
  cursor: pointer;
}

.btn-export {
  margin: 3px;
  float: right;
}

.select-div {
  float: left;
}

.select-div {
  height: 200px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 150px;
  margin: 10px 20px;
}

.select-btn {
  width: 40px;
  display: table;
}

.show-option,
.select-option {
  width: 100%;
  height: 100%;
  border: none;
}

.select-btn i {
  display: table-row;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
}

.tips-box {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 10px;
  height: 120px;
  overflow-y: auto;
}

.tips-list p {
  text-indent: 2em;
}

.tree {
  overflow: auto;
}

.mouseHover:hover {
  color: #1e9fff;
  text-shadow: black 2px 2px 3px;
}

.layui-form-item {
  margin-bottom: 0px;
}

/*翻页背景颜色*/
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #1e9fff;
}
/*用户管理判断是否普通用户背景颜色*/
.layui-form-checked span,
.layui-form-checked:hover span {
  background-color: #1e9fff;
}
/*按钮背景颜色*/
.layui-btn {
  background-color: #1e9fff !important;
  /* height: 38px; */
}
/*下拉背景颜色*/
.layui-form-select dl dd.layui-this {
  background-color: #1e9fff;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
  background-color: #1e9fff;
  /*border-radius: 4px;*/
}
.layui-nav-tree .layui-nav-bar {
  background-color: #1e9fff;
}

/*.el-message-box__header{*/
/*background-color: #1E9FFF;*/
/*}*/

#layui-layer19 {
  width: 200px;
  height: 100px;
}

.yes {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/yes.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.star {
  color: #d54a3a !important;
}

.no {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/no.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.redTan {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/redTan.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.yellowTan {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/yellowTan.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.chehui {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/chehui.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.layui-nav-itemed > a,
.layui-nav-tree .layui-nav-title a {
  color: black !important;
}
.ownInputClose{
  color: #666666!important;
  font-weight: normal!important;
  font-size: 16px!important;
  margin-right: 0!important;
  cursor: pointer;
}
.layui-layer-title{
  /*background: #1E9FFF!important;*/
  /*color:#FFFFFF!important;*/
}
.el-dialog__headerbtn .el-icon-close{
  margin-right: 0!important;
  margin-left: 0!important;
}
.el-dialog__headerbtn {
  width: auto!important;
}
.el-dialog__headerbtn .el-dialog__close, .el-message-box__headerbtn .el-message-box__close {
  position: relative!important;
  left: 0!important;
}


.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #DCDFE6!important;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #DCDFE6 !important;
}
.el-table--border, .el-table--group {
  border: 1px solid #DCDFE6!important;
}
.el-table--border {
  border-right: none!important;
  border-bottom: none!important;
}