html,
body {
  height:100%;
}
.loginbtn {
  height: 68px;
  font-size: 24px!important;
}
.backImg{
  /*min-width: 1452px;*/
  width: 100%;
  height: 100%;
  background-image: url('../img/loginBG.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}
.layui-input, .layui-select, .layui-textarea {
  height: 68px;
  font-size: 16px!important;
}
.layui-layout-body {
  font-family: 'Microsoft YaHei' !important;
}

.layui-content {
  background: transparent !important;
}

.layui-fluid {
  height: 100%;
}

.layui-fluid {
  padding: 0;
}

.layui-content {
  height: 100%;
  display: flex;
  align-items: center;
  /* position: relative; */
}

.loginBox {
  width: 266px;
  height: 260px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  position: absolute;
  right: 20%;
  top: 290px;
  padding: 40px 40px;
}

.loginBox .layui-form {
  text-align: center;
}

.loginBox .layui-input,
.layui-select,
.layui-textarea {
  background: #f2f1f5;
  border: none;
  color: #a0a0a5;
  width: 100%;
}

.loginBox .layui-inline {
  width: 100%;
}

.loginBox .layui-input-block {
  margin-left: 0;
}

.loginBox .layui-input-inline {
  width: 100% !important;
}

.layui-footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.layui-form-item {
  margin-bottom: 8px;
}

.find {
  /* float: right; */
  background: transparent !important;
  border: none;
  color: #797b80 !important;
}

.enterName {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/user.png) !important;
  background-repeat: no-repeat !important;
  background-size: 28px 28px !important;
  position: absolute;
  top: 7px;
  right: 24px;
}

.enterPass {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/password.png) !important;
  background-repeat: no-repeat !important;
  background-size: 28px 28px !important;
  position: absolute;
  top: 7px;
  right: 24px;
}

.loginBox .layui-btn + .layui-btn {
  margin-left: 0;
}

@media screen and (min-width: 1550px) {
  .layui-input,
  .layui-select,
  .layui-textarea {
    height: 68px;
    /*font-size: 18px;*/
  }

  .loginbtn {
    height: 68px;
    font-size: 24px!important;
  }

  .enterPass {
    top: 11px;
  }

  .enterName {
    top: 11px;
  }

  .find {
    /*font-size: 16px;*/
  }
  .layui-carousel {
    height: 20px !important;
  }
  .layui-carousel div div {
    background: #e8f5ff !important;
    padding: 0 10px;
  }
}
#usermanualHtml .left {
  border: 1px solid rgba(230, 230, 230, 1);
  width: 74%;
}
#usermanualHtml .right {
  border: 1px solid rgba(230, 230, 230, 1);
  width: 25%;
}
#usermanualHtml {
  display: flex;
  padding: 10px;
  height: 96%;
}
#usermanualHtml li button {
  float: right;
  background: #1e9fff;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;

}
#usermanualHtml li {
  line-height: 28px;
  padding: 10px 14px;
  border-bottom: solid 1px #e6e6e6;
  overflow: hidden;
  cursor: pointer;
}
#lunbolHtml .left {
  border: 1px solid rgba(230, 230, 230, 1);
  width: 25%;
}
#lunbolHtml .right {
  border: 1px solid rgba(230, 230, 230, 1);
  width: 74%;
}
#lunbolHtml {
  display: flex;
  padding: 10px;
  height:96%
}
#lunbolHtml li button {
  float: right;
  background: #1e9fff;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;

}
#lunbolHtml li {
  line-height: 28px;
  padding: 10px 14px;
  border-bottom: solid 1px #e6e6e6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

}
.colors {
  color: #1e9fff;
}
.layui-layer-title {
  color: white !important;
  background: #1e9fff !important;
}
.layui-layer-close1 {
  color: white !important;
}
.lunbo div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layui-this a {
  color: white!important;
  border-radius: 4px;
  margin: 0 2px;
}
/*@media screen and (max-width: 1367px){*/
/*body {*/
/*background-size: 120% 130%;*/
/*background-position-x: 54%;*/
/*background-position-y: 62%;*/
/*}*/
/*.loginBox {*/
/*width: auto;*/
/*right: 12.5%;*/
/*top: 26%;*/
/*}*/
/*}*/
.technical-support{
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 46%;
  color: white;
}