/* 弹窗所有样式 */
.layui-layer-title {
  background: #ffffff !important;
}

/* 表格所有样式 */
.el-table__header th,
.el-table__header tr {
  /*background-color: #f6f6f6 !important;*/
  font-size: 14px;
  color: #333333;
}
.el-table__header tr,
.el-table__header th {
  padding: 0;
  height: 38px;
}
.el-table__body tr,
.el-table__body td {
  padding: 0;
  height: 38px;
}
.layui-table thead th,
.layui-table thead tr {
  /*background-color: #f6f6f6 !important;*/
  font-size: 14px;
  font-weight: 900;
  color: #333333;
}
.layui-table td,
.layui-table th {
  font-size: 13px;
}

/* 按钮所有样式 */
.button-delete {
  background: red !important;
}
.search-btn {
  height: 38px;
}

/* 所有搜索框样式 */
.layui-form-item .layui-input-inline {
  margin-right: 0px !important;
}

/* 输入框样式 */
input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

/* 导航样式 */
.layui-nav-tree .layui-nav-item a:hover {
  border-radius: 4px;
}
#menuBox a:hover {
  color: #fff;
}
.layui-nav-tree .layui-nav-title a:hover {
  color: #fff !important;
}
.layui-nav .layui-nav-item a:hover {
  color: #fff !important;
}
.layui-nav-item dl dd a {
  /*text-indent: -10px;*/
  margin-left: -10px;
}
.cell input{
  border:none
}
/* 图标样式 */
.layui-tree li ul{
  margin-left: 35px;
}
.layui-tree li i{
  padding-left: 1px;
}
.layui-tree li .layui-tree-spread{
  margin-left: -20px;
}
.layui-tree li{
  overflow: visible;
}
.layui-tree>li>.layui-tree-spread{
  margin-left: 0;
}
.layui-show .layui-show{
  margin-left: 18px;
}
.layui-show .layui-show .layui-show{
  margin-left: 15px;
}
.layui-tree li .layui-tree-branch{
  padding-left: 5px;
}
.layui-nav .layui-nav-more{
  border-top-color: black;
}