.el-table thead th, .el-table thead tr {
    background: whitesmoke;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}
.layui-body {
    background: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.07);
}
/*.el-dialog__header {*/
    /*background: #1E9FFF;*/
/*}*/
/*.el-dialog__title, .el-message-box__title {*/
    /*color: #FFFFFF;*/
/*}*/
/*.el-dialog__headerbtn .el-dialog__close, .el-message-box__headerbtn .el-message-box__close {*/
    /*color: #FFFFFF;*/
/*}*/
.el-dialog__body .el-input__inner{
    width: 200px;
}
.changeAp .el-input-group__append{
    background: transparent;
    border: none;
    font-size: 19px;
    position: relative;
    left: -16px;
    color: black;
}
/*.el-table thead tr{*/
    /*background:whitesmoke!important;*/
/*}*/