[class^=el-icon-] {
  cursor:default !important;
}
.el-tab-pane {
  display: none; }

.btn {
  float: right; }

#app {
  overflow: hidden; }

.position {
  margin: 36px 0 10px 0;
  font-size: 18px; }
  .position .path {
    color: #409EFF; }

.myData {
  overflow: hidden; }

.space {
  display: flex; }

.el-progress {
  width: 16%; }

.el-progress__text {
  display: none; }

.f-table {
  padding: 20px 0; }
  .f-table .cell {
    text-align: left; }

.folderName {
  display: flex;
  padding: 10px 20px; }
  .folderName .el-input {
    width: 60%; }

.folderTips {
  display: flex;
  padding: 10px 20px; }
  .folderTips .el-input {
    width: 60%; }

.el-dialog__footer {
  text-align: center !important; }

/*.el-dialog__header {*/
  /*background: #409EFF; }*/

/*.el-dialog__title {*/
  /*color: white !important; }*/

/*.el-dialog__headerbtn .el-dialog__close {*/
  /*color: white !important; }*/

.el-progress-bar__outer {
  background-color: #ccd1dc !important; }

.el-table thead th, .el-table thead tr {
  background: whitesmoke;
  color: #000000;
  font-weight: bold;
  font-size: 14px; }

.cInputS .el-textarea__inner, .cInputS .el-input__inner {
  width: 300px; }
.cInputS .el-form-item {
  margin-left: 8%; }

.el-textarea .el-textarea__inner {
  width: 73% !important; }

.upload-demo {
  position: relative; }
  .upload-demo .el-upload-list__item {
    padding: 5px 0; }
  .upload-demo .el-upload-dragger {
    width: 100% !important; }

.ownCline .el-textarea__inner {
  width: 100% !important; }

.handleOn {
  cursor: pointer; }

.el-upload--text {
  width: 100%; }

/*# sourceMappingURL=userData.css.map */
.f-table .is-left .cell{
  text-align: left;
}
/*.png{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/png.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
/*.jpg{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/jpg__easyiconnet.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
/*.excel,.xlsx{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/excel.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
/*.pdf{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/pdf.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
/*.ppt{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/ppt.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
/*.tif{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/tif.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
/*.word{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/word.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
/*.exe{*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*background-image: url("../../../../assets/img/ziyuan.png");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  /*display: inline-block;*/
/*}*/
.folder{
  width: 14px;
  height: 14px;
  background-image: url("../../../../assets/img/folder.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.el-icon-top{
  cursor: pointer!important;
}