.search {
  width: 200px;
}
.el-input-group__append{
  background: #409EFF;
  color: #fff;
}
.table{
  margin-top: 20px;
}
.el-table__header .cell {
  text-align: center;
}
.el-table__body-wrapper .cell {
  text-align: center;
}
.el-table__header thead th {
  background: #e6e6e6;
}