.layui-content{
    background: #eee;
    padding: 0 !important;
}
.body-top{
    height:371px;
width:100%;
background: #fff;
padding: 20px;
box-sizing:border-box;
}
.middle-content{
width:126px;
margin: 30px 30px 0 0;
float: left;
}
.mapping-img{
    width:126px;
    height:78px;
    margin-bottom:20px;
    cursor: pointer;
}
.mapping-btn{
position: absolute;;
bottom: 20px;
right: 20px
}
.el-checkbox{
    margin-left: 15px;
    cursor: pointer;
}
h3{
    font-weight: normal;
  clear: both;
}
.new-dialog{
    font-family: "PingFangSC-Medium", "PingFang SC Medium", "PingFang SC";
    font-weight: 500;
    font-size: 16px;
}
.el-dialog{
    width: 709px;
    height:574px;
}
.new-dialog .el-input{
    width:210px;
    height:40px;
    padding: 3px 2px 3px 2px;
    font-family: "Arial Normal", "Arial";
    font-weight:400;
    font-size: 13px;
    text-align: left;
    text-transform: none;
}
.new-dialog .el-form-item{
    width:310px;
}
.new-dialog .el-form-item__label{
  width:120px !important;
}
.new-dialog .el-form-item__content{
    width:210px;
    margin-left: 120px !important;
}
.new-dialog .form-top .el-form-item,.form-bottom .el-form-item{
    float: left
}
.new-dialog .form-textarea{
    width:100%
}
.new-dialog .form-textarea .el-form-item__content{
width:533px;
}
.new-dialog .mapping-btn{
    float: right
}
/* bottom */
.body-bottom{
    margin-top: 15px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.search {
    width:300px !important;
}
.cloud-table{
    margin-top: 20px;
}