/**
* @date 2018-03-07
* @author zzj
* @content 监控主页面样式
*/
/* 连接管理设置 */
.layui-layout-admin .layui-body{
  bottom: 0;
}
.layout{
  width: 100%;
  height: 90%;
}
.left-content{
  width: 226px;
  height: 100%;
  float: left;
  border: 1px solid #000;
  overflow-y: auto;
  margin-right: 5px;
}
.right-content{
  width: 85.9%;
  height: 100%;
  float: left;
}
.layui-table, .layui-table-view {
  margin: 0 0;
}
/* 用户监控 */
.usersearch{
  height: 70px;
}


/* --------------------------------- */

.layui-tree li a {
  width: 100%;
}

.typeBox {
  float: left;
}


.layui-content {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.left-menu {
  width: 250px;
  height: 100%;
  border: 1px solid #000;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.clearfix {
  height: 82%;
}

.layui-table tr th {
  text-align: center;
}

#detailHtml {
  min-width: 1297px;
}


.useinfo tr th {
  text-align: center;
}

.useinfo td {
  text-align: center;
}

#treeList li {
  font-size: 16px;
  /* text-indent: 8px; */
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  height: 100%;
}

#treeList div {
  font-size: 16px;
  text-indent: 8px;
  height: 30px;
  line-height: 30px;
  margin: 2px 2px 2px 2px;
  cursor: pointer;
  height: 100%;
}

.mouseover {
  background: rgb(243, 242, 240)
}

.click {
  background: rgb(43, 186, 117)
}


/* 硬件监控  */


.dashboard-box {
  width: 100%;
}



.hardBox {
  overflow: hidden;
}

.hardBox li {
  padding: 10px 10px;
  position: relative;
  width: 10%;
}

.hardBox li img.hardImg {
  display: block;
  margin: auto;
  width: 80px;
  height: 100px;
  cursor: pointer;
}

.hardBox li img.hardFlag {
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 25px;
  height: 25px;
}
.hardBox li div.userFlag {
  position: absolute;
  bottom: 40%;
  right: 10%;
  width: 25px;
  height: 25px;
  background-image: url("../../../../assets/img/isUser.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.state-1 {
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
}


/* 软件监控 */

.layui-layer-shade {
  z-index: -9999999999999;
}

.softGraph {
  box-sizing: border-box;
  /* padding: 10px 100px; */
  width: 100%;
  height: 550px;
}

.arrowBox {
  position: absolute;
  top: 48%;
  width: 100%;
}

.arrowBox i {
  font-size: 60px;
  cursor: pointer;
}

.echartBox {
  position: absolute;
  top: 48%;
  width: 100%;
}

.echartBox i {
  font-size: 60px;
  cursor: pointer;
}

.arrowBox i {
  font-size: 60px;
  cursor: pointer;
}

/* 时间段选择框 */

.date-range {
  display: inline-block;
  width: 20%;
}

.data {
  display: inline-block;
  width: 20%;
}

.layui-col-sm8 {
  width: 83%;
}

.layui-table-view {
  margin-left: 0px
}

.userTime {
  margin-left: 40%;
}

.usercount {
  width: 100px;
  height: 5px;
  background: #9ACD32;
}

.time {
  width: 100px;
  height: 5px;
  background: #CD9B1D;
}

.usercount {
  float: left;
}

.time {
  float: left;
  margin-left: 20px;
}

.userinfo {
  margin-left: 42%;
}

.userinfo .right {
  margin-left: 45px;
}

/* 用户报表 */
/* 登录信息样式 */
.loginInformation {
  font-size: 16px;
  text-indent: 10px;
  line-height: 20px;
  margin-bottom: 2px;
}

/* 软件信息样式 */
.appInfo {
  font-size: 16px;
  text-indent: 10px;
  line-height: 20px;
  margin-bottom: 2px;
}

/* 工作时间样式 */
.timeInfo {
  font-size: 16px;
  text-indent: 10px;
  line-height: 20px;
  margin-bottom: 2px;
}

/**treeselect下拉树状图*/

.downpanel .layui-select-title span {
  line-height: 38px;
  overflow: hidden;
}

/*继承父类颜色*/

.downpanel dl dd:hover {
  background-color: inherit;
}

.serverName {
  text-align: center;
}


/* 用户监控 */
.userClearfix {
  margin-top: 10px;
}

.orgBox {
  width: 42%;
}

.solf-item{
  float: left;
}

/* 树状图在 火狐不显示 */
.layui-tree li {
  overflow: visible !important;
}
.connected{
  background: #F5F5F5;
  color: #87888B;
  border: 1px solid #87888B;
  width: 80px;
  height: 28px;
}
.noConnected{
  background: #FEF1F1;
  color: #F78788;
  border: 1px solid #F78788;
  width: 80px;
  height: 28px;
}

.layui-tree li a{
  width: auto;
}