<!DOCTYPE html>
<html>

<body>
<script src="../../../assets/js/help.js"></script>
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->

<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />-->
<link rel="stylesheet" href="style/submitWorkOrder.css">
<script src="./../../../public/static/elementui/vuejs.js"></script>
<script src="./../../../public/static/elementui/elementui.js"></script>
<style>
    [v-cloak]{
        display : none !important;
    }
</style>
<div id="app" style="display:flex;"  v-cloak>
    <div class="layui-body" style="margin-left: 5px;margin-top: 5px;">
        <div style="margin:20px 20px;">
            <el-input placeholder="请输入搜索内容" v-model='submitSerch' style="width:200px"
                      @keyup.enter.native="searchTable">
                <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click='resetSearch'></i>
            </el-input>
            <el-button  type="primary" @click="searchTable">搜索</el-button>
            <el-button  type="primary" style="float: right" @click="addWorkOrderFun">新建</el-button>
        </div>
        <div class="f-table">
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        label="状态"
                        prop="stateValue">
                    <template slot-scope="scope">
                        <el-tooltip class="item" effect="dark" :content="scope.row.statusValue" placement="right">
                            <i v-if="scope.row.status==1" class="yellowTan"></i>
                            <i v-if="scope.row.status==2" class="no"></i>
                            <i v-if="scope.row.status==0" class="yes"></i>
                        </el-tooltip>
                    </template>
                </el-table-column>
                <el-table-column label="提交时间" :show-overflow-tooltip="true" prop="createTime"></el-table-column>
                <el-table-column label="提交人员" :show-overflow-tooltip="true" prop="author"></el-table-column>
                <el-table-column label="问题类型" :show-overflow-tooltip="true" prop="problem_type"></el-table-column>
                <el-table-column label="软/硬件"  :show-overflow-tooltip="true" prop="equipment"></el-table-column>
                <el-table-column
                        label="工单标题"
                        :show-overflow-tooltip="true"
                        prop="title">
                    <template slot-scope="scope">
                        <el-button
                                class="colorNone"
                                type="text"
                                @click="showDetail(scope.row,'title')"
                                size="small">
                            {{scope.row.title}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        label="问题描述"
                        :show-overflow-tooltip="true"
                        prop="describe">
                    <template slot-scope="scope">
                        <el-button
                                class="colorNone"
                                type="text"
                                @click="showDetail(scope.row,'description')"
                                size="small">
                            {{scope.row.describe}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column label="处理意见" :show-overflow-tooltip="true" prop="opinion">
                    <template slot-scope="scope">
                        <el-button
                                class="colorNone"
                                type="text"
                                @click="showDetail(scope.row,'opinion')"
                                size="small">
                            {{scope.row.opinion}}
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column label="完成时间" :show-overflow-tooltip="true" prop="endTime"></el-table-column>
                <el-table-column label="操作" width="100">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" v-if="scope.row.status==1?true:false" @click.native.prevent="open(scope.row)">撤回</el-button>
                        <el-button size="mini" type="primary" v-if="scope.row.status==2?true:false"  disabled>已撤回</el-button>
                        <el-button size="mini" type="primary" v-if="scope.row.status==0?true:false"  disabled>撤回</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    style="margin-top: 20px"
                    :current-page="currentPage"
                    :page-sizes="[10, 15, 20]"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :page-size="pageSize"
                    layout="prev, pager, next, jumper"
                    :total="tableDataTotal">
            </el-pagination>
        </div>
    </div>
    <!-- 新建弹框 -->
    <el-dialog
            title='新建'
            width="40%"
            @closed="dialogClosed"
            :visible.sync="addWorkOrder">
        <el-form ref="form"  label-width="100px">
            <div class="ownvx">
                <el-form-item label="问题类型">
                    <el-select v-model="problemType" placeholder="请选择"   @change="changeSelect">
                        <el-option
                                v-for="item in problemTypeList"
                                :key="item.val"
                                :label="item.name"
                                :value="item.val">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="软/硬件" v-show=" problemType!=3 && problemType!='' ">
                    <label slot="label" v-if="problemType==1">设备名称</label>
                    <label slot="label" v-if="problemType==2">软件名称</label>
                    <el-select v-model="region" placeholder="请选择">
                        <el-option
                                v-for="item in softwareAndHardware"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </div>
           <el-form-item label="标题">
               <el-input  placeholder="请输入内容" v-model="title"></el-input>
           </el-form-item>
            <el-form-item label="描述">
                <el-input  placeholder="请输入内容" v-model="describe" type="textarea" autosize></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">提交</el-button>
                <el-button @click="cancel">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            :title=dialogTitle
            width="30%"
            :visible.sync="dialogVisible">
        <el-input  type="textarea" disabled  v-model="details" autosize	></el-input>
    </el-dialog>
</div>



<!--修改密码-->
@@include("../tpl/updataPassword.html")

<script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
<script src="../../../public/static/jquery-1.12.4.js"></script>
<script src="../../../public/static/echarts/echarts.min.js "></script>
<script src="../../../public/static/mock.js"></script>
<!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
<!-- <script src="../../../assets/js/help.js"></script> -->
<!-- <script src="./js/index.js"></script> -->
<script src="../../../assets/js/ajaxSetup.js"></script>
<script src="js/submitWorkOrder.js"></script>
<!--include "./../../../components/footer/footer.html"-->

<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</body>

</html>