.layui-body {
  padding: 10px; }

.el-dialog {
  width: 33% !important; }

.el-table,
.block {
  margin-top: 10px; }

.el-table .cell {
  text-align: center; }

.el-icon-warning {
  font-size: 30px; }

.el-dialog__footer {
  text-align: center; }

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #30304d; }

.el-table__header th,
.el-table__header tr,
.el-table__body-wrapper tr,
.echoDisplay {
  margin-left: 20px; }

.echoDisplay div {
  font-size: 14px;
  color: #fff;
  margin-bottom: 12px; }

.apply {
  width: 536px;
  height: 117px;
  background: #6D6D79; }

.remark {
  display: inline-block;
  vertical-align: top; }

.remarks {
  width: 456px;
  height: 104px;
  background: #6d6d79;
  display: inline-block;
  color: #fff;
  word-break: break-all;
  padding: 10px; }

.spanSty {
  width: 200px;
  height: 30px;
  background: #ccc;
  display: inline-block;
  padding-left: 10px; }

.boxCard {
  width: 50%;
  float: left; }
.boxCard
.cardTitle {
  text-align: center;
  border: 1px solid #ccc;
  color: #bcbee5; }

.el-badge .el-badge__content {
  background: #FF0000;
  border: none;
  top: -20px;
  position: absolute;
  left: 5px;
  z-index: 9; }

.el-dialog__body .userName, .el-dialog__body .type, .el-dialog__body .startTime, .el-dialog__body .endTime, .el-dialog__body .storage, .el-dialog__body .softwareType, .el-dialog__body .soft, .el-dialog__body .tips {
  padding: 10px 0 10px 100px !important; }
.el-dialog__body .soft div {
  display: flex; }
  .el-dialog__body .soft div span {
    line-height: 40px; }
.el-dialog__body .tips {
  display: flex; }
  .el-dialog__body .tips .el-textarea {
    width: 80%; }
.el-dialog__body .important {
  color: #d74337;
  font-size: 20px; }
.el-dialog__body .storage {
  position: relative; }
  .el-dialog__body .storage .el-input {
    width: 220px; }
  .el-dialog__body .storage .company {
    position: absolute;
    top: 24px;
    left: 368px;
    color: black; }
.el-dialog__body .owndownBox {
  padding: 10px 0 10px 20px !important;
  margin-left: 100px;
  margin-right: 100px;
  background: #fafafa;
  color: black; }
  .el-dialog__body .owndownBox span {
    color: #d74337; }
  .el-dialog__body .owndownBox input {
    margin-top: 10px; }
.el-dialog__body .footerBtn {
  text-align: center;
  padding: 20px 0; }

.el-input {
  width: 220px; }

.typeList {
  margin-left: 100px; }

.el-input.is-disabled .el-input__inner, .el-textarea.is-disabled .el-textarea__inner {
  background: #F0F0F0;
  color: black; }

.el-radio__input.is-disabled.is-checked .el-radio__inner {
  border-color: #1571F9 !important; }

.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #1571F9; }

.owndownBox1 {
  padding: 10px 0 10px 20px !important;
  margin-left: 100px;
  margin-right: 100px;
  background: #fafafa;
  color: black; }

.el-tabs__item {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000000; }

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom: 2px solid #409EFF;
  color: #1E9FFF; }

.el-table__body {
  font-size: 14px !important; }

.el-table thead th, .el-table thead tr {
  background: whitesmoke;
  color: #000000;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  font-size: 14px; }

/*# sourceMappingURL=approval.css.map */
