.box{
  /* display: inline-block; */
  float: left;
  width: 20%;
  height: 500px;
  background: #FFFFFF;
  border: 1px solid #Eee;
  margin-right: 5px;
  overflow: auto;
}
.tableBox{
  width: 57%;
  overflow: visible;
}
.erTree{
  width: 100%;
  height: 100%;
}
.tableBoxHeade{
  text-align: center;
  line-height: 40px;
  color: #000;
  font-size: 16px;
  height: 40px;
  background: #FAFAFA;
}

.el-tabs__header {
  position: relative;
  padding: 0px 30px 0px;
  background: #fafafa;
}
.options{
  margin: 20px;
}
.searchInput{
  width: 100px;
}
.searchBtn{
  display: inline-block;
  margin-right: 20px;
}
.el-table thead tr {
  background: #ccc !important;
  color: #000 !important;
}
/* .el-tabs--top{
  height: 100%;
}
.el-tabs__content {
  overflow: auto;
  height: 100%;
} */
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 150px;
}
.el-tree-node:focus > .el-tree-node__content {
  background-color: #ace !important;
}
.el-dialog__footer {
  text-align: center !important;
}
.el-message-box__btns {
  text-align: center;
}
.el-dialog__header {
  height: 20px;
  background: #1E9FFF;
  padding: 10px;
}
.el-dialog__title {
  font-size: 18px;
  color: #fff;
}
.el-dialog__headerbtn {
  top: 15px;
  color: #fff;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}
.el-dialog__body {
  height: 510px;
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
  color: #fff;
}