
.layui-tab-title{
    margin-bottom: 15px;
}

.layui-table-view{
    display: inline-block;
}

/*鼠标滑过*/

/*.layui-table-main .laytable-cell-1-NAME:hover,.layui-table-main .laytable-cell-2-groupName:hover{*/
    /*color: #1E9FFF;*/
    /*text-shadow: black 2px 2px 3px;*/
/*}*/
.layui-tab-content{
    width: 100%;
}

/*按钮*/
.layui-tab-content .main-btn{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    /*width: 100%;*/
    /*width: 422px;*/
    /*margin-left: 77%;*/
    /*background: red;*/
}
/*.layui-tab-content .table-data{*/
    /*width: 100%;*/
/*}*/

/*弹框样式*/
.basic-message{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*h2{*/
    /*text-align: center;*/
    /*padding: 10px 0px;*/
    /*font-weight: 900;*/
/*}*/
h3{
    margin: 15px 0px;
    margin-left: 30px;
    font-weight: 800;
}

.star{
    font-size: 20px;
    line-height: 38px;
}

.layui-btn-sub{
    text-align: center;
}
.layui-btn-sub .layui-input-block{
    margin-left: 0px;
}
/*不可操作输入框背景颜色*/
.dis{
    background: gainsboro;
}



/*!*编辑操作*!*/
/*.edit-operation{*/
    /*width: 1000px;*/
    /*margin-left: 50px;*/
    /*!*background: red;*!*/
/*}*/
/*.edit-son1{*/
    /*width: 100%;*/
/*}*/
/*.edit-operation .layui-form-item{*/
    /*float: left!important;*/
/*}*/
/*.edit-operation .layui-form-label{*/
    /*width: 90px;*/
    /*padding: 6px;*/
/*}*/
.downpanel span{
    overflow: hidden;
}



/*新建组弹框*/
.layui-symbol b{
    width: 30px;
    font-size: 25px;
    display: block;
    cursor: pointer;
}
.selectedState{
    font-size: 25px;
    text-align: center;
    line-height: 95px;
}
/*.select-div{*/
    /*width: 34px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    /*margin-top: 40px;*/
/*}*/
/*.select-div i:hover{*/
    /*cursor: pointer;*/
/*}*/

.bor{
    width: 596px;
    height: 300px;
    overflow: auto;
    /*border: solid 1px black;*/
    box-sizing: border-box;
}

.rgb input{
    width: 70px;
}



/*下拉树*/
.downpanel .layui-select-title span {
    line-height: 38px;
}

/*继承父类颜色*/
.downpanel dl dd:hover {
    background-color: inherit;
}


.fle{
    width: 380px;
    height: 50px;
}

.layui-layer-content .layui-row{
    margin-left: 12px;
}
/*.layui-layer-content{*/
    /*overflow-x: hidden!important;*/
/*}*/
.changeIcon{
    display: block;font-size: 30px; color: #1E9FFF;
    border: 1px solid;
    border-radius: 30px;
    height: 30px;
    margin-top: 100px;
    position: relative;
    right: 0;
}
#xiangqing2{
    padding: 30px 60px;
}
#xiangqing2 .title{
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 900;
}
#xiangqing2 .xiangqingtable{
    /* border: solid 1px */
    width: 100%;
    text-align: center;
}
#xiangqing2 .xiangqingtable thead{
    background: #f5f5f5
}
#xiangqing2 .xiangqingtable td{
    padding: 20px 0 ;
}
#xiangqing2 .xiangqingtable th{
    padding: 20px 0 ;
}
.colors{
    background: #1E9FFF;
    color: white
}
/*.layui-input-inline .layui-form-select dl{*/
    /*padding: 0;*/
/*}*/
/*.layui-layer-title{*/
    /*background: #1E9FFF;*/
    /*color:white*/
/*}*/
.fscb .layui-table, .fscb .layui-table-view{
    margin-top: 0;
}