

.el-tree-node__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.el-dialog__header {
  background: #1E9FFF;
}

.el-dialog__header span {
  color: white;
}

.littleTitle {
  padding: 20px 100px;
  text-align: center;
  border-bottom: solid 1px #515164;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.formFooter {
  background: #fff;
  padding: 30px 50px;
}

.formFooter div {
  margin-bottom: 4px;
}

.formFooter .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formFooter .member .el-tree-node__content {
  padding: 4px 0;
}

.formFooter input[type='text'] {
  width: 300px;
  height: 40px;
}

.littleTitle span {
  color: #1E9FFF;
}

.littleTitle span span {
  color: #000;
}

.name input {
  width: 200px;
}

.el-dialog__body {
  background: #FFFFFF;
  color: #000;
  padding: 10px 70px 30px 70px !important;
}

.el-dialog__body .el-form {
  padding: 30px 0;
}

.el-dialog__body .el-form .el-form-item__label {
  color: #000;
  background: #ffffff;
}

.el-dialog__body .el-form div {
  color: black;
  background: #fff;
}
.changdf  .el-form div {
  color: black;
  background: transparent;
}
.el-dialog__body .el-form .el-form-item__content {
  background: #ffffff;
}

.el-dialog__body .el-form input[type='text'] {
  background: #fff;
  border: solid 1px #CCCCCC;
  color: #000;
}

.el-dialog__body .el-form .formFooter {
  background: #FAFAFA;
  padding: 30px 50px;
}

.el-dialog__body .el-form .formFooter .m-b-t {
  margin-bottom: 16px;
}

.el-dialog__body .el-form .formFooter .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.el-dialog__body .el-form .formFooter .member .el-tree-node__content {
  padding: 0px 0;
}

.el-dialog__body .el-form .formFooter input[type='text'] {
  width: 300px;
  height: 40px;
}

.el-input {
  width: 410px !important;
}

.el-message-box__input .el-input__inner {
  width: 240px;
}

.el-button--primary {
  margin: 0 10px !important;
}

.el-scrollbar {
  background: #fff;
}

.el-scrollbar div {
  border: none;
}
.el-select-dropdown__list span{
  color: #000;
}

.el-scrollbar ul li {
  background: #fff;
}

.el-dialog {
  width: 64% !important;
}

.footerBtn {
  text-align: right;
}

.el-select .el-tag {
  margin: -16px 0 2px 6px !important;
  background: #9394a3 !important;
  color: white !important;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #fff !important;
}

.el-scrollbar ul li {
  color: #000 !important;
  background: #ffff !important;
}

.el-select-dropdown__item.selected {
  color: #409eff;
  font-weight: 700;
  background: #fff !important;
}

.el-dialog__body .el-form .formFooter input[type='text'] {
  width: 410px;
}

.el-select__tags {
  max-width: 10000px !important;
}

.num .el-input {
  width: 100% !important;
  max-width: 160px !important;
}

.num .el-select {
  width: 100% !important;
  max-width: 160px !important;
}

.num p {
  line-height: 45px;
  white-space: nowrap;
}

.num input {
  width: 100% !important;
  max-width: 160px !important;
}

.num .el-select {
  width: 100% !important;
  max-width: 160px !important;
}

.num .el-option {
  width: 100% !important;
  max-width: 160px !important;
}

.none_width input {
  width: 98% !important;
}

.none_width .el-input {
  width: 98% !important;
}

.none_width .el-select {
  width: 98% !important;
}

.none_width .el-option {
  width: 98% !important;
}

.tree {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
}

.el-dialog__body .el-form .clname {
  display: inline-block;
  padding: 3px 5px;
  height: 40px;
  background: #1571f9;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  min-width: 80px;
}

.owntree {
  z-index: 9;
  margin-bottom: 0;
  width: 150px;
}

.owntree div {
  color: #000;
  background: #fff !important;
}

.owntree .el-tree-node__content {
  padding-left: 0;
  background: #fff !important;
  width: auto;
  z-index: 10;
}

.owntree .el-tree-node__children {
  background: #fff;
}

.owntree .el-tree-node__children .el-tree-node__content {
  background: #ffffff !important;
}

.show1,
.show2,
.show3,
.show4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.el-select-dropdown {
  border: 1px solid #515164 !important;
}

.el-input__inner {
  padding: 0 30px 0 15px !important;
}

.el-dialog__headerbtn .el-dialog__close {
  font-size: 20px;
  color: white !important;
  /* color: #909399; */
}
/*# sourceMappingURL=licence.css.map */
