
/*鼠标滑过*/
/*.layui-table-main .laytable-cell-1-softwareName:hover,.layui-table-main .laytable-cell-1-licenseServiceName:hover{*/
    /*color: #1E9FFF;*/
    /*text-shadow: black 2px 2px 3px;*/
/*}*/

.main{
    width: 100%;
}
.main .main-btn{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /*width: 100%;*/
    width: 454px;
    /*margin-left: 72%;*/
    /*background-color: red;*/
    /*float: right;*/
}
.layui-table-view{
    display: inline-block;
}

.main .main-form{
    width: 100%;
}

.add{
    cursor: pointer;
    line-height: 38px;
}

.basic-message{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.alignment{
    margin-left: 44px;
}

.layui-btn-sub{
    text-align: center;
}
.layui-btn-sub .layui-input-block{
    margin-left: 0px;
}

/*.winning-class{*/
    /*overflow: auto;*/
/*}*/

.star{
    font-size: 20px;
    line-height: 38px;
}

/*不可操作输入框背景颜色*/
.dis{
    background: gainsboro;
}


.fle{
    width: 380px;
    height: 50px;
}
