.showInfo {
  width: 90% !important;
  height: 80%;
  background: #fff;
  overflow: hidden;
}

.showInfo .el-dialog__body {
  height: 100%;
}

.showInfo .el-input.is-disabled .el-input__inner {
  border: none;
  background-color: #E6E6E6 !important;
}

.showInfo .conten {
  width: 100%;
  height: 70%;
  margin-top: 10px;
  overflow: auto;
}

.showInfo .conten .item {
  width: 30%;
  color: #000;
  padding: 20px;
  margin-top: 20px;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  background: #FAFAFA;
}

.showInfo .conten .item .resetCss {
  width: 130px !important;
  margin-right: 10px;
  margin-top: 10px;
}

.showInfo .conten .item .resetCss input {
  height: 25px !important;
}

.showInfo .conten .item .resetWidth {
  width: 80px !important;
}

.showInfo .conten .item .resetTop {
  margin-top: 20px;
}

.showInfo .btn {
  margin-left: 40%;
}

.is-disabled .el-input__inner {
  padding: 0 6px !important;
}
/*# sourceMappingURL=licenceInfo.css.map */