
.main-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /*width: 23%;*/
    /*width: 384px;*/
    /*margin-left: 76%;*/
    /*background-color: red;*/
}
.layui-table-view{
    display: inline-block;
}
b{
    cursor: pointer;
}

.layui-tab-item{
    width: 550px;
    height: 430px;
}
.layui-department-tab{
    width: 540px;
    height: 400px;
}
.layui-department-tab p{
    cursor: pointer;
    border: solid 1px black;
}
.layui-department-tab-left{
    width: 272px;
    height: 470px;
    overflow: auto;
    border: solid 1px black;
}
.layui-department-tab-left p{
    cursor: pointer;
    border: solid 1px black;
}
.layui-tree{
    display: inline-block;
}
.layui-tree li{
    /*overflow: auto;*/
    text-overflow: initial;
}

.show-option{
    width:100%;
    height: 358px;
    text-align: center;
}


.department{
    color: #1E9FFF;
    font-weight: bolder;
    /*text-shadow: black 2px 2px 3px;*/
}





/*.fl{*/
    /*float: left;*/
/*}*/
/*.clearfix:after{*/
    /*display: block;*/
    /*content: '';*/
    /*clear: both;*/
/*}*/
/*.clearfix{*/
    /*zoom: 1;*/
/*}*/






/*弹框层*/
body .layui-layer,.layui-layer-tips{
    /*width:300px;*/
    /*height:200px;*/
    word-wrap: break-word;
    /*overflow: auto;*/
}
.el-dialog{
    width:950px
}
.left-content{
    width: 230px;
    height: 100%;
    float: left;
    border: 1px solid #000;
    overflow-y: auto;
    margin-right: 5px;
}


#shebeidialog{
    padding: 30px 60px;
}
#shebeidialog .title{
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 900;
}
#shebeidialog .shebeitable{
    /* border: solid 1px */
    width: 100%;
    text-align: center;
}
#shebeidialog .shebeitable thead{
    background: #f5f5f5
}
#shebeidialog .shebeitable td{
    padding: 20px 0 ;
}
#shebeidialog .shebeitable th{
    padding: 20px 0 ;
}














