

.details .details-son{
    width: 300px;
    height: 200px;
    border: solid 1px black;
}
.details .details-son p{
    margin-top: 3px;
}
.details .details-son p:first-child{
    text-align: center;
}


.layui-main{
    margin-top: 25px!important;
}



b{
    cursor: pointer;
}

.layui-tab-item{
    width: 480px;
    height: 430px;
}
.layui-department-tab{
    width: 460px;
    height: 400px;
}
.layui-department-tab p{
    cursor: pointer;
    border: solid 1px black;
}
.layui-department-tab-left{
    width: 230px;
    height: 400px;
    overflow: auto;
    border: solid 1px black;
}
.layui-department-tab-left p{
    cursor: pointer;
    border: solid 1px black;
}
.layui-tree{
    display: inline-block;
}
.layui-tree li{
    /*overflow: auto;*/
    text-overflow: initial;
}

.layui-form-label{
    width: 100px;
}
.add{
    font-size: 20px;
    line-height: 38px;
}






.fl{
    float: left;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.clearfix{
    zoom: 1;
}

















