


/*.layui-form-item{*/
    /*display: inline-block;*/
/*}*/



.main-form{
    width: 930px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-btn{
    margin-left: 810px;
}
.layui-table-view{
     display: inline-block;
 }
.tree{
    margin-top: 40px;
    margin-left: 1000px;
    border: solid 1px black;
    width: 250px;
    height: 650px;
    overflow: auto;
}
/*.layui-table-view{*/
    /*float: left!important;*/
/*}*/

/*.tree{*/
    /*margin-left: 50px;*/
/*}*/
.layui-tree li{
    overflow: visible;
}