
/*鼠标滑过*/
/*.layui-table-main .laytable-cell-1-softwareName:hover{*/
    /*color: #1E9FFF;*/
    /*text-shadow: black 2px 2px 3px;*/
/*}*/

.main-btn{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /*width: 23%;*/
    /*width: 384px;*/
    /*margin-left: 76%;*/
    /*background: red;*/
}
.layui-table-view{
    display: inline-block;
}

.basic-message{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*h2{*/
    /*text-align: center;*/
    /*padding: 10px 0px;*/
    /*font-weight: 900;*/
/*}*/
h3{
    margin: 15px 0px;
    margin-left: 30px;
    font-weight: 800;
}

.star{
    font-size: 20px;
    line-height: 38px;
}

.layui-btn-sub{
    text-align: center;
}
.layui-btn-sub .layui-input-block{
    margin-left: 0px;
}


/*不可操作按钮北京颜色改变*/
.dis{
    background: gainsboro;
}




/*编辑操作*/
.edit-operation{
    width: 1000px;
    margin-left: 50px;
    /*background: red;*/
}
.edit-son1{
    width: 100%;
}
.edit-operation .layui-form-item{
    float: left!important;
}
.edit-operation .layui-form-label{
    width: 90px;
    padding: 6px;
}

.one-line{
    width: 586px!important;
}



/*下拉树*/
.downpanel .layui-select-title span {
    line-height: 38px;
}

/*继承父类颜色*/
.downpanel dl dd:hover {
    background-color: inherit;
}



.downpanel span{
    overflow: hidden;
}


.fle{
    width: 380px;
    height: 50px;
}


