<!--<div class="layui-footer ">-->
  <!--&lt;!&ndash; 底部固定区域 &ndash;&gt;-->
  <!--© 月新时代-->
<!--</div>-->

</div>

<!-- 发送消息 -->
<div id="messageDiaog" style="display:none;">
  <div class="layui-tab" lay-filter="tab">
    <ul class="layui-tab-title">
      <li class="layui-this">发送消息</li>
      <li>发送记录</li>
      <li>收件历史</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <div class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">收件人:</label>
            <div class="layui-input-inline">
              <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="收件人..." class="layui-input addressee">
            </div>
            <div class="layui-form-mid layui-word-aux"><i class="layui-icon add-user-fn add-user">&#xe608</i></div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">逾期删除时间:</label>
            <div class="layui-input-inline">
              <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="默认消息逾期删除时间(30天)" class="layui-input liveTime">
            </div>
          </div>
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容:</label>
            <div class="layui-input-block">
              <textarea placeholder="请输入内容" class="layui-textarea content"></textarea>
            </div>
          </div>

          <div class="layui-form-item layui-form-text">

          </div>
        </div>


      </div>
      <div class="layui-tab-item">
        <div class="layui-form">
          <!-- <div class="layui-form-item"> -->
          <!--  <label class="layui-form-label">单行输入框</label> -->
          <div class="layui-input-block fl">
            <div class="layui-row layui-form-item">
              <div class="layui-input-inline">
                <input type="text" id="massage-input" name="title " autocomplete="off " placeholder="搜索 " class="layui-input">
              </div>
              <button id="massage-btn" class="layui-btn layui-btn-normal layui-btn-sm search-btn">搜索</button>
            </div>
          </div>

          <!-- <button class="layui-btn layui-btn-normal layui-btn-sm btn-export">导出</button> -->

          <!-- </div> -->
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容:</label>
            <div class="layui-input-block">
              <div class="tips-box">
                <!-- <div class="tips-list">
                                  <div>2017-01-12 10:33:24</div>
                                  <div>to：全体</div>
                                  <p>通知：XXXXXXXXXXXXXXXXXXXXXX</p>
                              </div> -->
              </div>
            </div>
          </div>

        </div>


      </div>
      <div class="layui-tab-item">
        <div class="layui-form">
          <!-- <div class="layui-form-item"> -->
          <!--  <label class="layui-form-label">单行输入框</label> -->
          <div class="layui-input-block fl">
            <div class="layui-row layui-form-item">
              <div class="layui-input-inline">
                <input type="text" id="history-input" name="title " autocomplete="off " placeholder="搜索 " class="layui-input">
              </div>
              <button id="history-btn" class="layui-btn layui-btn-normal layui-btn-sm search-btn">搜索</button>
            </div>
          </div>

          <!-- <button class="layui-btn layui-btn-normal layui-btn-sm btn-export">导出</button> -->

          <!-- </div> -->
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容:</label>
            <div class="layui-input-block">
              <div class="tips-box">
                <!-- <div class="tips-list">
                                <div>2017-01-12 10:33:24</div>
                                <div>to：全体</div>
                                <p>通知：XXXXXXXXXXXXXXXXXXXXXX</p>
                            </div> -->
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<!-- 发送消息 -->
<div class="select-user clearfix" id="userAddDiaog" style="display:none;" name="myDiv">
  <div class="select-div tree">
    <div id="treeList1" class="department-tree"></div>
  </div>
  <div class="select-div">
    <select multiple class="show-option layui-input" id="brand_sel" name="list1">
      <!-- <option>sdfd</option>
          <option>sdfd</option>
          <option>sdfd</option> -->
    </select>
  </div>
  <div class="select-div select-btn">
    <i class="layui-icon adds">&#xe602;</i>
    <i class="layui-icon add_alls">&#xe65b;</i>
    <i class="layui-icon dele removes">&#xe603;</i>
    <i class="layui-icon remove_alls">&#xe65a;</i>
  </div>
  <div class="select-div">
    <select multiple class="select-option layui-input" id="choose_sel" name="list2">
      <!-- <option>sdfd</option> -->
    </select>
  </div>
</div>

<script src="../../../public/static/jquery-1.12.4.min.js "></script>
<script src="../../../public/static/layui-v2.2.5/layui/layui.all.js "></script>
<!-- <script src="./../../assets/js/ajaxSetup.js"></script> -->
<!--<script src="../../../public/static/mock.js "></script>-->
<script>
  // const baseURL = "http://localhost:9001";
  (function () {
    var JSON1 = {};
    //JavaScript代码区域
    layui.use(['laytpl', 'element', 'layer', 'tree', 'form'], function () {
      var element = layui.element,
        layer = layui.layer,
        tree = layui.tree,
        form = layui.form,
        laytpl = layui.laytpl;
      var active = {
        init: function () {
          this.getUser();
        },
        //获取有没有登录用户
        getUser: function () {
          var GG = active.getCookie('token');
          if (GG == "GG") {
            window.location.href = url + port + "/dist/views";
          } else {
            active.loginPrivilege();
          }
        },
        //封装一个函数 获取cookie
        getCookie: function (name) {
          var cookie = document.cookie;
          // console.log(cookie);
          var arr = cookie.split("; "); //将字符串分割成数组
          // console.log(arr);
          for (var i = 0; i < arr.length; i++) {
            var arr1 = arr[i].split("=");
            if (arr1[0] == name) {
              return unescape(arr1[1]);
            }
          }
          return "GG"
        },
        setCookie: function (name, value) { // 设置Cookie 传入键值对. 列: setCookie('userId', '123456')
          var Days = 30;
          var exp = new Date();
          exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
          document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
        },
        //获取权限
        loginPrivilege: function () {
            var token = active.getCookie("token")
          var userId = active.getCookie("userId");
          // }
          if (userId == "GG") {
            // window.location.href = "http://localhost:3000";
            window.location.href = url + port + "/dist/views";
            layer.msg('请登录用户！', {
              icon: 2,
              closeBtn: 1
            })
          } else {
            $.ajax({
              url: url + ":9000/login/loginPrivilege",
              type: "post",
              async: true,
              data: {
                userId: userId
              },
              headers: {
                "token": token
              },
              success: function (data) {
                if (data.code == 200) {
                  $('#userName').html(active.getCookie("realName"));
                  if (data.data.length > 0) {
                    JSON1.list = data.data[0].children;
                    var json = JSON1;
                    var getTpl = menuTpl.innerHTML,
                      view = document.getElementById('menuBox');
                    laytpl(getTpl).render(json, function (html) {
                      view.innerHTML = html;
                    });
                    element.init();
                    $("#menuBox .layui-nav-child dd").on("click", function (params) {
                      sessionStorage.setItem("navItem", $(this).data("link"));
                    })
                    $("dd.layui-this").parents(".layui-nav-item").addClass("layui-nav-itemed");
                    $("#menuBox .layui-nav-item > a").on("click", function (params) {
                      sessionStorage.setItem("navItem", $(this).data("link"));
                    })
                  }

                } else if (data.code == 400) {
                  layer.msg(data.message, {
                    icon: 2,
                    closeBtn: 1
                  })
                }
              },
              error: function (data) {
                console.log(data)
              }
            })
          }

        },
        //注销
        logout: function (userId, token) {
          $.ajax({
            url: url + ":9000/login/logout",
            type: "post",
            async: true,
            data: {
              userId: userId,
              token: token
            },
            success: function (data) {
              console.log(JSON.stringify(data));
              if (data.code == 200 && data.data == 1) {
                window.location.href = url + port + "/dist/views";
              } else if (data.code == 400) {
                layer.msg(data.message, {
                  icon: 2,
                  closeBtn: 1
                })
              }
            },
            error: function (data) {
              console.log(data)
            }
          })
        },
        //修改密码弹框
        updataPassword: function () {
          layer.open({
            type: 1,
            title: "修改密码" //不显示标题栏
              ,
            closeBtn: 1,
            area: ['360px', '260px'],
            shade: 0.8,
            id: 'LAY_layuipro' //设定一个id，防止重复弹出
              // ,resize: false
              // ,btn: ['确定']
              ,
            btnAlign: 'c',
            moveType: 1 //拖拽模式，0或者1
              ,
            content: $('.updata-password'),
            success: function (layero) {
            },
            end: function (index, layero) {
              active.clearUpdata();
              $(".updata-password").hide()
            }
          });
        },
        //清空修改密码弹框数据
        clearUpdata: function () {
          $('.updata-password input[name=oldPassword]').val('');
          $('.updata-password input[name=newPassword]').val('');
          $('.updata-password input[name=verifyPassword]').val('');
        },
        //修改密码提交
        updataSubmit: function (data) {
          $.ajax({
            url: url + ":9000/login/userUpdatePassword",
            type: "post",
            async: true,
            data: data,
            success: function (data) {
              console.log(data)
              if (data.code == 200 && data.data == 1) {
                layer.msg(data.message, {
                  icon: 2,
                  closeBtn: 1
                })
                window.location.href = url + port + "/dist/views";
              } else if (data.code == 400) {
                layer.msg(data.message, {
                  icon: 2,
                  closeBtn: 1
                })
              }
            },
            error: function (data) {
              console.log(data)
            }
          })
        },
      }
      active.init();

      //自定义验证规则
      form.verify({
        oldPass: [/(.+){6,12}$/, '密码必须6到12位'],
        newPass1: [/(.+){6,12}$/, '密码必须6到12位'],
        newPass2: [/(.+){6,12}$/, '密码必须6到12位'],
        newPass1: function (value, item) {
          if (value != $('input[name=verifyPassword]').val()) {
            return '两次密码不一致'
          }
        }
      });

      //监听修改密码提交
      form.on('submit(newUpdataPassword)', function (data) {
        data.field.userId = active.getCookie("userId");
        // console.log(JSON.stringify(data.field));
        active.updataSubmit(data.field);
        return false
      });

      //注销
      $('body .signOut').on('click', function () {
        var token;
        var loginPageAccess = active.getCookie('loginPageAccess');
        token = active.getCookie("token");
        active.logout(active.getCookie('userId'), token);
        window.location.href = url + port + "/dist/views";//线上地址
      });
      //修改密码
      $('#updataUserPassword').on('click', function () {
        active.updataPassword()
      });

      var userId = getCookie('userId')

      window.onload = loads;

      function loads() {
        $("#sendMessage").on("click", function () { // 点击发送消息
          layer.open({
            type: 1,
            title: "详情", //不显示标题栏
            closeBtn: 1,
            area: ['50%', '400px'],
            shade: 0.3,
            id: 'message', //设定一个id，防止重复弹出
            btn: ['确定'],
            btnAlign: 'c',
            moveType: 1, //拖拽模式，0或者1
            content: $('#messageDiaog'),
            yes: function (index) {
              layer.close(index);
              var optionsId = $("#choose_sel option")
              var putUserIds = '';
              // var userId = getCookie("userId");
              // var userId;
              // var loginPageAccess = active.getCookie('loginPageAccess');
              // if(loginPageAccess==2){
              //     userId = active.getCookie("userId2");
              // }
              // else if(loginPageAccess==3){
              //     userId = active.getCookie("userId3");
              // }
              var note = $(".content").val()
              var liveTime = $(".liveTime").val() || 30

              var re = /^[1-9]+[0-9]*]*$/; // 正则验证是否是正确天数
              if (!re.test(liveTime)) {
                layer.msg("请输入正确的消息显示时间");
                return false;
              }

              for (var i = 0; i < optionsId.length; i++) {
                putUserIds += "," + optionsId[i].getAttribute("dataid") // 将逗号拼接在前面
                // putUserIds.push(optionsId[i].value)
              }
              putUserIds = putUserIds.substring(1); // 截取 putUserIds 字符串最前面的逗号
              console.log(putUserIds)
              if (note == '') {
                layer.msg("请输入要发送的内容!")
              } else {
                // console.log(putUserIds, userId, optionsId)
                // console.log("接收人id是"+putUserIds,"分享者id是"+userId)
                $.ajax({ // 发送消息
                  type: "POST",
                  url: url + ':9006/Message/sendMessage',
                  data: JSON.stringify({
                    "putUserIds": putUserIds,
                    "userId": userId,
                    "note": note,
                    "liveTime": liveTime
                  }),
                  headers: {
                    "Content-Type": "application/json;charset=utf-8"
                  },
                  success: function (data) {
                    console.log(data)
                    layer.msg(data.message)
                    $(".addressee").val('')
                    $(".content").val('')
                    $(".liveTime").val('')
                  }
                })
              }

            },
            end: function (params) {
              $('#messageDiaog').hide()
            }
          });

          console.log($('.layui-badge').html())
          if ($('.layui-badge').html() > 0) {
            console.log(123)
            $.ajax({ // 按userid收消息
              type: "POST",
              url: url + ':9006/Message/updateState/' + userId,
              // url: 'http://10.1.1.213:9006/Message/updateState/' + userId,
              // data: JSON.stringify({ "userId": userId, "searchInfo": searchInfo }),
              headers: {
                "Content-Type": "application/json;charset=utf-8"
              },
              success: function (data) {
                
              }
            })
          }
        })

        $(".add-user").on("click", function () { // 点击加号按钮
          $("#brand_sel").html('') // 每次点击的时候都 清空brand_sel中的内容
          $("#choose_sel").html('') // 每次点击的时候都 清空choose_sel中的内容
          layer.open({
            type: 1,
            title: "详情", //不显示标题栏
            closeBtn: 1,
            area: ['800px', '335px'],
            shade: 0.3,
            id: 'message1', //设定一个id，防止重复弹出
            btn: ['确定'],
            btnAlign: 'c',
            moveType: 1, //拖拽模式，0或者1
            content: $("#userAddDiaog"),
            end: function () {
              // $("#userAddDiaog").hidie();
              $("#userAddDiaog").css("display", "none");
              // $(".addressee").val($("#choose_sel").text())
              // console.log($("#choose_sel").text())
              var ids = $("#choose_sel option");
              var values = '';
              for (var i = 0; i < ids.length; i++) {
                values += ',' + ids[i].text
              }
              values = values.substring(1);
              $(".addressee").val(values)
              console.log(values)
            }
          });
          $("#treeList1").html('')

          $.ajax({ // 获取左侧树状图
            type: 'GET',
            url: url + ":9006/AppConnection/departmentTree",
            success: function (data) {
              console.log(data)
              var data = data.data;
              tree({
                elem: '#treeList1',
                nodes: data,
                click: function (node) {
                  console.log(node)
                  // orgId = node.id
                  if(node.pid == 0){
                    orgId = ''
                  }else{
                    orgId = node.id
                  }
                  $("#brand_sel").html("")
                  var $select = $($(this)[0].elem).parents(".layui-form-select");
                  $select.removeClass("layui-form-selected").find(".layui-select-title span").html(
                    node.name).end().find("input:hidden[name='selectID']").val(node.id);
                  $.ajax({
                    type: "POST",
                    url: url + ":9006/UserMonitorHistory/FindByOrgId",
                    data: JSON.stringify({
                      "orgId": orgId
                    }),
                    headers: {
                      "Content-Type": "application/json;charset=utf-8"
                    },
                    dataType: "json",
                    success: function (data) {
                      console.log(data)
                      var data = data.data;
                      var root = document.getElementById("brand_sel");
                      for (var i = 0; i < data.length; i++) {
                        var option = document.createElement("option");
                        // option.setAttribute("value", data[i].groupName);
                        // option.setAttribute("title", data[i].id);
                        option.setAttribute("dataid", data[i].id);
                        option.innerText = data[i].userName;
                        root.appendChild(option);
                        form.render("select");
                        // console.log(data[i].groupName)
                      }
                    }
                  })
                }

              });
            }
          })
        })

        var searchInfo = ''
        $("#massage-btn").click(function () { // 点击搜索按钮
          searchInfo = $("#massage-input").val();
          $(".tips-box").html('');
          console.log(searchInfo)
          $.ajax({ // 点击搜索按钮,查询消息
            type: "POST",
            url: url + ':9006/Message/messageHistory',
            data: JSON.stringify({
              "userId": userId,
              "searchInfo": searchInfo
            }),
            headers: {
              "Content-Type": "application/json;charset=utf-8"
            },
            success: function (data) {
              console.log(data)
              if (data.code === 200) {
                var data = data.data;
                var messageInfo = '';
                for (var i = 0; i < data.length; i++) {
                  console.log(data[i])
                  messageInfo +=
                  '<div class="tips-list"><div>'+data[i].datetime+'</div><p>通知：'+
                    data[i].note+'</p></div><br/>'
                }
                // console.log(messageInfo)
                $(".tips-box").append(messageInfo)
              } else {
                layer.msg(data)
              }
            }
          })
        })


        $("#history-btn").click(function () { // 点击搜索按钮
          searchInfo = $("#history-input").val();
          $(".tips-box").html('');
          console.log(searchInfo)
          $.ajax({ // 点击搜索按钮,查询消息
            type: "POST",
            url: url + ':9006/Message/putMessageHistory',
            // url: 'http://10.1.1.213:9006/Message/putMessageHistory',
            data: JSON.stringify({
              "userId": userId,
              "searchInfo": searchInfo
            }),
            headers: {
              "Content-Type": "application/json;charset=utf-8"
            },
            success: function (data) {
              console.log(data)
              if (data.code === 200) {
                var data = data.data;
                var messageInfo = '';
                for (var i = 0; i < data.length; i++) {
                  console.log(data[i])
                  messageInfo +=
                  '<div class="tips-list"><div>'+data[i].datetime+'</div><p>通知：'+
                    data[i].note+'</p></div><br/>'
                }
                // console.log(messageInfo)
                $(".tips-box").append(messageInfo)
              } else {
                layer.msg(data)
              }
            }
          })
        })
        element.on('tab(tab)', function (data) { //选项卡切换
          console.log(data)
          $(".tips-box").html('');
          if (data.index === 1) {
            $.ajax({ // 切换选项卡到发送记录,查询消息
              type: "POST",
              url: url + ':9006/Message/messageHistory',
              data: JSON.stringify({
                "userId": userId,
                "searchInfo": searchInfo
              }),
              headers: {
                "Content-Type": "application/json;charset=utf-8"
              },
              success: function (data) {
                if (data.code === 200) {
                  var data = data.data;
                  var messageInfo = '';
                  for (var i = 0; i < data.length; i++) {
                    messageInfo +=
                    '<div class="tips-list"><div>'+data[i].datetime+'</div><p>通知：'+
                    data[i].note+'</p></div><br/>'
                  }
                  console.log(messageInfo)
                  $(".tips-box").append(messageInfo)
                } else {
                  layer.msg(data)
                }
              }
            })
          }
          if (data.index === 2) {
            $.ajax({ // 切换选项卡到发送记录,查询消息
              type: "POST",
              url: url + ':9006/Message/putMessageHistory',
              // url: 'http://10.1.1.213:9006/Message/putMessageHistory',
              data: JSON.stringify({
                "userId": userId,
                "searchInfo": searchInfo
              }),
              headers: {
                "Content-Type": "application/json;charset=utf-8"
              },
              success: function (data) {
                console.log(data)
                if (data.code === 200) {
                  var data = data.data;
                  var messageInfo = '';
                  for (var i = 0; i < data.length; i++) {
                    console.log(data[i])
                    messageInfo +=
                    '<div class="tips-list"><div>'+data[i].datetime+'</div><p>通知：'+
                    data[i].note+'</p></div><br/>'
                  }
                  // console.log(messageInfo)
                  $(".tips-box").append(messageInfo)
                }
              }
            })
          }
        });
        // var userId = getCookie("userId");

        console.log(userId)
        // $.ajax({ // 按userid收消息
        //   type: "POST",
        //   url: url + ':9006/Message/putMessage/' + userId,
        //   // url: 'http://10.1.1.213:9006/Message/putMessage/' + userId,
        //   // data: JSON.stringify({ "userId": userId, "searchInfo": searchInfo }),
        //   headers: {
        //     "Content-Type": "application/json;charset=utf-8"
        //   },
        //   success: function (data) {
        //     console.log(data)
        //     // active.setCookie('news', data.data.length)
        //     $('.layui-badge').html(data.data.length)
        //     if (data.data.length === 0) {
        //       $(".notice-box").remove();
        //     }
        //     if (data.code === 200) {
        //       var data = data.data;
        //       var messageInfo = '';
        //       for (var i = 0; i < data.length; i++) {
        //         console.log(data[i])
        //         messageInfo =
        //         '<div class="notice-list"><div>通知：</div><p class="notice-content">'+
        //           data[0].note+'</p><div class="notice-time">'+
        //             data[0].datetime+'</div></div>'
        //       }
        //       // console.log(messageInfo)
        //       $(".notice-box").append(messageInfo)
        //     } else {
        //       // layer.msg(data)
        //       console.log(data)
        //     }
        //   }
        // })

        //移到右边
        $(document).on('click', '.adds', function () {
          if (!$("#brand_sel option").is(":selected")) {
            layer.alert("请选择移动的选项")
          } else {
            $('#brand_sel option:selected').appendTo('#choose_sel');
          }
        });
        //移到左边
        $(document).on('click', '.removes', function () {
          if (!$("#choose_sel option").is(":selected")) {
            layer.alert("请选择移动的选项")
          } else {
            $('#choose_sel option:selected').appendTo('#brand_sel');
          }
        });
        //双击选项
        $(document).on('dblclick', '#brand_sel', function () {
          $("option:selected", this).appendTo('#choose_sel');
        });
        //双击选项
        $(document).on('dblclick', '#choose_sel', function () {
          $("option:selected", this).appendTo('#brand_sel');
        });
        //全部移到右边
        $(document).on('click', '.add_alls', function () {
          $('#brand_sel option').appendTo('#choose_sel');
        });
        //全部移到左边
        $(document).on('click', '.remove_alls', function () {
          $('#choose_sel option').appendTo('#brand_sel');
        });


        function getCookie(name) { // 获取cookie 公共函数
          var strcookie = document.cookie; //获取cookie字符串
          var arrcookie = strcookie.split("; "); //分割
          //遍历匹配
          for (var i = 0; i < arrcookie.length; i++) {
            var arr = arrcookie[i].split("=");
            if (arr[0] == name) {
              return arr[1];
            }
          }
          return "";
        }


      }



    });
  })()
</script>