<!DOCTYPE html>
<html>
  <body>
    <!-- 审批管理 -->
    <script src="../../../assets/js/help.js"></script>
    <!--include "./../../../components/nav/nav.html"-->
    <!--include "./../../../components/left/left.html"-->
    <script src="../../../public/static/layui-v2.2.5/layui/layui.js"></script>

    <link rel="stylesheet" href="./style/approval.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <script src="./elementui/vuejs.js"></script>
    <script src="./elementui/elementui.js"></script> -->

    <div class="fl"></div>
    <div class="layui-body">
      <div id="approval" v-cloak>
        <!-- ---------------------------------------- 领导审批 --------------------------------------------------------- -->
        <div class="showTable" v-if="poewr">
          <!-- 上级审批tab切换 -->
          <el-tabs class="elTabs" v-model="activeName" type="card" @tab-click="tabsHandleClick">
            <!--搜索框-->
            <div class="layui-row layui-form-item" style="position: relative">
              <div class="layui-input-inline">
                <el-input type="text" id="@@input" name="title " autocomplete="off " placeholder="搜索" v-model="inputSerch" @keyup.enter.native="searchLeader" style="width: 190px">
                  <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click="resetSearch"></i>
                </el-input>
                <!--<i class="layui-icon" id="@@icon" style="position: absolute;top: 12px;right: 10px;cursor:pointer" @click="resetSearch()">&#x1006;</i>-->
              </div>
              <button id="@@btn" class="layui-btn layui-btn-normal layui-btn-sm search-btn" @click="searchLeader">搜索</button>
            </div>
            <!-- 待审批 -->
            <el-tab-pane name="first">
              <span slot="label">
                <span>待审批</span>
                <!--<el-badge :value="pendingNum" size="mini" class="badgeitem" v-if="pendingNum !=0 ? true : false"></el-badge>-->
              </span>
              <!-- 待审批表格 -->
              <el-table border class="table1" :data="approvalPending" highlight-current-row style="width: 100%;" height="628">
                <el-table-column prop="date" label="状态">
                  <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.stateValue" placement="right">
                      <i v-if="scope.row.state==1" class="yes"></i>
                      <i v-if="scope.row.state==2 || scope.row.state==6 || scope.row.state==7" class="no"></i>
                      <i v-if="scope.row.state==3" class="yellowTan"></i>
                      <i v-if="scope.row.state==4" class="redTan"></i>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="currentUserName" label="提交人员" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="startTime" label="开始时间" :show-overflow-tooltip="true"> </el-table-column>
                <el-table-column prop="endTime" label="结束时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="capacity" label="存储容量" :show-overflow-tooltip="true">
                  <template slot-scope="scope">
                    {{ scope.row.capacity }}G
                  </template>
                </el-table-column>
                <el-table-column prop="softwareValue" label="软件类型" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="softwareNames" label="软件名称/版本" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="updateTime" label="操作时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="address" label="操作">
                  <template slot-scope="scope">
                    <el-button @click.native.prevent="open(scope);centerDialogVisible = true" type="primary" size="small">
                      审核
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <!-- 待审批分页 -->
              <el-pagination background :page-sizes="[10]" @current-change="handleCurrentChange" :current-page="approvalPendingPage" layout="prev, pager, next, jumper" :total="approvalPendingTotal"> </el-pagination>
            </el-tab-pane>
            <el-tab-pane label="" name="onlyLine"></el-tab-pane>
            <!-- 审批记录 -->
            <el-tab-pane label="审批记录" name="second">
              <!-- 审批记录表格 -->
              <el-table border class="table1" :data="approvalRecord" highlight-current-row style="width: 100%">
                <el-table-column label="状态" prop="stateValue">
                  <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.stateValue" placement="right">
                      <i v-if="scope.row.state==1" class="yes"></i>
                      <i v-if="scope.row.state==2 || scope.row.state==7" class="no"></i>
                      <i v-if="scope.row.state==3 || scope.row.state==5 || scope.row.state==6" class="yellowTan"></i>
                      <i v-if="scope.row.state==4" class="redTan"></i>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="currentUserName" label="提交人员" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="startTime" label="开始时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="endTime" label="结束时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="capacity" label="存储容量" :show-overflow-tooltip="true">
                  <template slot-scope="scope">
                    {{ scope.row.capacity }}G
                  </template>
                </el-table-column>
                <el-table-column prop="softwareValue" label="软件类型" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="softwareNames" label="软件名称/版本" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="updateTime" label="操作时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="stateValue" label="进度" :show-overflow-tooltip="true">
                  <template slot-scope="scope">
                    <!--{{scope.row.audit_state_chu==''}}-->
                    <!--{{scope.row.audit_state_ke==null}}222-->
                    <p v-if="scope.row.audit_state_chu!=null && scope.row.audit_state_chu=='审核成功'" style="color: #009861">审核成功</p>
                    <p v-if="scope.row.audit_state_chu!=null && scope.row.audit_state_chu=='审核失败'" style="color: #FF2000">审核拒绝</p>
                    <p v-if="(scope.row.audit_state_chu==''||scope.row.audit_state_chu==null) &&scope.row.audit_state_ke!=null && scope.row.audit_state_ke=='审核成功'" style="color: #009861">审核成功</p>
                    <p v-if="(scope.row.audit_state_chu==''||scope.row.audit_state_chu==null) &&scope.row.audit_state_ke!=null && scope.row.audit_state_ke=='审核失败'" style="color: #FF2000">审核拒绝</p>
                  </template>
                </el-table-column>
              </el-table>
              <!-- 分页 -->
              <el-pagination background :page-sizes="[10]" @current-change="handleCurrentChange" :current-page="recordPage" layout="prev, pager, next, jumper" :total="recordTotal"> </el-pagination>
            </el-tab-pane>
          </el-tabs>
          <el-dialog title="审核" :visible.sync="centerDialogVisible" :modal-append-to-body="false" @close="handleClose" width="800">
            <div class="userName">
              提交人员：<span>{{ name }}</span
              ><br />
            </div>
            <div class="type">
              申请类别：<el-radio-group v-model="ownradio" disabled>
                <el-radio :label="1" @change="tab">个人</el-radio>
                <el-radio :label="2" @change="tab">组织单位</el-radio>
                <el-radio :label="3" @change="tab">外协用户/单位</el-radio> </el-radio-group
              ><br />
            </div>
            <!-- 个人用户 -->
            <div v-show="typeList" class="owndownBox">
              <p>
                为<span>{{ name }}</span
                >进行申请
              </p>
              项目名称：<el-input placeholder="非必填项" disabled v-model="projectName"></el-input>
            </div>
            <!-- 组织单位 -->
            <div v-show="typeList2" class="owndownBox1">
              <div style="display: flex;">
                <!--<el-tree-->
                <!--class="owntree"-->
                <!--:props="props"-->
                <!--:data="ownTree"-->
                <!--ref="myOwnTree"-->
                <!--:default-checked-keys="ownSelectNodes"-->
                <!--node-key="id">-->
                <!--</el-tree>：<el-input disabled v-model="ownNamesStr"></el-input>-->
                <span style="margin-left: 28px;margin-top: 10px;">部门：</span><el-input disabled v-model="ownNamesStr"></el-input>
              </div>
              <br />项目名称：<el-input placeholder="非必填项" disabled v-model="projectName"></el-input>
            </div>
            <!-- 外协用户/单位 -->
            <div v-show="typeList3" class="owndownBox1">
              <div style="display: flex;">
                <!--<el-tree-->
                <!--:disabled ="true"-->
                <!--:props="otherProps"-->
                <!--:data="otherUnitsTree"-->
                <!--ref="otherTree"-->
                <!--:default-checked-keys="otherSelectNodes"-->
                <!--node-key="id">-->
                <!--</el-tree>-->
                <span style="margin-top: 10px;">{{ depare }}:</span><el-input disabled v-model="otherNamesStr"></el-input>
              </div>
              <br />项目名称：<el-input placeholder="必填项" disabled v-model="projectName"></el-input><span class="important">*</span>
            </div>
            <!-- 开始时间 -->
            <div class="startTime">
              开始时间：<el-date-picker v-model="value1" type="date" disabled placeholder="选择日期"> </el-date-picker>
              <span class="important">*</span>
            </div>
            <!-- 结束时间 -->
            <div class="endTime">
              结束时间：<el-date-picker v-model="value2" type="date" disabled placeholder="选择日期"> </el-date-picker>
              <span class="important">*</span>
            </div>
            <!-- 存储容量 -->
            <div class="storage">
              存储容量：<el-input placeholder="请输入内容" v-model="state" disabled clearable> </el-input>
              <span class="company">G</span>
              <span class="important">*</span>
            </div>
            <!-- 软件类型 -->
            <div class="softwareType" style="margin-left: -2px">
              软件类型：
              <el-input disabled v-model="softwareType"></el-input>
            </div>
            <!-- 软件类型渲染 -->
            <div class="soft" v-for="(item,key,index) in softwareTypeList" :key="index" :index="index">
              <div>
                <span>{{ softwareTypeList[key].name }}：</span>
                <el-input disabled v-model="softwareTypeList[key].softName"></el-input>
                <div style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 0 0 10px;  min-width: 24px;"></div>
              </div>
            </div>
            <!-- 备注 -->
            <div class="tips">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：<el-input type="textarea" disabled :rows="2" placeholder="请输入所申请软件的硬件资源需求等信息" v-model="tips" class="textarea"> </el-input></div>
            <div class="footerBtn">
              <el-button size="small" type="primary" @click="centerDialogVisible = false;submitApproval(true)">通过</el-button>
              <el-button size="small" type="danger" @click="centerDialogVisible = false;submitApproval(false)">拒绝</el-button>
            </div>
          </el-dialog>
        </div>

        <!-- ---------------------------------------- 管理员授权 ------------------------------------------------------- -->
        <div class="adminTable" v-if="!poewr">
          <!-- 管理员审批tab -->
          <el-tabs class="elTabs" v-model="activeName" type="card" @tab-click="tabsHandleClick">
            <!--搜索框-->
            <div class="layui-row layui-form-item" style="position: relative" v-if="activeName!='dispose'">
              <div class="layui-input-inline">
                <el-input type="text" id="@@input" name="title " autocomplete="off " placeholder="搜索" @keyup.enter.native="searchAdmin" v-model="inputSerch" style="width: 190px">
                  <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click="resetSearch"></i>
                </el-input>
                <!--<i class="layui-icon" id="@@icon" style="position: absolute;top: 12px;right: 10px;cursor:pointer" @click='resetSearch()'>&#x1006;</i>-->
              </div>
              <button id="@@btn" class="layui-btn layui-btn-normal layui-btn-sm search-btn" @click="searchAdmin">搜索</button>
            </div>
            <!-- 待授权 -->
            <el-tab-pane name="first">
              <span slot="label">
                <span>待授权</span>
                <!--<el-badge :value="selfNum" size="mini" class="item" v-if="selfNum!=0 ? true : false"></el-badge>-->
              </span>
              <!-- 待审批表格 -->
              <el-table border class="table1" :data="approvalPending" highlight-current-row style="width: 100%;" height="628">
                <el-table-column prop="date" label="状态">
                  <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.stateValue" placement="right">
                      <i v-if="scope.row.state==1" class="yes"></i>
                      <i v-if="scope.row.state==2 || scope.row.state==7" class="no"></i>
                      <i v-if="scope.row.state==3 || scope.row.state==5 || scope.row.state==6" class="yellowTan"></i>
                      <i v-if="scope.row.state==4" class="redTan"></i>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column prop="currentUserName" label="提交人员" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="startTime" label="开始时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="endTime" label="结束时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="capacity" label="存储容量" :show-overflow-tooltip="true">
                  <template slot-scope="scope">
                    {{ scope.row.capacity }}G
                  </template>
                </el-table-column>
                <el-table-column prop="softwareValue" label="软件类型" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="softwareNames" label="软件名称/版本" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column prop="updateTime" label="操作时间" :show-overflow-tooltip="true"></el-table-column>
                <el-table-column label="审批进度">
                  <template slot-scope="scope">
                    <el-popover trigger="hover" placement="bottom">
                      <el-steps :active="scope.row.reviewProgress" align-center>
                        <el-step title="提交审批" :description="scope.row.sub_time"></el-step>
                        <el-step title="二级领导审批通过" :description="scope.row.audit_time_ke&&scope.row.reviewProgress==1?'进行中':scope.row.audit_time_ke"></el-step>
                        <el-step title="一级领导审批通过" :description="scope.row.audit_time_chu"></el-step>
                        <el-step title="资源授权成功" :description="scope.row.audit_time_admin"></el-step>
                      </el-steps>
                      <div slot="reference" class="name-wrapper resetClass">
                        <el-tag size="medium">{{ scope.row.stateValue }}</el-tag>
                      </div>
                    </el-popover>
                  </template>
                </el-table-column>
                <el-table-column prop="address" label="操作">
                  <template slot-scope="scope">
                    <el-button @click.native.prevent="selfOpen(scope, tableData);centerDialogVisible = true" type="primary" size="small">
                      资源授权
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <!-- 待审批分页 -->
              <el-pagination background :page-sizes="[10]" @current-change="handlePendingChange" :current-page="approvalPendingPage" layout="prev, pager, next, jumper" :total="approvalPendingTotal"> </el-pagination>
            </el-tab-pane>
            <el-tab-pane label="" name="onlyLine"></el-tab-pane>
            <!-- 审批记录 -->
            <el-tab-pane label="审批记录" name="second">
              <!-- 审批记录表格 -->
              <el-table border class="table1" :data="approvalRecord" highlight-current-row style="width: 100%">
                <el-table-column label="状态" prop="stateValue">
                  <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.stateValue" placement="right">
                      <i v-if="scope.row.state==1" class="yes"></i>
                      <i v-if="scope.row.state==2 || scope.row.state==7" class="no"></i>
                      <i v-if="scope.row.state==3 || scope.row.state==5 || scope.row.state==6" class="yellowTan"></i>
                      <i v-if="scope.row.state==4" class="redTan"></i>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column label="提交人员" prop="currentUserName"> </el-table-column>
                <el-table-column label="开始时间" prop="startTime"> </el-table-column>
                <el-table-column label="结束时间" prop="endTime"> </el-table-column>
                <el-table-column label="存储容量" prop="capacity">
                  <template slot-scope="scope">
                    {{ scope.row.capacity }}G
                  </template>
                </el-table-column>
                <el-table-column label="软件类型" prop="softwareValue"> </el-table-column>
                <el-table-column label="软件名称/版本" :show-overflow-tooltip="true" prop="softwareNames"> </el-table-column>
                <el-table-column label="操作时间" :show-overflow-tooltip="true" prop="updateTime"> </el-table-column>
                <el-table-column label="进度" prop="updateTime">
                  <template slot-scope="scope">
                    <p v-if="scope.row.state==1" style="color: #009861">{{ scope.row.stateValue }}</p>
                    <p v-if="scope.row.state==2" style="color: #FF2000">{{ scope.row.stateValue }}</p>
                    <p v-if="scope.row.state==3" style="color: #FFB401">{{ scope.row.stateValue }}</p>
                    <p v-if="scope.row.state==4" style="color: #FFB401">{{ scope.row.stateValue }}</p>
                    <p v-if="scope.row.state==5" style="color: #009861">{{ scope.row.stateValue }}</p>
                    <p v-if="scope.row.state==6" style="color:#828282">{{ scope.row.stateValue }}</p>
                    <p v-if="scope.row.state==7" style="color: #FF2000">{{ scope.row.stateValue }}</p>
                  </template>
                </el-table-column>
              </el-table>
              <!-- 分页 -->
              <el-pagination background :page-sizes="[10]" @current-change="handlePendingChange" :current-page="recordPage" layout="prev, pager, next, jumper" :total="recordTotal"> </el-pagination>
            </el-tab-pane>
            <el-tab-pane label="" name="onlyLine1"></el-tab-pane>
            <!-- 审批配置 -->
            <el-tab-pane label="审批配置" name="dispose">
              <div class="disposeText" style="float: left;line-height: 40px;padding: 0 10px;">部门:</div>
              <el-select v-model="dispose.value" placeholder="请选择">
                <el-option v-for="item in dispose.options" :key="item.id" :label="item.name" :value="item.name"> </el-option>
              </el-select>
              <el-button type="primary" size="medium" @click="addDispose">添加</el-button>
              <div class="disposeText" v-for="(item,key,index) in dispose.op2">
                <div class="disposeText" style="margin-left: 20px;margin-top: 20px">
                  <div @click="del(key)" style="float:left;background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 10px;  min-width: 24px;position: relative;top: -5px;"></div>
                  部门:
                  <el-input placeholder="请输入内容" v-model="item.value" :disabled="true"> </el-input>
                  <img src="../../../assets/img/user.png" alt="" />
                  一级审批:
                  <el-select v-model="item.value1" multiple filterable collapse-tags class="hi-input">
                    <el-option style="display: none" value="" class="hidden"> </el-option>
                    <!--el-tree绑定的数组中children里的key值不能是0-->
                    <el-tree @check="handleCheckChange(key)" :ref="key+'a'" :data="dispose.options1" node-key="id" show-checkbox :props="dispose.defaultProps"></el-tree>
                  </el-select>
                  <img src="../../../assets/img/user.png" alt="" />
                  二级审批:
                  <el-select v-model="item.value2" multiple filterable collapse-tags class="hi-input">
                    <el-option style="display: none" value="" class="hidden"> </el-option>
                    <!--el-tree绑定的数组中children里的key值不能是0-->
                    <el-tree @check="handleCheckChange2(key)" :ref="key+'b'" :data="dispose.options1" node-key="id" show-checkbox :props="dispose.defaultProps"></el-tree>
                  </el-select>
                </div>
              </div>
              <div style="padding: 20px 0">
                <el-button type="primary" @click='save'>保存</el-button>
              </div>
            </el-tab-pane>
          </el-tabs>
          <!-- dialog层 -->
          <el-dialog title="资源授权" :visible.sync="centerDialogVisible" :modal-append-to-body="false" top="15vh" @close="ownClose" :close-on-click-modal="false" :close-on-press-escape="false">
            <el-table :data="tableData" border style="width: 100%">
              <el-table-column prop="currentUserName" label="提交人员" :show-overflow-tooltip="true"> </el-table-column>
              <el-table-column prop="currentUserName" label="申请人员" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                  <p v-if="scope.row.applyType!=1">{{ scope.row.names }}</p>
                  <p v-if="scope.row.applyType==1">{{ scope.row.currentUserName }}</p>
                </template>
              </el-table-column>
              <el-table-column prop="softwareName" label="软件名称/版本" :show-overflow-tooltip="true"> </el-table-column>
              <el-table-column prop="address" label="硬件设备" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                  <el-button @click.native.prevent="openEquipment(scope);centerDialogVisible1 = true" v-if="putDistribution[scope.$index]==null  &&  putRecouGroup[scope.$index]==null " type="primary" size="small">
                    浏览
                  </el-button>
                  <p v-if="putDistribution[scope.$index]!=null">已分配设备{{ putDistribution[scope.$index].name }}</p>
                  <p v-if="putRecouGroup[scope.$index]!=null&&putDistribution[scope.$index]==null">已分配资源组{{ putRecouGroup[scope.$index].groupName }}</p>
                </template>
              </el-table-column>
            </el-table>
            <span slot="footer" class="dialog-footer">
              <el-button v-show="putDistribution.length!=0 || putRecouGroup.length!=0" size="small" type="primary" @click="beforesureDistribution();centerDialogVisible = false">确定 </el-button>
            </span>
          </el-dialog>
          <el-dialog title="硬件设备" class="equipmentBox" :visible.sync="centerDialogVisible1" :modal-append-to-body="false" top="15vh" :close-on-click-modal="false" :close-on-press-escape="false" @closed="chanrab">
            <div style="display: flex">
              <div class="boxCard">
                <el-card class="box-card">
                  <div class="cardTitle">资源组</div>
                  <el-table :data="groupLists" border style="width: 100%" ref="multipleTable">
                    <el-table-column prop="date" label="选择">
                      <template slot-scope="scope">
                        <el-radio v-model="radio" :label="scope.row.id" @change="handleChange(radio, scope.row)">&nbsp; </el-radio>
                      </template>
                    </el-table-column>
                    <el-table-column prop="groupName" label="资源组"></el-table-column>
                  </el-table>
                </el-card>
              </div>
              <div class="boxCard">
                <el-card class="box-card">
                  <div class="cardTitle">设备</div>
                  <el-table :data="deviceLists" border style="width: 100%" ref="ownMultipleTable">
                    <el-table-column prop="date" label="选择">
                      <template slot-scope="scope">
                        <el-radio v-model="deviceRadio" :label="scope.row.id" @change="handleDeviceChange(radio, scope.row)">&nbsp; </el-radio>
                      </template>
                    </el-table-column>
                    <el-table-column prop="name" label="设备名"></el-table-column>
                  </el-table>
                </el-card>
              </div>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button size="small" type="primary" @click="ruleCheck();centerDialogVisible1 = false">完成</el-button>
            </span>
          </el-dialog>
        </div>
      </div>
    </div>
    <!--修改密码-->
    @@include("../tpl/updataPassword.html")

    <script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
    <script src="../../../public/static/jquery-1.12.4.js"></script>
    <script src="../../../public/static/echarts/echarts.min.js "></script>
    <script src="../../../public/static/mock.js"></script>
    <!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
    <!-- <script src="../../../assets/js/help.js"></script> -->
    <!-- <script src="./js/index.js"></script> -->
    <!--<script src="../../../assets/js/ajaxSetup.js"></script>-->
    <script src="js/approval.js"></script>
    <!--include "./../../../components/footer/footer.html"-->
    <style>
      .owndownBox1 {
        padding: 10px 0 10px 0px !important;
        margin-left: 100px;
        margin-right: 100px;
        background: #fafafa;
        color: black;
      }
      /* .equipmentBox .el-dialog__body {
        float: left;
      } */
    </style>
  </body>
</html>
