<!DOCTYPE html>
<html>

<body>
<script src="../../../assets/js/help.js"></script>
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->

    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
    <link rel="stylesheet" href="style/approvalmanagement.css">
    <script src="./../../../public/static/elementui/vuejs.js"></script>
    <script src="./../../../public/static/elementui/elementui.js"></script>
<style>
    [v-cloak]{
        display : none !important;
    }
</style>
<div id="app" style="display:flex;"  v-cloak>
<div class="layui-body" style="margin-left: 5px;margin-top: 5px;">
    <!-- <el-tabs v-model="activeName">
      <el-tab-pane label="提交申请" name="first">提交申请</el-tab-pane>
      <el-tab-pane label="已通过" name="second">已通过</el-tab-pane>
      <el-tab-pane label="提交记录" name="third">提交记录</el-tab-pane>
    </el-tabs> -->
    <!-- <el-menu :default-active="activeIndex" class="changeColor" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1" @click='submit'>提交申请</el-badge></el-menu-item>
        <el-menu-item index="4" class="onlyLine"></el-menu-item>
        <el-menu-item index="2" @click='adopt'>已通过<el-badge :value="adoptNum" size="mini" class="badgeitem" v-show="isAdoptNum"></el-badge></el-menu-item>
        <el-menu-item index="5" class="onlyLine"></el-menu-item>
        <el-menu-item index="3" @click='record'>提交记录
        </el-menu-item>
    </el-menu> -->
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="提交申请" name="first">
          <div class="top">
            <div class="search">
                <el-input   placeholder="搜索" v-model='submitSerch'
                            style="width: 200px!important;"  @keyup.enter.native="searchInput('submitList')">
                    <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click='x'></i>
                </el-input>
              <!--<i class="el-icon-close"  @click='x' ></i>-->
              <el-button  type="primary" @click="searchInput('submitList')">搜索</el-button>
            </div>
            <div class="btn">
              <el-button type="primary" @click="newly('add')">新建</el-button>
              <el-button type="success" @click="newly('edit')" style="background-color: #00b070;border-color:  #00b070;">编辑</el-button>
              <el-button class="button-delete" type="danger" @click="cutOut">删除</el-button>
            </div>
          </div>
          <!-- 数据表格 -->
          <div class="f-table">
              <!--:data="submitData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"-->
              <el-table
              border
               :data="tableData"
               @selection-change="handleSelectChangeLeft"
              style="width: 100%">
              <el-table-column
              type="selection"
              width="55">
            </el-table-column>
              <el-table-column
                label="状态"
                prop="stateValue">
                  <template slot-scope="scope">
                      <el-tooltip class="item" effect="dark" :content="scope.row.stateValue" placement="right">
                          <i v-if="scope.row.state==1" class="yes"></i>
                          <i v-if="scope.row.state==2" class="no"></i>
                          <i v-if="scope.row.state==3 || scope.row.state==5 || scope.row.state==6" class="yellowTan"></i>
                          <i v-if="scope.row.state==4" class="redTan"></i>
                      </el-tooltip>
                  </template>
              </el-table-column>
              <el-table-column
                label="提交人员"
                prop="currentUserName">
              </el-table-column>
              <el-table-column
                label="开始时间"
                prop="startTime">
              </el-table-column>
              <el-table-column
                label="结束时间"
                prop="endTime">
              </el-table-column>
              <el-table-column
                label="存储容量"
                prop="capacity">
                  <template slot-scope="scope">
                      {{scope.row.capacity}}G
                  </template>
              </el-table-column>
              <el-table-column
                label="软件类型"
                :show-overflow-tooltip="true"
                prop="softwareValue">
              </el-table-column>
              <el-table-column
                label="软件名称/版本"
                :show-overflow-tooltip="true"
                prop="softwareNames">
              </el-table-column>
              <el-table-column
                label="操作时间"
                prop="updateTime">
              </el-table-column>
              <el-table-column
                label="进度"
                prop="reviewProgressValue">
                  <template slot-scope="scope">
                      <el-popover trigger="hover" placement="bottom">
                          <el-steps :active="scope.row.reviewProgress" align-center>
                              <el-step title="提交审批" :description="scope.row.sub_time"></el-step>
                              <el-step title="二级领导审批通过" :description="scope.row.reviewProgress==1 ? '进行中' : scope.row.audit_time_ke"></el-step>
                              <el-step title="一级领导审批通过" :description="scope.row.audit_time_chu"></el-step>
                              <el-step title="资源授权成功" :description="scope.row.audit_time_admin"></el-step>
                          </el-steps>
                          <div slot="reference" class="name-wrapper resetClass">
                              <!--<el-tag size="medium">{{scope.row.stateValue}}</el-tag>-->
                              <el-tag size="medium">审核中</el-tag>
                          </div>
                      </el-popover>
                  </template>
              </el-table-column>
              <el-table-column
                label="操作"
                align="right">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="primary"
                :disabled="scope.row.stateValue=='已催办' || scope.row.reviewProgress != 1 ?true:false"
                @click="handleEdit(scope.$index, scope.row)"><span v-if="scope.row.stateValue=='已催办'">已</span>催办</el-button>
              <el-button
                size="mini"
                type="primary"
                v-if="scope.row.stateValue!='已催办'"
                :disabled="scope.row.stateValue=='已催办' || scope.row.reviewProgress!= 1 ?true:false"
                @click="handleDelete(scope.$index, scope.row)">撤回</el-button>
            </template>
          </el-table-column>
            </el-table>
              <el-pagination
                      :page-sizes=[10]
                      @current-change="handleCurrentChange"
                      :current-page="tableDataPage"
                      layout="prev, pager, next, jumper"
                      :total="tableDataTotal">
              </el-pagination>
          </div>
      </el-tab-pane>
      <el-tab-pane label="" name="onlyLine"></el-tab-pane>
      <el-tab-pane label="已通过" name="second">
          <span slot="label">已通过<el-badge :value="adoptNum" size="mini" class="badgeitem" v-show="isAdoptNum"></el-badge></span>
          <div class="top">
              <div class="search">
                  <el-input  placeholder="搜索" v-model='adoptSerch'  style="width: 200px!important;"
                             @keyup.enter.native="searchInput('adoptList')">
                      <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click='y'></i>
                  </el-input>
                <!--<i class="el-icon-close" @click='y'></i>-->
                <el-button  type="primary" @click="searchInput('adoptList')">搜索</el-button>
              </div>
              
            </div>
            <div class="f-table">
              <el-table
              border
             :data="tableData1"
            style="width: 100%">
            <el-table-column
              label="状态"
              prop="state">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.stateValue" placement="right">
                        <i v-if="scope.row.state==1" class="yes"></i>
                        <i v-if="scope.row.state==2" class="no"></i>
                        <i v-if="scope.row.state==3 || scope.row.state==5 || scope.row.state==6" class="yellowTan"></i>
                        <i v-if="scope.row.state==4" class="redTan"></i>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column
              label="提交人员"
              prop="currentUserName">
            </el-table-column>
            <el-table-column
              label="开始时间"
              prop="startTime">
            </el-table-column>
            <el-table-column
              label="结束时间"
              prop="endTime">
            </el-table-column>
            <el-table-column
              label="存储容量"
              prop="capacity">
                <template slot-scope="scope">
                    {{scope.row.capacity}}G
                </template>
            </el-table-column>
            <el-table-column
              label="软件类型"
              :show-overflow-tooltip="true"
              prop="softwareValue">
            </el-table-column>
            <el-table-column
              label="软件名称/版本"
              :show-overflow-tooltip="true"
              prop="softwareNames">
            </el-table-column>
            <el-table-column
              label="操作时间"
              prop="updateTime">
            </el-table-column>
            <el-table-column
              label="进度"
              prop="stateValue">
                <template slot-scope="scope">
                    <p v-if="scope.row.state==1" style="color: #009861">{{scope.row.stateValue}}</p>
                    <p v-if="scope.row.state==2" style="color: #FF2000">{{scope.row.stateValue}}</p>
                    <p v-if="scope.row.state==3" style="color: #FFB401">{{scope.row.stateValue}}</p>
                    <p v-if="scope.row.state==4" style="color: #FFB401">{{scope.row.stateValue}}</p>
                    <p v-if="scope.row.state==5" style="color: #009861">{{scope.row.stateValue}}</p>
                    <p v-if="scope.row.state==6" style="color:#828282">{{scope.row.stateValue}}</p>
                    <p v-if="scope.row.state==7" style="color: #FF2000">{{scope.row.stateValue}}</p>
                </template>
            </el-table-column>
            </el-table>
                <el-pagination
                        :page-sizes=[10]
                        @current-change="handleCurrentChange"
                        :current-page="table1DataPage"
                        layout="prev, pager, next, jumper"
                        :total="table1DataTotal">
                </el-pagination>
            </div>
      </el-tab-pane>
      <el-tab-pane label="" name="onlyLine1"></el-tab-pane>
      <el-tab-pane label="提交记录" name="third">
          <div class="top">
            <div class="search">
                <el-input  placeholder="搜索" v-model='recordSerch' @keyup.enter.native="searchInput('recordSerch')"
                 style="width: 200px!important;">
                    <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click='z'></i>
                </el-input>
              <!--<i class="el-icon-close" @click='z'></i>-->
              <el-button  type="primary" @click="searchInput('recordSerch')">搜索</el-button>
            </div>
            
          </div>
          <div class="f-table">
              <el-table
              border
                      :data="tableData2"
                      style="width: 100%">
                  <el-table-column
                          label="状态"
                          prop="stateValue">
                      <template slot-scope="scope">
                          <el-tooltip class="item" effect="dark" :content="scope.row.stateValue" placement="right">
                              <i v-if="scope.row.state==1" class="yes"></i>
                              <i v-if="scope.row.state==2 || scope.row.state==7" class="no"></i>
                              <i v-if="scope.row.state==3" class="yellowTan"></i>
                              <i v-if="scope.row.state==4" class="redTan"></i>
                              <i v-if="scope.row.state==6" class="chehui"></i>
                          </el-tooltip>
                      </template>
                  </el-table-column>
                  <el-table-column
                          label="提交人员"
                          prop="currentUserName">
                  </el-table-column>
                  <el-table-column
                          label="开始时间"
                          prop="startTime">
                  </el-table-column>
                  <el-table-column
                          label="结束时间"
                          prop="endTime">
                  </el-table-column>
                  <el-table-column
                          label="存储容量"
                          prop="capacity">
                      <template slot-scope="scope">
                          {{scope.row.capacity}}G
                      </template>
                  </el-table-column>
                  <el-table-column
                          label="软件类型"
                          :show-overflow-tooltip="true"
                          prop="softwareValue">
                  </el-table-column>
                  <el-table-column
                          label="软件名称/版本"
                          :show-overflow-tooltip="true"
                          prop="softwareNames">
                  </el-table-column>
                  <el-table-column
                          label="操作时间"
                          prop="updateTime">
                  </el-table-column>
                  <el-table-column
                          label="进度"
                          prop="stateValue">
                      <template slot-scope="scope">
                          <p v-if="scope.row.state==1" style="color: #009861">{{scope.row.stateValue}}</p>
                          <p v-if="scope.row.state==2" style="color: #FF2000">{{scope.row.stateValue}}</p>
                          <p v-if="scope.row.state==3" style="color: #FFB401">{{scope.row.stateValue}}</p>
                          <p v-if="scope.row.state==4" style="color: #FFB401">{{scope.row.stateValue}}</p>
                          <p v-if="scope.row.state==5" style="color: #009861">{{scope.row.stateValue}}</p>
                          <p v-if="scope.row.state==6" style="color:#828282">{{scope.row.stateValue}}</p>
                          <p v-if="scope.row.state==7" style="color: #FF2000">{{scope.row.stateValue}}</p>
                      </template>
                  </el-table-column>
              </el-table>
              <el-pagination
                      :page-sizes=[10]
                      @current-change="handleCurrentChange"
                      :current-page="table2DataPage"
                      layout="prev, pager, next, jumper"
                      :total="table2DataTotal">
              </el-pagination>
          </div>
      </el-tab-pane>
    </el-tabs>
    <!-- 提交申请 -->
    
    <!-- 已通过 -->
    
    <!-- 提交记录 -->
    
</div>
      <!-- 新建弹框 -->
      <el-dialog
            :title="title"
            :visible.sync='showDialog'
            :before-close="handleClose1"
            @closed="ownClosed"
            width="800">
              <div class="userName">
                  提交人员：<span>{{name}}</span><br>
              </div>
              <div class="type">
                  申请类别：<el-radio-group v-model="radio" @change="radioChange">
                    <el-radio :label="1" @change='tab'>个人</el-radio>
                    <el-radio :label="2" @change='tab'>组织单位</el-radio>
                    <el-radio :label="3" @change='tab' v-if="poewr">外协用户/单位</el-radio>
                  </el-radio-group><br>
              </div>
              <!-- 个人用户 -->
              <div v-show='typeList' class="typelist" style="padding: 10px 0 10px 0px !important; margin-left: 100px;
                    margin-right: 100px;
                    background: #fafafa;
                    color: black;">
                <p>为<span>{{name}}</span>进行申请</p>
                项目名称：<el-input placeholder="非必填项"  v-model="projectName"></el-input>
              </div>
              <!-- 组织单位 -->
              <div v-show='typeList2' class="typelist1">
                  <div style="display: flex;">
                  <!--<el-tree-->
                          <!--class="owntree"-->
                          <!--:props="props"-->
                          <!--:data="ownTree"-->
                           <!--ref="myOwnTree"-->
                          <!--:default-checked-keys="ownSelectNodes"-->
                          <!--show-checkbox-->
                          <!--@check="checkOwn"-->
                          <!--@check-change="handleOwnChange"-->
                          <!--node-key="id">-->
                  <!--</el-tree>：-->
                      <!--<el-input disabled v-model="ownNamesStr"></el-input>-->
                      <span style="margin-left: 38px;margin-top: 10px;">部门:</span><el-input disabled v-model="branchName"></el-input>
                      <span  style="line-height: 40px; margin-left: 10px;">(已选择{{branchNum}}人)</span>
                  </div>
                  <br>项目名称：<el-input placeholder="非必填项" v-model="projectName"></el-input>
              </div>
              <!-- 外协用户/单位 -->
              <div v-show='typeList3' class="typelist1">
                  <div style="display: flex;">
                      <el-tree
                              :props="otherProps"
                              :data="otherUnitsTree"
                              ref="otherTree"
                              :default-checked-keys="otherSelectNodes"
                              show-checkbox
                              @check-change="handleCheckChange"
                              node-key="id">
                      </el-tree><el-input disabled v-model="otherNamesStr" style="margin-left: 10px"></el-input>  <span v-if="otherTreeIDs.length>0" style="line-height: 40px; margin-left: 10px;">(已选择{{wPeople}}人)</span>
                  </div>
                  <br>
                项目名称：<el-input placeholder="必填项" v-model="projectName"></el-input><span class="important">*</span>
              </div>
              <!-- 开始时间 -->
              <div class='startTime'>
                  开始时间：<el-date-picker
                  v-model="value1"
                  type="date"
                  @change="changeStartTime"
                  :clearable="false"
                  placeholder="选择日期">
                </el-date-picker>
                <span class="important">*</span>
              </div>
              <!-- 结束时间 -->
              <div class="endTime">
                  结束时间：<el-date-picker
                  v-model="value2"
                  type="date"
                  :clearable="false"
                  @change="changeEndTime"
                  placeholder="选择日期">
                  </el-date-picker>
                  <span class="important">*</span>
              </div>
              <!-- 存储容量 -->
              <div class="storage">
                  存储容量：<el-input
                  placeholder="请输入内容"
                  v-model="state">
                  </el-input>
                  <span class="company">G</span>
                  <span class="important">*</span>
              </div>
              <!-- 软件类型 -->
                <div class="softwareType">软件类型：
                <el-select v-model="softwareType" placeholder="— — 请选择 — —"
                    style="margin-left:-3px;">
                    <el-option v-for="(item,index) in softwareTypes" :key="item.value" :value="item.value">
                    </el-option>
                </el-select>
                <el-button type="primary" @click="addSoftwareType" style='background: #1E9FFF;border:none;'>添加</el-button>
              </div>
              <!-- 软件类型渲染 -->
              <div class="soft" v-for="(item,key,index) in softwareTypeList" :key="index" :index="index">
                <div>
                  <span>{{softwareTypeList[key].name}}：</span>
                  <el-select v-model="softwareTypeList[key].softName" placeholder="请选择">
                      <el-option
                        v-for="item in ownSelect[softwareTypeList[key].select]"
                        :key="item.softwareId"
                        :label="item.softwareName"
                        :value="item.softwareId">
                      </el-option>
                    </el-select>
                    <div  @click="delSoftwareEdition(key)" style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 0 0 10px;  min-width: 24px;"></div>
                </div>
              </div>
              <!-- 备注 -->
              <div class="tips">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：<el-input
                type="textarea"
                :rows="2"
                placeholder="请输入所申请软件的硬件资源需求等信息"
                v-model="tips"
                class="textarea">
              </el-input>
              </div>
            <div class="footerBtn">
                <el-button type="primary" :disabled="firstSubmit" style='background: #1E9FFF;border:none;' @click="application()">提交</el-button>
                <el-button @click="resetBtn"   style="background: #1E9FFF;border:none;color: white">重置</el-button>
                <el-button class='delbtn' @click="closeBtn"style="border:1px solid #CCC;color: #666">取消</el-button>
            </div>
    </el-dialog>
</div>


<script type="text/html" id="conntClick">
  <a class="layui-btn layui-btn-xs" lay-event="openApp">打开</a>
  <a class="layui-btn layui-btn-xs" lay-event="closeApp">关闭</a>
  <a class="layui-btn layui-btn-xs" lay-event="appInfo">详情</a>
</script>

    <!--修改密码-->
    @@include("../tpl/updataPassword.html")

<script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
<script src="../../../public/static/jquery-1.12.4.js"></script>
<script src="../../../public/static/echarts/echarts.min.js "></script>
<script src="../../../public/static/mock.js"></script>
<!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
<!-- <script src="../../../assets/js/help.js"></script> -->
<!-- <script src="./js/index.js"></script> -->
<script src="../../../assets/js/ajaxSetup.js"></script>
<script src="js/approvalmanagement.js"></script>
<!--include "./../../../components/footer/footer.html"-->

<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</body>

</html>