<div class="layui-form">
    <div class="layui-fluid">
        <div class="layui-form layui-col-md12">
            <div class="layui-form-item">
                <div class="layui-col-md4">
                    <label class="layui-form-label">城市<span style="color:red">●</span></label>
                    <div class="layui-input-block">
                        <select name="applicationId" class="xm-select-demo" id="select_base_cityname"
                            lay-filter="select_base_cityname" xm-select="select2" xm-select-type="1">
                            <option value=""></option>
                            <option value="1">北京</option>
                            <option value="2">上海</option>
                            <option value="3">天津</option>
                            <option value="4">重庆</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button class="cancel">tijai </button>
    </div>
</div>

<script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
<script src="../../../public/static/layui-v2.2.5/layui/layui.js"></script>
<link href="../../../public/static/layui-v2.2.5/layui/css/layui.css" rel="stylesheet">
</link>
<script src="../../../public/static/layui-v2.2.5/layui/lay/modules/layer.js"></script>

<script>
    //全局定义一次, 加载formSelects
    layui.config({
        base: './js/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects'
    });

    layui.use(['form', 'layer', 'jquery', 'table', 'laydate', 'element', 'upload', 'flow', 'formSelects'], function () {
        var element = layui.element,
            formSelects = layui.formSelects
            $=layui.jquery
            form=layui.form


        console.log(formSelects)
        console.log(formSelects.array('select2'))
        formSelects.selects({
            el: '#select_base_cityname',
            // repeat: true,
            model: "select",

        })

        var active = {
            init: function () {
                $(".cancel").on("click", function () {
                    active.asd()
                })
            },
            // formSelects.value('select2')

            asd: function () {
                console.log($("select[name=applicationId]"))
                console.log(formSelects.array('select2').undefined)
                console.log(formSelects)
            }
        }
        active.init()
    });
</script>