
<!--硬件资源管理-->
<!--<script src="../../../assets/js/help.js"></script>-->

<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->


<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-content clearfix">


        <div class="layui-tab">
            <!-- <ul class="layui-tab-title">
                <li class="layui-this">硬件资源管理</li>
                <li>硬件资源组管理</li>
            </ul> -->



            <!--tab切换-->
            <div class="layui-tab-content">
                <!--硬件资源管理-->
                <div class="layui-tab-item layui-show">
                    <div class="clearfix">
                        <div class="fl">
                            <!--搜索框-->
                            @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer1", "input": "index-footer1" ,"icon": "icon-footer1"})
                        </div>

                        <!--操作按钮1-->
                        <div class="main-btn fr">
                            <button class="layui-btn layui-btn-sm layui-btn-normal new-build-equipment">新建</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-equipment">编辑</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal del-hardware button-delete">删除</button>
                            <!--修改-->
                            <button class="layui-btn layui-btn-sm layui-btn-normal updata-hardware">更新</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal downloadTemplate">下载导入模板</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal ImportHardWare">导入</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal exportHardWare" style="margin-left: 10px">导出</button>
                        </div>
                    </div>

                    <!--主体详情-->
                    <!--<div class="main-nav clearfix">-->


                        <!--表格数据-->
                        <div class="table-data" style="width: 100%">
                            <table class="layui-hide" id="hardwareList" lay-filter="demo"></table>
                            <div id="hardwareListPage"></div>
                        </div>

                </div>
                <!--硬件资源组管理-->
                <!-- <div class="layui-tab-item grop">
                    <div class="clearfix">
                        <div class="fl">
                            搜索框
                            @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer2", "input": "index-footer2" ,"icon": "icon-footer2"})
                        </div> -->
                        <!--操作按钮-->
                        <!-- <div class="main-btn fr">
                            <button class="layui-btn layui-btn-sm layui-btn-normal new-build-group">新建</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-group">编辑</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal del-hardwareGroup">删除</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal downloadTemplateGroup">下载导入模板</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal ImportHardWareGroup">导入</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal exportHardWareGroup" style="margin-left: 10px">导出</button>
                        </div>
                    </div> -->

                    <!--主体详情-->
                    <!--<div class="main-nav clearfix">-->


                        <!--表格数据-->
                        <!-- <div class="table-data" style="width: 1670px">
                            <table class="layui-hide" id="hardwareGroupList" lay-filter="demo1"></table>
                            <div id="hardwareGroupListPage"></div>
                        </div> -->

                    <!--</div>-->
                </div>
            </div>
        </div>


    </div>
</div>

<!--新增设备-->
<div class="new-equipment" style="display: none">
    <!--<h2>新增设备</h2>-->
    <form class="layui-form" action="" lay-filter="newEquipment">
        <h3>基本信息</h3>
        <div class="basic-message">
            <!-- <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                    <div class="layui-input-inline">
                        <input name="name" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div> -->
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">系统类型</label>
                    <div class="layui-input-inline">
                        <select name="osTypeKey" lay-filter="" lay-verify="required">
                            <option value="">请选择</option>
                            <option value="Linux">Linux</option>
                            <option value="Windows">Windows</option>
                            <option value="WindowsServer">Windows Server</option>
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</label>
                    <div class="layui-input-inline">
                        <select name="hardwareTypeId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">IP&nbsp;(外网)</label>
                    <div class="layui-input-inline">
                        <input name="extranetIP" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required|ip">
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">IP&nbsp;(内网)</label>
                    <div class="layui-input-inline">
                        <input name="intranetIP" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="ip">
                    </div>
                </div>
            </div>
            <!-- <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">MAC地址</label>
                    <div class="layui-input-inline">
                        <input name="extranetMACIP" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="mac">
                    </div>
                </div>
            </div> -->
           

        </div>

        <div class="layui-form-item layui-form-text" style="margin: 0px 10px;">
            <label class="layui-form-label">描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述</label>
            <div class="layui-input-block">
                <textarea name="descri" class="layui-textarea" placeholder="" style="width: 590px"></textarea>
            </div>
        </div>


        <h3>资产信息</h3>
        <div class="basic-message">
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌</label>
                    <div class="layui-input-inline">
                        <select name="brandAssets" lay-filter="">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                    <div class="layui-input-inline">
                        <input name="assetTypes" class="layui-input" type="text" placeholder="" autocomplete="off" >
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">序&nbsp;&nbsp;列&nbsp;&nbsp;号</label>
                    <div class="layui-input-inline">
                        <input name="assetSerialNumber" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-item">
                    <label class="layui-form-label">购买日期</label>
                    <div class="layui-input-inline">
                        <input name="assetPurchaseDate" type="text" class="layui-input" id="assetPurchaseDate" placeholder="" style="width: 190px">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">资产编号</label>
                    <div class="layui-input-inline">
                        <input name="assetNumber" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">保&nbsp;&nbsp;修&nbsp;&nbsp;期</label>
                    <div class="layui-input-inline">
                        <select name="assetWarrantyDate" lay-filter="aihao">
                            <option value="">请选择</option>
                            <option value="1">1年</option>
                            <option value="2">2年</option>
                            <option value="3">3年</option>
                            <option value="4">4年</option>
                            <option value="5">5年</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="fle" style="float: left;">
         <div class="layui-form-item selecttree" style="margin-left: 10px">
            <label class="layui-form-label">产权单位</label>
            <div class="layui-input-inline">
                <div class="layui-unselect layui-form-select downpanel">
                    <div class="layui-select-title">
                        <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                        <!--<input type="hidden" name="selectID" value="0">-->
                        <input type="hidden" name="assetPropertyRightUnit" value="">
                        <i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit">
                        <dd>
                            <ul id="classtree"></ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        </div>
        <div class="fle" style="float: right;margin-right: 10px;">
            <div class="layui-form-item">
                <label class="layui-form-label">设备管理员</label>
                <div class="layui-input-inline">
                    <select name="administrator" lay-verify="required">

                    </select>
                </div>
                <b class="star fl">*</b>
            </div>
        </div>
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="newEquipment" lay-submit="">确定</button>
                <button class="layui-btn cancel" type="button">取消</button>
            </div>
        </div>

    </form>
</div>
<!--编辑设备-->
<div class="edit-equipment" style="display: none;">
    <!--<h2>新增设备</h2>-->
    <form class="layui-form" action="">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="id" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
        <h3>基本信息</h3>
        <div class="basic-message">
           
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">系统类型</label>
                    <div class="layui-input-inline">
                        <select name="osTypeKey" lay-filter="" lay-verify="required">
                            <option value="">请选择</option>
                            <option value="Linux">Linux</option>
                            <option value="Windows">Windows</option>
                            <option value="WindowsServer">Windows Server</option>
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</label>
                    <div class="layui-input-inline">
                        <select name="hardwareTypeId" lay-filter="aihao" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">IP&nbsp;(外网)</label>
                    <div class="layui-input-inline">
                        <input name="extranetIP" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
                    </div>
                    <b class="star fl">*</b>
                    <button class="layui-btn layui-btn-sm layui-btn-normal verificationIP" type="button" style="margin-top: 4px;">更新</button>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">IP&nbsp;(内网)</label>
                    <div class="layui-input-inline">
                        <input name="intranetIP" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title">
                    </div>
                </div>
            </div>
            
            

        </div>

        <div class="layui-form-item layui-form-text" style="margin: 0px 7px;">
            <label class="layui-form-label">描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述</label>
            <div class="layui-input-block">
                <textarea name="descri" placeholder="" class="layui-textarea" style="width: 580px"></textarea>
            </div>
        </div>

        <h3>配置信息</h3>
        <div class="basic-message">
             <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                    <div class="layui-input-inline">
                        <input name="name" class="layui-input dis" type="text" placeholder="" autocomplete="off" lay-verify="required" disabled>
                    </div>
                    
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">MAC地址</label>
                    <div class="layui-input-inline">
                        <input name="extranetMACIP" class="layui-input dis" type="text" placeholder="" autocomplete="off" disabled >
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">系统版本</label>
                    <div class="layui-input-inline">
                        <input name="systemName" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">CPU型号</label>
                    <div class="layui-input-inline">
                        <input name="modelCPU" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">CPU数量</label>
                    <div class="layui-input-inline">
                        <input name="numberCPU" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">内存容量</label>
                    <div class="layui-input-inline">
                        <input name="memoryCapacity" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">硬盘容量</label>
                    <div class="layui-input-inline">
                        <input name="hardDriveCapacity" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">图卡型号</label>
                    <div class="layui-input-inline">
                        <input name="figureCardType" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">图卡数量</label>
                    <div class="layui-input-inline">
                        <input name="figureCardNumber" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <!--修改-->
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">桌面类型</label>
                    <div class="layui-input-inline">
                        <input name="desktopType" class="layui-input dis" disabled type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>

        </div>


        <h3>资产信息</h3>
        <div class="basic-message">
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌</label>
                    <div class="layui-input-inline">
                        <select name="brandAssets" lay-filter="">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                        <!--<input name="brandAssets" class="layui-input" type="text" placeholder="" autocomplete="off">-->
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                    <div class="layui-input-inline">
                        <input name="assetTypes" class="layui-input" type="text" placeholder="" autocomplete="off" >
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">序&nbsp;&nbsp;列&nbsp;&nbsp;号</label>
                    <div class="layui-input-inline">
                        <input name="assetSerialNumber" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">购买日期</label>
                    <div class="layui-input-inline">
                        <input name="assetPurchaseDate" class="layui-input" id="editassetPurchaseDate" type="text" placeholder=" - ">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">资产编号</label>
                    <div class="layui-input-inline">
                        <input name="assetNumber" class="layui-input" type="text" placeholder="" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">保&nbsp;&nbsp;修&nbsp;&nbsp;期</label>
                    <div class="layui-input-inline">
                        <select name="assetWarrantyDate">
                            <option value="">请选择</option>
                            <option value="1">1年</option>
                            <option value="2">2年</option>
                            <option value="3">3年</option>
                            <option value="4">4年</option>
                            <option value="5">5年</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div style="float: left">
           <div class="layui-form-item selecttree" style="margin-left: 6px">
            <label class="layui-form-label">产权单位</label>
            <div class="layui-input-inline">
                <div class="layui-unselect layui-form-select downpanel">
                    <div class="layui-select-title">
                        <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                        <!--<input type="hidden" name="selectID" value="0">-->
                        <input type="hidden" name="assetPropertyRightUnit" value="">
                        <i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit">
                        <dd>
                            <ul id="classtree1"></ul>
                        </dd>
                    </dl>
                </div>
                <!--<select name="assetPropertyRightUnit" lay-filter="aihao">-->
                    <!--<option value="">请选择</option>-->
                    <!--<option value="1">勘探院</option>-->
                    <!--<option value="2">西北分院</option>-->
                    <!--<option value="3">处理所</option>-->
                    <!--<option value="4">软件所</option>-->
                    <!--<option value="5">海外所</option>-->
                <!--</select>-->
            </div>
        </div>
        </div>
        <div class="fle" style="float: right;margin-right: 10px;">
            <div class="layui-form-item">
                <label class="layui-form-label">设备管理员</label>
                <div class="layui-input-inline">
                    <select name="administrator" lay-verify="required">

                    </select>
                </div>
                <b class="star fl">*</b>
            </div>
        </div>
        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="editEquipment" lay-submit="">确定</button>
                <button class="layui-btn cancel" type="button">取消</button>
            </div>
        </div>

    </form>
</div>
<!--新建组-->
<div class="new-groups" style="display: none;">
    <!--<h2>新建组</h2>-->
    <form class="layui-form" action="">
        <h3>基础信息</h3>
        <div class="basic-message">
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">组名</label>
                    <div class="layui-input-inline">
                        <input name="groupName" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
                    </div>
                    <!--<i class="layui-icon add-user-fn star fl">&#xe608</i>-->
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="hardwareGroupTypesId"  lay-verify="required" lay-filter="typeLinkage">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
        </div>



        <div class="layui-form-item layui-form-text" style="margin-left: 128px">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="descri" class="layui-textarea" placeholder="请输入内容" style="width: 825px"></textarea>
            </div>
        </div>

        <h3>添加设备</h3>

        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this NAME">名称</li>
                <li>IP</li>
            </ul>
            <div class="layui-tab-content">

                <div class="layui-tab-item layui-show">
                    @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer3", "input": "index-footer3","icon": "icon-footer3" })
                    <div style="display: flex;justify-content: center;margin-top: 10px">
                        <div class="bor" style="width: 600px">
                            <div class="layui-name layui-border" style="display: inline-block" id="old" style="width: 576px">
                                <table class="layui-hide" id="addGroup" lay-filter="addGroup"></table>
                            </div>
                        </div>
                        <!--符号-->
                        <p class="selectedState">
                            已
                            <i class="layui-icon" style="display: block;font-size: 30px;">&#xe602;</i>
                            选
                        </p>
                        <!--展示-->
                        <div class="bor" style="width: 600px">
                            <div class="layui-name layui-border" style="display: inline-block" id="new" style="width: 576px">
                                <table class="layui-hide" id="newAddGroup" lay-filter="newAddGroup"></table>
                            </div>
                        </div>
                    </div>

                </div>
                <!--IP-->
                <div class="layui-tab-item">
                    <div style="margin: 80px;text-align: center;">
                        <div class="rgb">
                            启&nbsp;&nbsp;用&nbsp;&nbsp;IP：
                            <input type="text" maxlength="3" size="" class="ip1">.
                            <input type="text" maxlength="3" size="" class="ip2">.
                            <input type="text" maxlength="3" size="" class="ip3">.
                            <input type="text" maxlength="3" size="" class="ip4">
                        </div>
                        <div style="margin-top: 20px">
                            节点数量：
                            <input type="number" class="num">
                        </div>
                    </div>

                </div>


            </div>
        </div>


        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <!--<button class="layui-btn" type="button" id="aaa">确定</button>-->
                <button class="layui-btn" lay-filter="newGroup" lay-submit="">确定</button>
                <button type="button" class="layui-btn cancel">取消</button>
                <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
            </div>
        </div>
    </form>
</div>
<!--编辑组-->
<div class="edit-groups" style="display: none;">
    <!--<h2>新建组</h2>-->
    <form class="layui-form" action="">
        <h3>基础信息</h3>
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="groupId" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
            </div>
            <!--<i class="layui-icon add-user-fn star fl">&#xe608</i>-->
            <b class="star fl">*</b>
        </div>
        <div class="basic-message">
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">组名</label>
                    <div class="layui-input-inline">
                        <input name="groupName" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
                    </div>
                    <!--<i class="layui-icon add-user-fn star fl">&#xe608</i>-->
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="hardwareGroupTypesId"  lay-verify="required" lay-filter="editTypeLinkage">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text" style="margin-left: 128px">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="descri" class="layui-textarea" placeholder="请输入内容" style="width: 825px"></textarea>
            </div>
        </div>

        <h3>添加设备</h3>

        <div class="layui-tab">
            <ul class="layui-tab-title">
                <!--<li class="layui-this NAME">名称</li>-->
                <li class="NAME">名称</li>
                <!--<li class="IP">IP</li>-->
            </ul>
            <div class="layui-tab-content">

                <div class="layui-tab-item layui-show NAME">
                    @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer4", "input": "index-footer4","icon": "icon-footer4" })
                    <div style="display: flex;justify-content: center;margin-top: 10px">
                        <div class="bor" style="width: 600px">
                            <div class="layui-name layui-border" style="display: inline-block" id="editold" style="width: 576px">
                                <table class="layui-hide" id="editGroup" lay-filter="editGroup"></table>
                            </div>
                        </div>
                        <!--符号-->
                        <p class="selectedState">
                            已
                            <i class="layui-icon" style="display: block;font-size: 30px;">&#xe602;</i>
                            选
                        </p>
                        <!--<div class="select-div select-btn">-->
                        <!--<i class="layui-icon">&#xe602;</i>-->
                        <!--<i class="layui-icon">&#xe65b;</i>-->
                        <!--<i class="layui-icon">&#xe603;</i>-->
                        <!--<i class="layui-icon">&#xe65a;</i>-->
                        <!--</div>-->
                        <!--展示-->
                        <div class="bor" style="width: 600px">
                            <div class="layui-name layui-border" style="display: inline-block" id="editnew" style="width: 576px">
                                <table class="layui-hide" id="editAddGroup" lay-filter="editAddGroup"></table>
                            </div>
                        </div>
                    </div>

                </div>
                <!--IP-->
                <!--<div class="layui-tab-item IP">-->
                    <!--<div style="margin: 80px;text-align: center;">-->
                        <!--<div class="rgb">-->
                            <!--启用IP：-->
                            <!--<input type="text" maxlength="3" size="" class="ip1">：-->
                            <!--<input type="text" maxlength="3" size="" class="ip2">：-->
                            <!--<input type="text" maxlength="3" size="" class="ip3">：-->
                            <!--<input type="text" maxlength="3" size="" class="ip4">-->
                        <!--</div>-->
                        <!--<div style="margin-top: 20px">-->
                            <!--节点数量：-->
                            <!--<input type="number" class="num" name="nodeNum">-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->


            </div>
        </div>


        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <!--<button class="layui-btn" type="button" id="aaa">确定</button>-->
                <button class="layui-btn" lay-filter="editNewGroup" lay-submit="">确定</button>
                <button type="button" class="layui-btn cancel">取消</button>
                <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
            </div>
        </div>
    </form>
</div>

<!--修改密码-->
@@include("../tpl/updataPassword.html")

<!--include "./../../../components/footer/footer.html"-->
<!--鼠标滑过模板-->
<script id="mouseHov1" type="text/html">
    <div class="mouseHover">{{d.NAME}}</div>
</script>
<!--鼠标滑过模板-->
<script id="mouseHov2" type="text/html">
    <div class="mouseHover">{{d.groupName}}</div>
</script>
<!--表格模板-->
<script id="barDemo" type="text/html">
    {{# if(d.usingState == 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="start" style="background-color: red!important;">启用</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="stop">停用</a>
    {{# } }}
</script>

<script type="text/html" id="barDemo1">
    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.usingState == 2){ }}
    <!--<div class="fail">-->
        <i class="layui-icon fail" style="font-size:25px;color: red;">&#x1007;</i>
    <!--</div>-->
    {{#  }else{ }}
    <!--<div class="success">-->
        <i class="layui-icon success" style="font-size:25px;color: green;">&#xe616;</i>
    <!--</div>-->
    {{#  } }}
</script>
<script id="barDemo2" type="text/html">

    <div class="department" onmouseover="fn1('{{d.groupName}}',$(this))" onmouseout="closeIndex()">{{d.groupName}}</div>

</script>
<!--<script id="barDemo3" type="text/html">-->

    <!--<div class="department" onmouseover="fn1('{{d.groupName}}',$(this))" onmouseout="closeIndex()">{{d.groupName}}</div>-->

<!--</script>-->
<!--<script id="barDemo4" type="text/html">-->

    <!--<div class="department" onmouseover="fn1('{{d.groupName}}',$(this))" onmouseout="closeIndex()">{{d.groupName}}</div>-->

<!--</script>-->
<!--<script id="barDemo5" type="text/html">-->

    <!--<div class="department" onmouseover="fn1('{{d.groupName}}',$(this))" onmouseout="closeIndex()">{{d.groupName}}</div>-->

<!--</script>-->
<link rel="stylesheet" href="style/hardwareManage.css">

<!--<script src="mockData/hardwareManageMock1.js"></script>-->
<script src="./../../../assets/js/ajaxSetup.js"></script>

<script src="js/hardwareManage.js"></script>
<script>
    function fn1(d,DOM){
        layui.use(['layer'],function () {
            var layer = layui.layer;
                layer.tips(d, DOM, {
                    tips: [2,'#FF5722'],
                    tipsMore: false,
                    time:0,
                    closeBtn:1
                })
        })
    };
    // function fn2(d,DOM){
    //     layui.use(['layer'],function () {
    //         var layer = layui.layer;
    //         layer.tips(d, DOM, {
    //             tips: [2,'#FF5722'],
    //             tipsMore: false,
    //             time:0,
    //             closeBtn:1
    //         })
    //     })
    // };
    function closeIndex(){
        layer.close(layer.index)
    }
</script>

</body>
</html>