<!--许可证资源管理-->
<!--<script src="../../../assets/js/help.js"></script>-->

<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->

<link rel="stylesheet" href="./style/licence.css">
<link rel="stylesheet" href="./style/licenceInfo.css">
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script> -->

<style>
  [v-cloak]{
        display : none;
}
</style>
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content">
    <div class="clearfix">
      <div class="fl">
        <!--搜索框-->
        @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer1", "input": "index-footer1","icon":
        "icon-footer1" })
      </div>
      <!--操作按钮-->
      <div class="main-btn fr" style="margin-right: 10px">
        <button class="layui-btn layui-btn-sm layui-btn-normal new-build-service">新增Lic服务</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-service editColor">编辑Lic服务</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal del-licence delColor" style="background:#ec4747!important ">删除</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal downloadTemplate">下载导入模板</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal importLicenseService">导入</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal exportLicenseService"
          style="margin-left: 10px;margin-right: 0px">导出</button>
      </div>
    </div>

    <!--主体详情-->
    <!--<div class="main clearfix">-->

    <!--表格数据-->
    <div class="main-form">
      <table class="layui-hide" id="licenceList" lay-filter="demo"></table>
      <div id="licencePage"></div>
    </div>
    <!--</div>-->

  </div>
</div>

<!--软件详情-->
<div class="software-details clearfix" style="display: none;padding: 15px;width: 1550px">
  <div class="software-details-left clearfix fl" style="width: 710px;">
    <div class="software-details-left-son">
      <div style="display: flex;justify-content: space-between;">
        <div><span style="color:#1E9FFF;">软件名称：</span><span class="softwareName"></span></div>
        <div><span style="color:#1E9FFF;">版本：</span><span class="softwareVersion"></span></div>
        <div><span style="color:#1E9FFF;"></span>授权时间：<span class="authDate"></span></div>
        <div><span style="color:#1E9FFF;">守护程序：</span><span class="daemonList"></span></div>
        <div><span style="color:#1E9FFF;">许可服务器：</span><span class="hostName"></span></div>

      </div>
      <div style="display: flex;justify-content: space-between;margin-top: 15px">
        <div><span style="color:#1E9FFF;">IP：</span><span class="ip"></span></div>
        <div><span style="color:#1E9FFF;">MAC：</span><span class="mac"></span></div>
        <div><span style="color:#1E9FFF;">加密狗：</span><span class="encryption"></span></div>
        <div><span style="color:#1E9FFF;">端口：</span><span class="port"></span></div>
        <div><span style="color:#1E9FFF;">模块数：</span><span class="moduleNumber"></span></div>
        <div><span style="color:#1E9FFF;">授权人数：</span><span class="authNumber"></span></div>
      </div>
    </div>
    <div style="display: inline-block;">
      <table class="layui-hide" id="test1" lay-filter="demo"></table>
      <div id="testPage1"></div>
    </div>


  </div>
  <div class="software-details-right clearfix fr" style="width: 750px;margin-left: 20px">
    <div class="software-details-right-son">
      <div class="clearfix">
        <!--<h6>模块使用详情</h6>-->
        <div style="display: flex;justify-content: space-between;margin-bottom: 4px">
          <div class="fl"><span style="color:#1E9FFF;">模块名称：</span><span class="name"></span></div>
          <div class="fl" style="margin-left: 5px"><span style="color:#1E9FFF;">守护程序：</span><span
              class="daemonName"></span></div>
          <div class="fl" style="margin-left: 5px"><span style="color:#1E9FFF;">授权数：</span><span
              class="moduleTotal"></span></div>
          <div class="fl" style="margin-left: 5px"><span style="color:#1E9FFF;">使用数：</span><span
              class="useNumber"></span></div>
        </div>

        <div class="details-btn">
          <button class="layui-btn layui-btn-sm layui-btn-normal" id="openDesktop">打开桌面</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal editColor" id="releaseLicense">释放许可</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal delColor" id="closeDesktop">关闭桌面</button>
        </div>
      </div>
      <!--<br />-->

    </div>
    <div class="tabhid" style="display: none">
      <table class="layui-hide" id="test2" lay-filter="demo1"></table>
      <div id="testPage2"></div>
    </div>
  </div>
</div>


<!--新增服务-->
<div class="new-service" style="display: none;">
  <!--<h2>新建许可服务</h2>-->
  <form class="layui-form" action="" lay-filter="newService" style="margin-top: 20px">
    <div class="basic-message">
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">软&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</label>
          <div class="layui-input-inline">
            <select name="softwareName" lay-filter="softwareName" lay-verify="required">
              <!--<option value="">请选择</option>-->
              <!--<option value="0">写作</option>-->
              <!--<option value="1">阅读</option>-->
              <!--<option value="2">游戏</option>-->
            </select>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本</label>
          <div class="layui-input-inline">
            <select name="softwareVersion" lay-filter="aihao" lay-verify="required">
              <!--<option value="">请选择</option>-->
              <!--<option value="0">写作</option>-->
              <!--<option value="1">阅读</option>-->
              <!--<option value="2">游戏</option>-->
            </select>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">IP&nbsp;&nbsp;地&nbsp;&nbsp;址</label>
          <div class="layui-input-inline">
            <input name="ip" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item">
          <label class="layui-form-label">加&nbsp;&nbsp;密&nbsp;&nbsp;狗</label>
          <div class="layui-input-inline">
            <input name="encryption" class="layui-input" type="text" placeholder="" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">端&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;口</label>
          <div class="layui-input-inline">
            <input name="port" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">程序目录</label>
          <div class="layui-input-inline">
            <input name="programDirectory" class="layui-input" type="text" placeholder="" autocomplete="off"
              lay-verify="required">
          </div>
          <b class="star fl">*</b>
        </div>
      </div>

    </div>


    <!--<div class="layui-form-item alignment clearfix">-->
    <!--<label class="layui-form-label">程序目录</label>-->
    <!--<div class="layui-input-inline">-->
    <!--<input name="title" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">-->
    <!--</div>-->
    <!--<b class="star fl">*</b>-->
    <!--</div>-->



    <div class="layui-form-item alignment clearfix" style="margin-left: 9px">
      <label class="layui-form-label">许可文件</label>
      <div class="layui-input-block" style="display: flex">
        <input name="permit" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required"
          style="width: 592px;">
        <b class="star" style="margin-left: 10px">*</b>
      </div>

    </div>
    <div class="layui-form-item alignment" style="margin: 9px">
      <label class="layui-form-label">启动命令</label>
      <div class="layui-input-block">
        <input name="startCommand" class="layui-input" type="text" placeholder="" autocomplete="off"
          style="width: 592px;">
      </div>
    </div>



    <div class="layui-form-item layui-btn-sub">
      <div class="layui-input-block">
        <button class="layui-btn" lay-filter="newServiceSub" lay-submit="">确定</button>
        <button class="layui-btn cancel" type="button">取消</button>
      </div>
    </div>

  </form>
</div>

<!--编辑服务-->
<div class="edit-service" style="display: none;">

  <form class="layui-form" action="">
    <div class="layui-form-item clearfix" hidden>
      <label class="layui-form-label">id</label>
      <div class="layui-input-inline">
        <input name="id" class="layui-input dis" type="text" placeholder="" autocomplete="off" lay-verify="required"
          disabled>
      </div>
      <b class="star fl">*</b>
    </div>
    <div class="basic-message">
      <div class="fle" hidden>
        <div class="layui-form-item clearfix" hidden>
          <label class="layui-form-label">软件</label>
          <div class="layui-input-inline">
            <input name="softwareName" class="layui-input dis" type="text" placeholder="" autocomplete="off"
              lay-verify="required" disabled>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">软&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</label>
          <div class="layui-input-inline">
            <input name="softwareName" class="layui-input dis" type="text" placeholder="" autocomplete="off"
              lay-verify="required" disabled>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle" hidden>
        <div class="layui-form-item clearfix" hidden>
          <label class="layui-form-label">版本</label>
          <div class="layui-input-inline">
            <input name="softwareVersion" class="layui-input dis" type="text" placeholder="" autocomplete="off"
              lay-verify="required" disabled>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本</label>
          <div class="layui-input-inline">
            <input name="softwareVersion" class="layui-input dis" type="text" placeholder="" autocomplete="off"
              lay-verify="required" disabled>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">主&nbsp;&nbsp;机&nbsp;&nbsp;名</label>
          <div class="layui-input-inline">
            <input name="hostName" class="layui-input dis" type="text" placeholder="" autocomplete="off"
              lay-verify="required" disabled>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">IP&nbsp;&nbsp;地&nbsp;&nbsp;址</label>
          <div class="layui-input-inline">
            <input name="ip" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">MAC地址</label>
          <div class="layui-input-inline">
            <input name="mac" class="layui-input dis" type="text" placeholder="" autocomplete="off"
              lay-verify="required" disabled>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item">
          <label class="layui-form-label">加&nbsp;&nbsp;密&nbsp;&nbsp;狗</label>
          <div class="layui-input-inline">
            <input name="encryption" class="layui-input" type="text" placeholder="" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">端&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;口</label>
          <div class="layui-input-inline">
            <input name="port" class="layui-input dis" type="text" placeholder="" autocomplete="off"
              lay-verify="required" disabled>
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <div class="fle">
        <div class="layui-form-item clearfix">
          <label class="layui-form-label">程序目录</label>
          <div class="layui-input-inline">
            <input name="programDirectory" class="layui-input" type="text" placeholder="" autocomplete="off"
              lay-verify="required">
          </div>
          <b class="star fl">*</b>
        </div>
      </div>
      <!--<div class="layui-form-item clearfix">-->
      <!--<label class="layui-form-label">系统</label>-->
      <!--<div class="layui-input-inline">-->
      <!--<input name="title" class="layui-input dis" type="text" placeholder="" autocomplete="off" lay-verify="required" disabled>-->
      <!--</div>-->
      <!--<b class="star fl">*</b>-->
      <!--</div>-->

    </div>
    <!--<div class="layui-form-item alignment clearfix">-->
    <!--<label class="layui-form-label">程序目录</label>-->
    <!--<div class="layui-input-inline">-->
    <!--<input name="title" class="layui-input dis" type="text" placeholder="" autocomplete="off" lay-verify="required" disabled>-->
    <!--</div>-->
    <!--<b class="star fl">*</b>-->
    <!--</div>-->


    <div class="basic-message clearfix">
      <div class="basic-message other">

      </div>
      <!--<div class="fle">-->
      <!--<div class="layui-form-item clearfix">-->
      <!--<label class="layui-form-label">守护程序</label>-->
      <!--<div class="layui-input-inline">-->
      <!--<input name="daemonPath" class="layui-input dis" type="text" placeholder="" autocomplete="off" lay-verify="required" disabled>-->
      <!--</div>-->
      <!--<b class="star fl">*</b>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="fle">-->
      <!--<div class="layui-form-item clearfix">-->
      <!--<label class="layui-form-label">配置文件</label>-->
      <!--<div class="layui-input-inline">-->
      <!--<input name="configPath" class="layui-input dis" type="text" placeholder="" autocomplete="off" lay-verify="required" disabled>-->
      <!--</div>-->
      <!--<b class="star fl">*</b>-->
      <!--</div>-->
      <!--</div>-->

    </div>


    <div class="layui-form-item alignment" style="margin-left: 9px">
      <label class="layui-form-label">许可文件</label>
      <div class="layui-input-block" style="display: flex">
        <input name="permit" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required"
          style="width: 592px;">
        <b class="star" style="margin-left: 10px">*</b>
      </div>
    </div>
    <div class="layui-form-item alignment" style="margin: 9px">
      <label class="layui-form-label">启动命令</label>
      <div class="layui-input-block">
        <el-input name="startCommand" class="layui-input" type="text" placeholder="" autocomplete="off"
          style="width: 592px;">
      </div>
    </div>

    <div class="layui-form-item layui-btn-sub">
      <div class="layui-input-block">
        <button class="layui-btn" lay-filter="editServiceSub" lay-submit="">确定</button>
        <button class="layui-btn cancel" type="button">取消</button>
      </div>
    </div>

  </form>
</div>


<!--鼠标滑过模板-->
<script id="mouseHov1" type="text/html">
    <div class="mouseHover">{{d.softwareName}}</div>
</script>
<!--鼠标滑过模板-->
<script id="mouseHov2" type="text/html">
    <div class="mouseHover">{{d.hostName}}</div>
</script>
<!-- 操作按钮 -->
<script id="tactics" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="infoBtn">详情</a>
</script>
<!--主页表格模板-->
<script type="text/html" id="barDemo">
    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.status == 1){ }}
    <i class="layui-icon success yes"></i>
    {{#  }else{ }}
    <i class="layui-icon fail no"></i>
    {{#  } }}
</script>
<!--软件弹框模板使用率-->
<script type="text/html" id="barDemo2">
    <!-- 这里同样支持 laytpl 语法，如： -->
    <!--{{#  console.log(d.useRate) }}-->
    {{#  if(d.useRate == 0 || d.useRate == null){ }}
    <ul class="fl" style="width: 250px;height: 28px;border: solid 2px #000000;background: gainsboro;display: flex;justify-content: center">
        {{#  for(var i=0;i<10;i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;border:solid 2px #000000;border-radius: 2px"></span>-->
        {{#  } }}
    </ul>
    {{#  }else if(d.useRate <= 50 && d.useRate > 0 ){ }}
    <ul class="fl" style="width: 250px;height: 28px;border: solid 2px #000000;background: gainsboro;display: flex;justify-content: center">
        {{#  for(var i=0;i<parseInt(d.useRate/10);i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px;background: #00CC00;"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;background: #00CC00;border:solid 2px #000000;border-radius: 2px"></span>-->
        {{#  } }}
        {{# var a = fomatFloat(d.useRate/10) }}
        <!--<span><span style="display: inline-block;width: {{a*2}}px;height: 20px;background: #00CC00"></span><span style="display: inline-block;width: {{20-a*2}}px;height: 20px;background: #000000"></span></span>-->
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px">
            <span style="display: inline-block;width: {{fomatFloat(d.useRate/10)*2.5}}px;height: 22px;background: #00CC00"></span>
            <span style="display: inline-block;width: {{25-fomatFloat(d.useRate/10)*2.5}}px;height: 22px;">
        </li>
        <!--<span style="border:solid 2px #000000;border-radius: 2px"><span style="display: inline-block;width: {{fomatFloat(d.useRate/10)*2}}px;height: 20px;background: #00CC00"></span><span style="display: inline-block;width: {{20-fomatFloat(d.useRate/10)*2}}px;height: 20px;"></span></span>-->
        {{#  for(var i=0;i<10-Math.ceil(d.useRate/10);i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;border:solid 2px #000000;border-radius: 2px"></span>-->
        {{#  } }}
    </ul>
    {{#  }else if(d.useRate < 80 && d.useRate > 50 ){ }}
    <ul class="fl" style="width: 250px;height: 28px;border: solid 2px #000000;background: gainsboro;display: flex;justify-content: center">
        {{#  for(var i=0;i<parseInt(d.useRate/10);i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px;background: #FF9933;"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;background: #FF9933;border:solid 2px #000000;border-radius: 2px"></span>-->
        <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
        {{#  } }}
        {{# var a = fomatFloat(d.useRate/10) }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px">
            <span style="display: inline-block;width: {{fomatFloat(d.useRate/10)*2.5}}px;height: 22px;background: #FF9933"></span>
            <span style="display: inline-block;width: {{25-fomatFloat(d.useRate/10)*2.5}}px;height: 22px;">
        </li>
        <!--<span><span style="display: inline-block;width: {{a*2}}px;height: 20px;background: #FF9933"></span><span style="display: inline-block;width: {{20-a*2}}px;height: 20px;background: #000000"></span></span>-->
        <!--<span style="border:solid 2px #000000;border-radius: 2px"><span style="display: inline-block;width: {{fomatFloat(d.useRate/10)*2}}px;height: 20px;background: #FF9933"></span><span style="display: inline-block;width: {{20-fomatFloat(d.useRate/10)*2}}px;height: 20px;"></span></span>-->
        {{#  for(var i=0;i<10-Math.ceil(d.useRate/10);i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;border:solid 2px #000000;border-radius: 2px"></span>-->
        <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
        {{#  } }}
    </ul>
    {{#  }else if(d.useRate < 100 && d.useRate >= 80 ){ }}
    <ul class="fl" style="width: 250px;height: 28px;border: solid 2px #000000;background: gainsboro;display: flex;justify-content: center">
        {{#  for(var i=0;i<parseInt(d.useRate/10);i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px;background: #FF0000;"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;background: #FF0000;border:solid 2px #000000;border-radius: 2px"></span>-->
        <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
        {{#  } }}
        {{# var a = fomatFloat(d.useRate/10) }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px">
            <span style="display: inline-block;width: {{fomatFloat(d.useRate/10)*2.5}}px;height: 22px;background: #FF0000"></span>
            <span style="display: inline-block;width: {{25-fomatFloat(d.useRate/10)*2.5}}px;height: 22px;">
        </li>
        <!--<span><span style="display: inline-block;width: {{a*2}}px;height: 20px;background: #FF0000"></span><span style="display: inline-block;width: {{20-a*2}}px;height: 20px;background: #000000"></span></span>-->
        <!--<span style="border:solid 2px #000000;border-radius: 2px"><span style="display: inline-block;width: {{fomatFloat(d.useRate/10)*2}}px;height: 20px;background: #FF0000"></span><span style="display: inline-block;width: {{20-fomatFloat(d.useRate/10)*2}}px;height: 20px;"></span></span>-->
        {{#  for(var i=0;i<10-Math.ceil(d.useRate/10);i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;border:solid 2px #000000;border-radius: 2px"></span>-->
        <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
        {{#  } }}
    </ul>
    {{#  }else if(d.useRate == 100){ }}
    <ul class="fl" style="width: 250px;height: 28px;border: solid 2px #000000;background: gainsboro;display: flex;justify-content: center">
        {{#  for(var i=0;i<10;i++){ }}
        <li style="border: solid 1px #ffffff;width: 25px;height: 24px;background: #FF0000;"></li>
        <!--<span style="display: inline-block;width: 20px;height: 20px;background: #FF0000;border:solid 2px #000000;border-radius: 2px"></span>-->
        {{#  } }}
    </ul>
    {{#  } }}
    <span class="fl" style="display: inline-block;width:50px;">
        {{#  if(d.useRate == null){ }}
        0%
        {{#  }else{ }}
        {{d.useRate}}%
        {{#  } }}
    </span>
</script>

<!--软件弹框模板-->
<script type="text/html" id="barDemo1">
    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.state == 1){ }}
    <i class="layui-icon success" style="font-size:25px;color: green;">&#xe617;</i>
    <!--<i class="layui-icon"  style="font-size:25px">&#xe63f;</i>-->
    <!--<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>-->
    {{#  }else{ }}
    <i class="layui-icon fail" style="font-size:25px;color: grey">&#xe617;</i>
    {{#  } }}
</script>

<!--策略相关-->
<div id="app" v-cloak>
  <el-dialog title="策略配置编辑" :visible.sync='showDialog' :before-close="handleClose" width="1140" class="changdf">
    <div class="littleTitle">
      <span class="ltitle">软件名称：<span>{{title.name}}</span></span>
      <span class="ltitle">版本：<span>{{title.ban}}</span></span>
      <span class="ltitle">机器名：<span>{{title.jiqi}}</span></span>
      <span class="ltitle">IP：<span>{{title.IP}}</span></span>
      <span class="ltitle">端口号：<span>{{title.duan}}</span></span>
    </div>
    <el-form ref="form" :model="formData" label-width="100px" :rules="rules">
      <el-form-item label="配置文件名称">
        <el-select v-model="formData.file" placeholder="请选择配置文件" @change="handleFlieChange">
          <el-option v-for="item in fileArr" :key='item.id' :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="模板名称">
        <el-select v-model="formData.templet" placeholder="请选择模板" @change="handleTempleChange">
          <el-option v-for="(item, index) in templetArr" :key='item.id' :label="item.name" :value="item.id">
            <span style="float: left">{{ item.name }}</span>
            <el-button v-if="index!=0" type="danger" class="deleteBtn button-delete"
              style="float: right; font-size: 12px; width: 62px; height: 20px; margin-top: 5px;text-align: center;line-height: 0px;"
              @click="deleteBtn(item.id)">删除</el-button>
          </el-option>
        </el-select>
      </el-form-item>
      <div style="background: transparent;margin-bottom: 20px; color: #fff;"><span v-show="formData.templet"
          class="clname" style="background: #1E9FFF">{{templateName}}</span></div>
      <div class="formFooter">
        <div class="setUser m-b-t">设置用户组:<el-button type="primary" @click="addUser"
            style='background: #1E9FFF;border:none;'>添加</el-button>
        </div>
        <div class='m-b-t none_width' v-for="(item,key,index) in formData.user" :key="item.id" :index="index"
          :class="item">
          <div @click="delUser(key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <el-input type='text' v-model="formData.user[key].name" placeholder="请输入英文用户组名称"
            :prop="'formData.user.' + index + '.name'"></el-input>
          <el-tree class="owntree" :props="props" :data="formData.user[key].tree" :ref="key"
            :style="{'z-index':(9999-parseInt(index))}" :default-checked-keys="formData.user[key].selectNodes"
            show-checkbox @check-change="handleCheckChange(key)" node-key="id">
          </el-tree>
          <el-input type='text' v-model="formData.user[key].treeNodeName" placeholder="" disabled></el-input>
        </div>
        <div class="setServerGroup">设置服务器组:<el-button type="primary" style='background: #1E9FFF;border:none;'
            @click="addServerGroup">添加</el-button>
        </div>
        <div v-for="(item,key,index) in formData.serverGroup" :key="item.id" :index="index" :class="item"
          class="none_width">
          <div @click="delServerGroup(key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <el-input type='text' v-model="formData.serverGroup[key].name" placeholder="请输入英文服务器组名称"></el-input>
          <el-select v-model="formData.serverGroup[key].member" multiple placeholder="— — 请选择 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,index) in server" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div class="setTacticsName">策略名称:
          <el-select v-model="formData.tactic" placeholder="— — 请选择 — —" style="margin-left:6px; width: 450px">
            <el-option v-for="(item,index) in formData.tactics" :key="item.id" :value="item.name">
            </el-option>
          </el-select>
          <el-button type="primary" @click="addTacticsName" style='background: #1E9FFF;border:none;'>添加</el-button>
        </div>
        <!-- 预留 -->
        <div v-for="(item,key,index) in formData.reserveTactics" :key="item.id" :index="index" class='num' :class="item">
          <div @click="delTacticsName(formData.reserveTactics,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.reserveTactics[key].name}}:</p>
          <el-select v-model="formData.reserveTactics[key].modular"
            @change='removal(formData.reserveTactics,formData.reserveTactics[key])' placeholder="— — 模块 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.modular" :key="item.id" :value="item.id" :label="item.name">
            </el-option>
          </el-select>
          <el-input type='text' v-model="formData.reserveTactics[key].num" style="margin-left:6px;"
            @change='removal(formData.reserveTactics,formData.reserveTactics[key])' placeholder="需保留的许可证数量"></el-input>
          <el-select v-model="formData.reserveTactics[key].type" @change="userShow(formData.reserveTactics[key])"
            placeholder="— — 类型 — —" style="margin-left:6px; width: 450px">
            <el-option v-for="(item,index) in formData.type" :key="item.type" :label="item.name" :value="item.type">
            </el-option>
          </el-select>

          <div v-show="formData.reserveTactics[key].show1" style="display: flex">
            <el-input type='text' v-model="formData.reserveTactics[key].treeNodeName" placeholder="" disabled
              style="margin-left:6px"></el-input>
            <el-tree class="owntree" :props="props" :data="formData.reserveTactics[key].tree" :ref="key+'a'"
              :style="{'z-index':(999-parseInt(index))}"
              :default-checked-keys="formData.reserveTactics[key].selectNodes" show-checkbox
              @check-change="handleCheckChange1(formData.reserveTactics,key+'a',formData.reserveTactics[key])"
              @check="handleCheck" node-key="id">

          </div>
          <div v-show="formData.reserveTactics[key].show2">
            <el-select v-model="formData.reserveTactics[key].tacticsServer"
              @change='removal(formData.reserveTactics,formData.reserveTactics[key])' placeholder="服务器"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,index) in server" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.reserveTactics[key].show3">
            <el-select v-model="formData.reserveTactics[key].tacticsUsers"
              @change='removal(formData.reserveTactics,formData.reserveTactics[key])' placeholder="用户组"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.user" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.reserveTactics[key].show4">
            <el-select v-model="formData.reserveTactics[key].tacticsServers"
              @change='removal(formData.reserveTactics,formData.reserveTactics[key])' placeholder="服务器组"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.serverGroup" :key="item.id" :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
        <!-- 授权使用 -->
        <div v-for="(item,key,index) in formData.authorizedUseTactics" :key="item.id" :index="index" class='num'
          :class="item">
          <div @click="delTacticsName(formData.authorizedUseTactics,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.authorizedUseTactics[key].name}}:</p>
          <el-select v-model="formData.authorizedUseTactics[key].modular"
            @change='removal(formData.authorizedUseTactics,formData.authorizedUseTactics[key])' placeholder="— — 模块 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.modular" :key="item.id" :value="item.id" :label="item.name">
            </el-option>
          </el-select>
          <el-select v-model="formData.authorizedUseTactics[key].type"
            @change="userShow(formData.authorizedUseTactics[key])" placeholder="— — 类型 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.type" :key="item.type" :label="item.name" :value="item.type">
            </el-option>
          </el-select>

          <div v-show="formData.authorizedUseTactics[key].show1" style="display: flex">
            <el-input type='text' v-model="formData.authorizedUseTactics[key].treeNodeName" placeholder="" disabled
              style="margin-left:6px"></el-input>
            <el-tree class="owntree" :props="props" :data="formData.authorizedUseTactics[key].tree" :ref="key+'d'"
              :style="{'z-index':(999-parseInt(index))}"
              :default-checked-keys="formData.authorizedUseTactics[key].selectNodes" show-checkbox
              @check-change="handleCheckChange1(formData.authorizedUseTactics,key+'d',formData.authorizedUseTactics[key])"
              @check="handleCheck" node-key="id">
            </el-tree>
          </div>

          <div v-show="formData.authorizedUseTactics[key].show2">
            <el-select v-model="formData.authorizedUseTactics[key].tacticsServer"
              @change='removal(formData.authorizedUseTactics,formData.authorizedUseTactics[key])' placeholder="服务器"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,index) in server" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.authorizedUseTactics[key].show3">
            <el-select v-model="formData.authorizedUseTactics[key].tacticsUsers"
              @change='removal(formData.authorizedUseTactics,formData.authorizedUseTactics[key])' placeholder="用户组"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.user" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.authorizedUseTactics[key].show4">
            <el-select v-model="formData.authorizedUseTactics[key].tacticsServers"
              @change='removal(formData.authorizedUseTactics,formData.authorizedUseTactics[key])' placeholder="服务器组"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.serverGroup" :key="item.id" :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div>


        </div>
        <!-- 授权使用所有模块 -->
        <div v-for="(item,key,index) in formData.authorizedUseAllModulesTactics" :key="item.id" :index="index" class='num'
          :class="item">
          <div @click="delTacticsName(formData.authorizedUseAllModulesTactics,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.authorizedUseAllModulesTactics[key].name}}:</p>
          <el-select v-model="formData.authorizedUseAllModulesTactics[key].type"
            @change="userShow(formData.authorizedUseAllModulesTactics[key])" placeholder="— — 类型 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.type" :key="item.type" :label="item.name" :value="item.type">
            </el-option>
          </el-select>
          <div v-show="formData.authorizedUseAllModulesTactics[key].show1" style="display: flex">
            <el-input type='text' v-model="formData.authorizedUseAllModulesTactics[key].treeNodeName" placeholder=""
              disabled style="margin-left:6px"></el-input>
            <el-tree class="owntree" :props="props" :data="formData.authorizedUseAllModulesTactics[key].tree"
              :ref="key+'g'" :style="{'z-index':(999-parseInt(index))}"
              :default-checked-keys="formData.authorizedUseAllModulesTactics[key].selectNodes" show-checkbox
              @check-change="handleCheckChange1(formData.authorizedUseAllModulesTactics,key+'g',formData.authorizedUseAllModulesTactics[key])"
              @check="handleCheck" node-key="id">
            </el-tree>
          </div>
          <div v-show="formData.authorizedUseAllModulesTactics[key].show2">
            <el-select v-model="formData.authorizedUseAllModulesTactics[key].tacticsServer"
              @change='removal(formData.authorizedUseAllModulesTactics,formData.authorizedUseAllModulesTactics[key])'
              placeholder="服务器" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,index) in server" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.authorizedUseAllModulesTactics[key].show3">
            <el-select v-model="formData.authorizedUseAllModulesTactics[key].tacticsUsers"
              @change='removal(formData.authorizedUseAllModulesTactics,formData.authorizedUseAllModulesTactics[key])'
              placeholder="用户组" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.user" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.authorizedUseAllModulesTactics[key].show4">
            <el-select v-model="formData.authorizedUseAllModulesTactics[key].tacticsServers"
              @change='removal(formData.authorizedUseAllModulesTactics,formData.authorizedUseAllModulesTactics[key])'
              placeholder="服务器组" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.serverGroup" :key="item.id" :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
        <!-- 禁止使用 -->
        <div v-for="(item,key,index) in formData.prohibitionOfUseTactics" :key="item.id" :index="index" class='num'
          :class="item">
          <div @click="delTacticsName(formData.prohibitionOfUseTactics,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.prohibitionOfUseTactics[key].name}}:</p>
          <el-select v-model="formData.prohibitionOfUseTactics[key].modular"
            @change='removal(formData.prohibitionOfUseTactics,formData.prohibitionOfUseTactics[key])'
            placeholder="— — 模块 — —" style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.modular" :key="item.id" :value="item.id" :label="item.name">
            </el-option>
          </el-select>
          <el-select v-model="formData.prohibitionOfUseTactics[key].type"
            @change="userShow(formData.prohibitionOfUseTactics[key])" placeholder="— — 类型 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.type" :key="item.type" :label="item.name" :value="item.type">
            </el-option>
          </el-select>

          <div v-show="formData.prohibitionOfUseTactics[key].show1" style="display: flex">
            <el-input type='text' v-model="formData.prohibitionOfUseTactics[key].treeNodeName" placeholder="" disabled
              style="margin-left:6px"></el-input>
            <el-tree class="owntree" :props="props" :data="formData.prohibitionOfUseTactics[key].tree" :ref="key+'e'"
              :style="{'z-index':(999-parseInt(index))}"
              :default-checked-keys="formData.prohibitionOfUseTactics[key].selectNodes" show-checkbox
              @check-change="handleCheckChange1(formData.prohibitionOfUseTactics,key+'e',formData.prohibitionOfUseTactics[key])"
              @check="handleCheck" node-key="id">
            </el-tree>
          </div>

          <div v-show="formData.prohibitionOfUseTactics[key].show2">
            <el-select v-model="formData.prohibitionOfUseTactics[key].tacticsServer"
              @change='removal(formData.prohibitionOfUseTactics,formData.prohibitionOfUseTactics[key])'
              placeholder="服务器" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,index) in server" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.prohibitionOfUseTactics[key].show3">
            <el-select v-model="formData.prohibitionOfUseTactics[key].tacticsUsers"
              @change='removal(formData.prohibitionOfUseTactics,formData.prohibitionOfUseTactics[key])'
              placeholder="用户组" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.user" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.prohibitionOfUseTactics[key].show4">
            <el-select v-model="formData.prohibitionOfUseTactics[key].tacticsServers"
              @change='removal(formData.prohibitionOfUseTactics,formData.prohibitionOfUseTactics[key])'
              placeholder="服务器组" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.serverGroup" :key="item.id" :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div>

        </div>
        <!-- 禁止使用所有模块 -->
        <div v-for="(item,key,index) in formData.prohibitionOfUseAllModulesTactics" :key="item.id" :index="index"
          class='num' :class="item">
          <div @click="delTacticsName(formData.prohibitionOfUseAllModulesTactics,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.prohibitionOfUseAllModulesTactics[key].name}}:</p>
          <el-select v-model="formData.prohibitionOfUseAllModulesTactics[key].type"
            @change="userShow(formData.prohibitionOfUseAllModulesTactics[key])" placeholder="— — 类型 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.type" :key="item.type" :label="item.name" :value="item.type">
            </el-option>
          </el-select>

          <div v-show="formData.prohibitionOfUseAllModulesTactics[key].show1" style="display: flex">
            <el-input type='text' v-model="formData.prohibitionOfUseAllModulesTactics[key].treeNodeName" placeholder=""
              disabled style="margin-left:6px"></el-input>
            <el-tree class="owntree" :props="props" :data="formData.prohibitionOfUseAllModulesTactics[key].tree"
              :ref="key+'f'" :style="{'z-index':(999-parseInt(index))}"
              :default-checked-keys="formData.prohibitionOfUseAllModulesTactics[key].selectNodes" show-checkbox
              @check-change="handleCheckChange1(formData.prohibitionOfUseAllModulesTactics,key+'f',formData.prohibitionOfUseAllModulesTactics[key])"
              @check="handleCheck" node-key="id">
            </el-tree>
          </div>

          <div v-show="formData.prohibitionOfUseAllModulesTactics[key].show2">
            <el-select v-model="formData.prohibitionOfUseAllModulesTactics[key].tacticsServer"
              @change='removal(formData.prohibitionOfUseAllModulesTactics,formData.prohibitionOfUseAllModulesTactics[key])'
              placeholder="服务器" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,index) in server" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.prohibitionOfUseAllModulesTactics[key].show3">
            <el-select v-model="formData.prohibitionOfUseAllModulesTactics[key].tacticsUsers"
              @change='removal(formData.prohibitionOfUseAllModulesTactics,formData.prohibitionOfUseAllModulesTactics[key])'
              placeholder="用户组" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.user" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.prohibitionOfUseAllModulesTactics[key].show4">
            <el-select v-model="formData.prohibitionOfUseAllModulesTactics[key].tacticsServers"
              @change='removal(formData.prohibitionOfUseAllModulesTactics,formData.prohibitionOfUseAllModulesTactics[key])'
              placeholder="服务器组" style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.serverGroup" :key="item.id" :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div>

        </div>
        <!-- 设置某功能模块许可证空闲时间 -->
        <div v-for="(item,key,index) in formData.setFreeTimeTactics" :key="item.id" :index="index" class='num'
          :class="item">
          <div @click="delTacticsName(formData.setFreeTimeTactics,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.setFreeTimeTactics[key].name}}:</p>
          <el-select v-model="formData.setFreeTimeTactics[key].modular"
            @change='removal(formData.setFreeTimeTactics,formData.setFreeTimeTactics[key])' placeholder="— — 模块 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.modular" :key="item.id" :value="item.id" :label="item.name">
            </el-option>
          </el-select>
          <el-input type='text' v-model="formData.setFreeTimeTactics[key].num"
            @change='removal(formData.setFreeTimeTactics,formData.setFreeTimeTactics[key])' style="margin-left:6px;"
            placeholder="以秒为单位"></el-input>
        </div>
        <!-- 设置所有功能模块许可证空闲时间 -->
        <div v-for="(item,key,index) in formData.setAllFreeTimeTactics" :key="item.id" :index="index" class='num'
          :class="item">
          <div @click="delTacticsName(formData.setAllFreeTimeTactics,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.setAllFreeTimeTactics[key].name}}:</p>
          <el-input type='text' v-model="formData.setAllFreeTimeTactics[key].num"
            @change='removal(formData.setAllFreeTimeTactics,formData.setAllFreeTimeTactics[key])'
            style="margin-left:6px;" placeholder="以秒为单位"></el-input>
        </div>
        <!-- 限定许可证使用数 -->
        <div v-for="(item,key,index) in formData.limitTheNumber" :key="item.id" :index="index" class='num' :class="item">
          <div @click="delTacticsName(formData.limitTheNumber,key)"
            style="background: #d54a3a;width: 24px;height: 6px;margin: 18px 10px 0 0;  min-width: 24px;"></div>
          <p>{{formData.limitTheNumber[key].name}}:</p>
          <el-select v-model="formData.limitTheNumber[key].modular"
            @change='removal(formData.limitTheNumber,formData.limitTheNumber[key])' placeholder="— — 模块 — —"
            style="margin-left:6px; width: 450px">
            <el-option v-for="(item,key,index) in formData.modular" :key="item.id" :value="item.id" :label="item.name">
            </el-option>
          </el-select>
          <el-input type='text' v-model="formData.limitTheNumber[key].num" style="margin-left:6px;"
            placeholder="限定许可使用数量"></el-input>
          <el-select v-model="formData.limitTheNumber[key].type" @change="userShow(formData.limitTheNumber[key])"
            placeholder="— — 类型 — —" style="margin-left:6px; width: 450px">
            <el-option v-for="(item,index) in formData.type" :key="item.type" :label="item.name" :value="item.type">
            </el-option>
          </el-select>

          <div v-show="formData.limitTheNumber[key].show1" style="display: flex">
            <el-input type='text' v-model="formData.limitTheNumber[key].treeNodeName" placeholder="" disabled
              style="margin-left:6px"></el-input>
            <el-tree class="owntree" :props="props" :data="formData.limitTheNumber[key].tree" :ref="key+'h'"
              :style="{'z-index':(999-parseInt(index))}"
              :default-checked-keys="formData.limitTheNumber[key].selectNodes" show-checkbox
              @check-change="handleCheckChange1(formData.limitTheNumber,key+'h',formData.limitTheNumber[key])"
              @check="handleCheck" node-key="id">
            </el-tree>
          </div>
          <div v-show="formData.limitTheNumber[key].show2">
            <el-select v-model="formData.limitTheNumber[key].tacticsServer"
              @change='removal(formData.limitTheNumber,formData.limitTheNumber[key])' placeholder="服务器"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,index) in server" :key="item.id" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.limitTheNumber[key].show3">
            <el-select v-model="formData.limitTheNumber[key].tacticsUsers"
              @change='removal(formData.limitTheNumber,formData.limitTheNumber[key])' placeholder="用户组"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.user" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
          <div v-show="formData.limitTheNumber[key].show4">
            <el-select v-model="formData.limitTheNumber[key].tacticsServers"
              @change='removal(formData.limitTheNumber,formData.limitTheNumber[key])' placeholder="服务器组"
              style="margin-left:6px; width: 450px">
              <el-option v-for="(item,key,index) in formData.serverGroup" :key="item.id" :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
    </el-form>
    <!-- <el-button @click="dialogVisible = false">取 消</el-button> -->
    <div class="footerBtn">
      <el-button type="primary" style='background: #1E9FFF;border:none;' @click="application()">应用</el-button>
      <el-button type="text" @click="save()" style="background:#1E9FFF;width:120px;color:white;border:none;">保存成模板
      </el-button>
      <el-button style="background:rgba(0,0,0,0);border: solid 1px #636363;color: #000" @click="closeBtn">取消
      </el-button>
      <el-button @click="resetBtn" style="background:rgba(0,0,0,0);border: solid 1px #636363;color: #000">重置
      </el-button>
    </div>
    </span>
  </el-dialog>
  <el-dialog custom-class="showInfo" title="策略配置详情" :visible.sync='showDetails.showInfo'>
    <div class="littleTitle">
      <span>软件名称：<span>{{showDetails.dataInfo.aplicationAndDaemon.softwareName}}</span></span>
      <span>版本：<span>{{showDetails.dataInfo.aplicationAndDaemon.softwareVersion}}</span></span>
      <span>机器名：<span>{{showDetails.dataInfo.aplicationAndDaemon.hostName}}</span></span>
      <span>IP：<span>{{showDetails.dataInfo.aplicationAndDaemon.ip}}</span></span>
      <span>端口号：<span>{{showDetails.dataInfo.aplicationAndDaemon.port}}</span></span>
    </div>
    <div class="conten">
      <div class="item" v-for="item in showDetails.dataInfo.daemonTemplateVOList">
        <div>配置文件名称: <span>{{item.name}}</span></div>
        <div v-if="item.templateVO">
          <div>模板名称: <el-input class="resetCss" placeholder="请输入内容" v-model="item.templateVO.name" :disabled="true">
            </el-input>
          </div>
          <div class="resetTop">用户组:</div>
          <div v-for="user in item.templateVO.templateUserGroupList">
            <el-input class="resetCss" placeholder="请输入内容" v-model="user.userGroupName" :disabled="true"></el-input>
            <el-input class="resetCss" style="width:200px!important" placeholder="请输入内容" v-model="user.userNames"
              :disabled="true"></el-input>
          </div>
          <div class="resetTop">服务器组:</div>
          <div v-for="serverGroup in item.templateVO.templateHardwareList">
            <el-input class="resetCss" placeholder="请输入内容" v-model="serverGroup.hardwareGroupName" :disabled="true">
            </el-input>
            <el-input class="resetCss" style="width:200px!important" placeholder="请输入内容"
              v-model="serverGroup.hardwareNames" :disabled="true"></el-input>
          </div>
          <div class="resetTop">策略:</div>
          <div v-for="strategy in item.templateVO.templateStrategyCategoryList">
            <div>
              {{strategy.categoryName}}:
              <el-input class="resetCss resetWidth" style='width: 120px!important;font-size: 12px'
                v-model="strategy.moduleName" v-if="strategy.moduleName" :disabled="true"></el-input>
              <el-input class="resetCss resetWidth" style='width: 60px!important;' v-model="strategy.parameterValue"
                v-if="strategy.parameterValue" :disabled="true"></el-input>
              <el-input class="resetCss resetWidth"
                v-model="strategy.type==0?'用户名':''||strategy.type==1?'用户组':''||strategy.type==2?'服务器':''||strategy.type==3?'服务器组':''"
                v-if="strategy.type" :disabled="true"></el-input>
              <el-input class="resetCss resetWidth" v-model="strategy.typeValueName" v-if="strategy.typeValueName"
                :disabled="true"></el-input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <el-button type="primary" @click="showDetails.showInfo = false">确 定</el-button>
      <el-button @click="showDetails.showInfo = false"
        style="background: #fff;border: 1px solid #4f4f65;color: #000;">取 消</el-button>
    </div>
  </el-dialog>
</div>
<!--修改密码-->
@@include("../tpl/updataPassword.html")
<!--include "./../../../components/footer/footer.html"-->
<!--<script src="mockData/licenceManageMock.js"></script>-->
<script src="../../../public/static/echarts/echarts.js"></script>
<script src="./../../../assets/js/ajaxSetup.js"></script>
<!-- <script src="js/textData.js"></script> -->
<script src="js/licenceManage.js"></script>
<script src="js/tactics.js"></script>
<link rel="stylesheet" href="style/licenceManage.css">
<script>
  //取小数后面第一位数字
  function fomatFloat(num) {
    return num.toFixed(1).split(".")[num.toFixed(1).split(".").length - 1]
  }
</script>

</body>

</html>