<!--资源授权管理-->
<!--<script src="../../../assets/js/help.js"></script>-->
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->
<link rel="stylesheet" href="./style/dialog.css">
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-content" style="overflow: visible;">
    <div class="left-content">
      <div id="treeList"></div>
    </div>
    <div class="layui-left" style="float: right;width:calc(100% - 240px)">
      <div class="clearfix">
        <div class="fl">
          <!--搜索-->
          @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer1", "input": "index-footer1","icon":
          "icon-footer1" })
        </div>
        <!--操作按钮-->
        <div class="main-btn fr">
          <button class="layui-btn layui-btn-sm layui-btn-normal new-build">新建</button>
          <!-- <button class="layui-btn layui-btn-sm layui-btn-normal edit-build">编辑</button> -->
          <button class="layui-btn layui-btn-sm layui-btn-normal del-resource button-delete">删除</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal downloadTemplate">下载导入模板</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal importAuthorization">导入</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal exportAuthorization"
            style="margin-left:10px">导出</button>
        </div>
      </div>

      <!--主体左侧-->
      <!-- <div class="main-left clearfix"> -->

      <!--表格数据-->
      <div class="main-form" style="width:100%;">
        <table class="layui-hide" id="resourceList" lay-filter="demo"></table>
        <div id="resourcePage"></div>
      </div>
      <!--</div>-->
    </div>
    <div class="layui-right" style="float: right;width:calc(100% - 240px);display: none">
      <!--搜索-->
      @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer4", "input": "index-footer4","icon":
      "icon-footer4" })
      <div id="main" style="width: 100%;height:400px;text-align: center"></div>
    </div>


  </div>
</div>

<!--新建弹框-->
<div class="layui-content-main" style="display: none;">
  <!--第一页-->
  <div class="layui-user">
    <div class="layui-tab">
      <div>
        <ul class="layui-tab-title">
          <li class="layui-this">用户</li>
          <li>部门</li>
          <li>已选</li>
        </ul>
      </div>

      <div class="layui-tab-content" style="padding: 20px 60px;">
        <div class="layui-tab-item layui-show">
          <!--左边树状-->
          <div class="layui-department-tab-left fl departmentColor">
            <ul id="demo1"></ul>
          </div>
          <!--右边具体-->
          <div class="layui-department-tab-left fl" style="text-align: center">
            <table class="layui-hide" id="tab1" lay-filter="tab1"></table>

            <!--<p>全部选中</p>-->
            <!--<p>全部删除</p>-->
            <!--<select multiple class="show-option layui-input userSelect">-->
            <!--&lt;!&ndash;<option value="">sadf</option>&ndash;&gt;-->
            <!--&lt;!&ndash;<option>asdf</option>&ndash;&gt;-->
            <!--</select>-->
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-user-next">下一步</button>
        </div>
        <div class="layui-tab-item clearfix">
          <!--左边树状-->
          <div class="layui-department-tab-left departmentColor" style="width: 460px;">
            <ul id="demo2"></ul>
          </div>
          <!--右边具体-->
          <!--<div class="layui-department-tab-left fl" style="text-align: center">-->
          <!--&lt;!&ndash;<table class="layui-hide" id="tab2" lay-filter=""></table>&ndash;&gt;-->
          <!--&lt;!&ndash;<p>全部选中</p>&ndash;&gt;-->
          <!--&lt;!&ndash;<p>全部删除</p>&ndash;&gt;-->
          <!--&lt;!&ndash;<select multiple class="show-option layui-input departmentSelect">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<option value="">sadf</option>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<option>asdf</option>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;</select>&ndash;&gt;-->
          <!--</div>-->
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-user-next">下一步</button>
        </div>
        <div class="layui-tab-item">
          <div class="layui-department-tab" style="text-align: center">
            <table class="layui-hide" id="tab2" lay-filter="tab2"></table>
            <!--<p>全部选中</p>-->
            <!--<p>全部删除</p>-->
            <!--<select multiple class="show-option layui-input">-->
            <!--<option value="">sadf</option>-->
            <!--<option>asdf</option>-->
            <!--</select>-->
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-user-next">下一步</button>

        </div>
      </div>
    </div>
  </div>
  <!--第二页-->
  <div class="layui-software" style="display: none;">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">软件</li>

      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show" style="width: 100%">
          <div class="clearfix">
            <div class="fl">
              @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer2", "input": "index-footer2","icon":
              "icon-footer2" })
            </div>
            <div class="fl">
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">授权时间</label>
                  <div class="layui-input-inline" style="width: 150px">
                    <input class="layui-input" id="test2" type="text" placeholder=" - " style="width: 150px">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div style="display:inline-block;">
            <table class="layui-hide" id="addSoftware" lay-filter="demo"></table>
            <div id="addSoftwarePage"></div>

            <!--永久-->
            <!--<form class="layui-form" action="">-->
            <!--<div class="layui-form-item">-->
            <!--<div class="layui-input-block">-->
            <!--<input type="checkbox" name="like" title="永久" value="2099-01-01">-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-software-previous">上一步</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-software-next">下一步</button>
        </div>

      </div>
    </div>

    <!--<br>-->

  </div>
  <!--第三页-->
  <div class="layui-equipment" style="display: none">
    <div class="layui-tab">
      <div>
        <ul class="layui-tab-title">
          <li class="layui-this setSelected ResourcesGroup">资源组</li>
          <li class="setSelected Class">类型</li>
          <li>已选</li>
        </ul>
      </div>

      <div class="layui-tab-content" style="padding: 20px 60px;">
        <div class="layui-tab-item layui-show">
          <!--左边树状-->
          <div class="layui-department-tab-left fl departmentColor">
            <ul id="demo3"></ul>
          </div>
          <!--右边具体-->
          <div class="layui-department-tab-left fl" style="text-align: center">
            <table class="layui-hide" id="tab3" lay-filter="tab3" lay-filter="demo"></table>
            <!--<p>全部选中</p>-->
            <!--<p>全部删除</p>-->
            <!--<select multiple class="show-option layui-input">-->
            <!--<option value="">sadf</option>-->
            <!--<option>asdf</option>-->
            <!--</select>-->
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-equipment-previous">上一步</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal newCompleteOver">完成</button>
        </div>
        <div class="layui-tab-item clearfix">
          <!--左边树状-->
          <div class="layui-department-tab-left fl departmentColor">
            <ul id="demo4"></ul>
          </div>
          <!--右边具体-->
          <div class="layui-department-tab-left fl" style="text-align: center">
            <table class="layui-hide" id="tab4" lay-filter="tab4" lay-filter="demo"></table>
            <!--<p>全部选中</p>-->
            <!--<p>全部删除</p>-->
            <!--<select multiple class="show-option layui-input">-->
            <!--<option value="">sadf</option>-->
            <!--<option>asdf</option>-->
            <!--</select>-->
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-equipment-previous">上一步</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal newCompleteOver">完成</button>
        </div>
        <div class="layui-tab-item">

          <div class="layui-department-tab" style="text-align: center">
            <table class="layui-hide" id="tab5" lay-filter="tab5"></table>
            <!--<p>全部选中</p>-->
            <!--<p>全部删除</p>-->
            <!--<select multiple class="show-option layui-input">-->
            <!--<option value="">sadf</option>-->
            <!--<option>asdf</option>-->
            <!--</select>-->
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal newCompleteOver">完成</button>

        </div>
      </div>
    </div>
  </div>

</div>

<!--编辑弹框-->
<div class="layui-content-edit" style="display: none;">
  <!--第一页-->
  <div class="layui-user">
    <div class="layui-tab">
      <div>
        <ul class="layui-tab-title">
          <li class="layui-this">已选</li>
        </ul>
      </div>

      <div class="layui-tab-content" style="padding: 20px 60px;">

        <div class="layui-tab-item layui-show">
          <div class="layui-department-tab" style="text-align: center">
            <table class="layui-hide" id="tab6" lay-filter="tab6"></table>
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-user-next-edit">下一步</button>

        </div>
      </div>
    </div>
  </div>
  <!--第二页-->
  <div class="layui-software" style="display: none;">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">软件</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show" style="width: 100%">
          <div class="clearfix">
            <div class="fl">
              @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer3", "input": "index-footer3","icon":
              "icon-footer3" })
            </div>
            <div class="fr">
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">授权时间</label>
                  <div class="layui-input-inline" style="width: 150px">
                    <input class="layui-input" id="test3" type="text" placeholder=" - " style="width: 150px">
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div style="display:inline-block;">
            <table class="layui-hide" id="editSoftware" lay-filter="demo"></table>
            <div id="editSoftwarePage"></div>


          </div>
          <!--<br>-->
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-software-previous-edit">上一步</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-software-next-edit">下一步</button>
        </div>
      </div>
    </div>

  </div>
  <!--第三页-->
  <div class="layui-equipment" style="display: none">
    <div class="layui-tab">
      <div>
        <ul class="layui-tab-title">
          <li class="layui-this setSelected ResourcesGroup">资源组</li>
          <li class="setSelected Class">类型</li>
          <li>已选</li>
        </ul>
      </div>

      <div class="layui-tab-content" style="padding: 20px 60px;">
        <div class="layui-tab-item layui-show">
          <!--左边树状-->
          <div class="layui-department-tab-left fl departmentColor">
            <ul id="demo5"></ul>
          </div>
          <!--右边具体-->
          <div class="layui-department-tab-left fl" style="text-align: center">
            <table class="layui-hide" id="tab7" lay-filter="tab7" lay-filter="demo"></table>

          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-equipment-previous-edit">上一步</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal editCompleteOver">完成</button>
        </div>
        <div class="layui-tab-item clearfix">
          <!--左边树状-->
          <div class="layui-department-tab-left fl departmentColor">
            <ul id="demo6"></ul>
          </div>
          <!--右边具体-->
          <div class="layui-department-tab-left fl" style="text-align: center">
            <table class="layui-hide" id="tab8" lay-filter="tab8" lay-filter="demo"></table>
          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal layui-equipment-previous-edit">上一步</button>
          <button class="layui-btn layui-btn-sm layui-btn-normal editCompleteOver">完成</button>
        </div>
        <div class="layui-tab-item">

          <div class="layui-department-tab" style="text-align: center">
            <table class="layui-hide" id="tab9" lay-filter="tab9"></table>

          </div>
          <button class="layui-btn layui-btn-sm layui-btn-normal editCompleteOver">完成</button>

        </div>
      </div>
    </div>
  </div>

</div>

<div id="app">
  <el-dialog class="resDialog" title="新建" :visible.sync="newBuild" :before-close="handleClose">
    <div class="box">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="用户" name="user">
          <el-tree class="erTree" ref="tree" :data="trees" show-checkbox node-key="id" @check="handleNode"
            :props="defaultProps" :expand-on-click-node="autoNode">
          </el-tree>
        </el-tab-pane>
        <el-tab-pane label="部门" name="org">
          <el-tree class="erTree" ref="tree1" :data="trees" node-key="id" @node-click="handleNodeClick"
            :props="defaultProps" highlight-current :expand-on-click-node="autoNode">
            <span class="el-tree-node__label" slot-scope="{ node, data }">
              <span>
                  <i :class="node.icon"></i>{{ node.label }}
              </span>
            </span>
          </el-tree>
        </el-tab-pane>
      </el-tabs>
    </div>
    <div class="box tableBox">
      <div class="tableBoxHeade">软件</div>
      <div class="options">
        <el-input class="searchInput" placeholder="搜索" v-model="search"
                  @keyup.enter.native="handleSearch">
          <i slot="suffix" class="el-input__icon el-icon-close ownInputClose" @click='handleClearSearch'></i>
        </el-input>
        <el-button class="searchBtn" type="primary" size="small" @click="handleSearch">搜索</el-button>
        <span>授权时间:</span>
        <el-date-picker style="width: 200px;" v-model="date" type="date" placeholder="选择日期" format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd">
        </el-date-picker>
      </div>
      <el-table border height="420" :header-cell-style="{background:'#F5F5F5'}" :data="tableData" style="width: 100%" :default-sort="{prop: 'softwareName, softwareVersionName, applicationClassficationName', order: 'descending'}">
        <el-table-column label="选择">
          <template slot-scope="scope">
            <el-radio @change="handleSoftware" v-model="radio" :label="scope.row">&nbsp;</el-radio>
          </template>
        </el-table-column>
        <el-table-column prop="softwareName" label="名称" sortable show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="softwareVersionName" label="版本" sortable show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="applicationClassficationName" label="分类" sortable show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="linkName" label="桌面类型" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="systemName" label="运行系统" show-overflow-tooltip>
        </el-table-column>
      </el-table>
    </div>
    <div class="box">
      <el-tabs v-model="activeName1" @tab-click="handleClickTab">
        <el-tab-pane label="资源组" name="group">
          <el-tree class="erTree" ref="tree2" :data="resTree" node-key="id" @node-click="handleGroup"
            :props="defaultProps" :expand-on-click-node="autoNode">
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span>
                  <i :class="node.icon"></i>{{ node.label }}
              </span>
          </span>
          </el-tree>
        </el-tab-pane>
        <el-tab-pane label="类型" name="single">
          <el-tree class="erTree" ref="tree3" :data="resTree" node-key="id" @node-click="handleDNode"
            :props="defaultProps" highlight-current :expand-on-click-node="autoNode">
          </el-tree>
        </el-tab-pane>
      </el-tabs>
    </div>


    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="saveBtn">完 成</el-button>
    </span>
  </el-dialog>
</div>
<div id="shebeidialog" style="display:none">
  <p class="title"></p>
  <table class='shebeitable'>
      <thead>
          <tr>
              <th>名称</th>
              <th>IP（外网）</th>
              <th>MAC地址（外网）</th>
              <th>系统</th>
              <th>桌面类型</th>
          </tr>
      </thead>
      <tbody class="xqtbody">
          <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr> -->
      </tbody>
  </table>
</div>



<!--修改密码-->
@@include("../tpl/updataPassword.html")

<!--include "./../../../components/footer/footer.html"-->

<!--用户模板-->
<script id="barDemo1" type="text/html">
    {{# if(d.authType == "user"){ }}
    <div>{{d.realName}}</div>
    {{# }else{ }}
    <div class="department" onmouseover="fn1('{{d.userId}}',$(this))" onmouseout="closeIndex()">{{d.realName}}</div>
    {{# } }}
</script>
<!--设备/组模板-->
<script id="barDemo2" type="text/html">
    {{# if(d.hardwareType == "single"){ }}
    <div>{{d.hardwareName}}</div>
    {{# }else{ }}
    <div class="department" onmouseover="fn2('{{d.hardwareId}}',$(this))" onmouseout="closeIndex()">{{d.hardwareName}}</div>
    {{# } }}
</script>
<!--过期时间模板-->
<script id="barDemo3" type="text/html">
    {{# if(d.authDate <= Date.now()){ }}
        <div style="color:red;">{{ layui.laytpl.toDateString(d.authDate) }}</div>
    {{# }else{ }}
        <div>{{ layui.laytpl.toDateString(d.authDate) }}</div>
    {{# } }}
</script>
<!--弹框单选框模板-->
<script type="text/html" id="radioTpl">
    <!--<input type="radio" name="sexRadio" value="{{d.id}}" title=" " lay-filter="radiodemo" {{d.id=="10002"?"checked":""}}>-->
    <input type="radio" name="sexRadio" value="{{d.id}}" title=" " lay-filter="radiodemo">
</script>

<script type="text/html" id="radioTpl1">
    <input type="radio" name="groupRadio" value="{{d.name}}" id="{{d.id}}" title="" lay-filter="radiodemo1">
</script>
<script type="text/html" id="radioTpl2">
    <input type="radio" name="classRadio" value="{{d.name}}" id="{{d.id}}" title="" lay-filter="radiodemo2">
</script>


<link rel="stylesheet" href="style/resourceAuthorization.css">
<script src="../../../public/static/echarts/echarts.min.js"></script>
<!--<script src="mockData/resourceAuthorizationMock.js"></script>-->
<script src="./js/resource.js"></script>
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="js/resourceAuthorization.js"></script>


</body>

</html>
<script>
  var tipIndex
  function fn1(d, DOM) {
    layui.use(['layer'], function () {
      var layer = layui.layer;
      (function (d) {
        $.ajax({
          url: url + ":9002/authorization/getUserListByOrgId",
          type: "post",
          async: true,
          data: { orgId: d },
          success: function (data) {
            // console.log(JSON.stringify(data))
            if (data.retcode == 200) {
              if (data.retdata.length > 0) {
                var arr = new Array;
                for (let i = 0; i < data.retdata.length; i++) {
                  arr.push(data.retdata[i].userName)
                }
                arr = arr.toString();
                // layer.tips(arr,DOM,{
                //     // type: 4,
                //     // content: [arr, DOM], //数组第二项即吸附元素选择器或者DOM
                //     closeBtn:1,
                //     time:0
                // });

                tipIndex = layer.tips(arr, DOM, {
                  tips: [2, '#FF5722'],
                  tipsMore: false,
                  time: 0,
                  closeBtn: 1
                })
              }

            }
            else if (data.retcode == 400) {
              layer.msg(data.retmsg, {
                icon: 2,
                closeBtn: 1
              })
            }
          },
          error: function (data) {
            console.log(JSON.stringify(data))
          }
        })

      })(d);

    })
  };
  function fn2(d, DOM) {

    layui.use(['layer'], function () {
      var layer = layui.layer;
      (function (d) {
        $.ajax({
          url: url + ":9002/authorization/getHardwareList",
          type: "post",
          async: true,
          data: { groupId: d },
          success: function (data) {
            // console.log(JSON.stringify(data))
            if (data.retcode == 200) {
              if (data.retdata.length > 0) {
                var arr = new Array;
                for (let i = 0; i < data.retdata.length; i++) {
                  arr.push(data.retdata[i].name)
                }
                arr = arr.toString()
                // layer.tips(arr,DOM,{
                //     // type: 4,
                //     // content: [arr, DOM], //数组第二项即吸附元素选择器或者DOM
                //     closeBtn:1,
                //     time:0
                // });
                // console.log(arr)


                tipIndex = layer.tips(arr, DOM, {
                  tips: [2, '#FF5722'],
                  tipsMore: false,
                  time: 0,
                  closeBtn: 1
                })
              }

            }
            else if (data.retcode == 400) {
              layer.msg(data.retmsg, {
                icon: 2,
                closeBtn: 1
              })
            }
          },
          error: function (data) {
            console.log(JSON.stringify(data))
          }
        })

      })(d);

    })
  };
  function closeIndex() {
    // layer.close(layer.index)
    layer.close(tipIndex)
  }

</script>