<!--资源计费-->

<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-content">


        <!--include "./../tpl/search.html"-->

        <!--主体详情-->
        <div class="main-nav">
            <div class="top clearfix">
                <!--表单-->
                <div class="form-nav">
                    <form class="layui-form main-form" action="" >
                        <!--选框1-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">软件</label>
                            <div class="layui-input-inline">
                                <select name="city" lay-verify="required">
                                    <option value=""></option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                        <!--选框2-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">模块</label>
                            <div class="layui-input-inline">
                                <select name="city" lay-verify="required">
                                    <option value=""></option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                        <!--选框3-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">组织</label>
                            <div class="layui-input-inline">
                                <select name="city" lay-verify="required">
                                    <option value=""></option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                        <!--时间4-->
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">日期范围</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="test6" type="text" placeholder=" - ">
                                </div>
                            </div>
                        </div>
                        <!--选框5-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <select name="city" lay-verify="required">
                                    <option value=""></option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <!--表格按钮-->
                <div class="table-data fl">
                    <!--按钮-->
                    <div class="main-btn">
                        <button class="layui-btn layui-btn-sm layui-btn-normal">导出</button>
                        <button class="layui-btn layui-btn-sm layui-btn-normal">计费管理</button>
                    </div>

                    <!--<div style="display: inline-block">-->
                    <!--表格数据-->
                    <table class="layui-hide" id="test"></table>
                    <!--</div>-->

                </div>
                <!--树状图-->
                <div class="tree">
                    <ul id="demo"></ul>
                </div>
            </div>


            <!--饼图-->
            <div class="pie-picture" style="display: flex;">
                <div id="pie1" class="" style="width: 520px;height: 400px;"></div>
                <div id="pie2" class="" style="width: 520px;height: 400px;"></div>
            </div>



        </div>

    </div>
</div>


<!--include "./../../../components/footer/footer.html"-->


<link rel="stylesheet" href="style/resourceBilling.css">
<script src="mockData/resourceBillingMock.js"></script>
<script src="../../../public/static/echarts/echarts.js"></script>
<script>

    (function () {
        //JavaScript代码区域
        layui.use('element', function() {
            var element = layui.element;
            //日期
            var laydate = layui.laydate;
            // 表格
            var table = layui.table;
            //日期范围
            laydate.render({
                elem: '#test6'
                ,range: true//中间分隔符
            });
            table.render({
                elem: '#test'
                ,url:'/mock/table'
                ,method:'post'
                ,cols: [[
                    {field:'id', width:'130', title: '用户'}
                    ,{field:'userName', width:'180',title: '软件'}
                    ,{field:'sex', width:'160',title: '版本'}
                    ,{field:'city', width:'180',title: '模块'}
                    ,{field:'experience', width:'130',title: '使用时长'}
                    ,{field:'classify', width:'150',title: '费用'}
                ]]
                ,page:{
                    layout: ['prev', 'page', 'next', 'skip']
                }
            });
        });
        //树状图
        layui.tree({
            elem: '#demo' //传入元素选择器
            ,nodes: [{ //节点
                name: '父节点1'
                ,spread:true//是否为展开状态
                ,children: [{
                    name: '子节点11',
                },{
                    name: '子节点12'
                }]
            },{
                name: '父节点2（可以点左侧箭头，也可以双击标题，啦啦啦啦啦啦啦啦啦啦啦）'
                ,children: [{
                    name: '子节点21'
                    ,children: [{
                        name: '子节点211'
                    }]
                }]
            }]
        });
    })()

</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('pie1'));
    var myChart2 = echarts.init(document.getElementById('pie2'));

    // 指定图表的配置项和数据
    option1 = {
        title : {
            text: '某站点用户访问来源',
            // subtext: '纯属虚构',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        // labelLine:{
        //     show:false
        // },

        legend: {
            orient: 'vertical',
            left: 'right',
            top:'25%',
            data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎','我们都是']
        },
        series : [

            {
                name: '使用人数',
                type: 'pie',
                radius : '40%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'直接访问'},
                    {value:310, name:'邮件营销'},
                    {value:234, name:'联盟广告'},
                    {value:135, name:'视频广告'},
                    {value:1548, name:'搜索引擎'},
                    {value:1548, name:'我们都是'}
                ],
                // labelLine:{
                //     show:false,
                // },
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    option2 = {
        title : {
            text: '某站点用户访问来源',
            // subtext: '纯属虚构',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        label: {
            normal: {
                position: 'inner',
                show:true,
            }
        },
        legend: {
            orient: 'vertical',
            left: 'right',
            top:'25%',
            data: ['我们','你们','大家','视频广告','搜索引擎','我们都是']
        },
        series : [
            {
                name: '使用人数',
                type: 'pie',

                radius : '40%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'我们'},
                    {value:310, name:'你们'},
                    {value:234, name:'大家'},
                    {value:135, name:'视频广告'},
                    {value:1548, name:'搜索引擎'},
                    {value:1548, name:'我们都是'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);
    myChart2.setOption(option2);
</script>
</body>
</html>