

<!--资源审批流程-->

<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->


<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-content">
        <!--用户审批-->

        <div class="details clearfix">
            <div class="details-son fl">
                <p>
                    user1的申请
                    <button class="layui-btn layui-btn-xs layui-btn-normal aa">迷你按钮</button>
                </p>
                <p>
                    <span>软件：<span>sdafasd</span></span>
                    <span style="margin-left: 45px">版本：<span>5000.10</span></span>
                </p>
                <p>
                    模块：<span>sdafasd</span>
                </p>
                <p style="margin-top: 15px">
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p><p>
                申请时间：<span>sdafasd</span>
            </p>

            </div>
            <div class="details-son fl">
                <p>
                    user1的申请
                    <button class="layui-btn layui-btn-xs layui-btn-normal">迷你按钮</button>
                </p>
                <p>
                    <span>软件：<span>sdafasd</span></span>
                    <span style="margin-left: 45px">版本：<span>5000.10</span></span>
                </p>
                <p>
                    模块：<span>sdafasd</span>
                </p>
                <p style="margin-top: 15px">
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p><p>
                申请时间：<span>sdafasd</span>
            </p>

            </div>
            <div class="details-son fl">
                <p>
                    user1的申请
                    <button class="layui-btn layui-btn-xs layui-btn-normal">迷你按钮</button>
                </p>
                <p>
                    <span>软件：<span>sdafasd</span></span>
                    <span style="margin-left: 45px">版本：<span>5000.10</span></span>
                </p>
                <p>
                    模块：<span>sdafasd</span>
                </p>
                <p style="margin-top: 15px">
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p>
                <p>
                    申请时间：<span>sdafasd</span>
                </p><p>
                申请时间：<span>sdafasd</span>
            </p>

            </div>
        </div>



        <!--主体部分-->
        <div class="layui-main clearfix">
            <div style="display: flex;">
                <!--搜索框-->
                <!--include "./../tpl/search.html"-->
                <div class="layui-button" style="margin-left: 200px;line-height: 38px">
                    <button class="layui-btn layui-btn-sm layui-btn-normal new-build-process">新建流程</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal">导出</button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal">导入</button>
                </div>
            </div>

            <div class="layui-left fl">
                <div style="display: inline-block">
                    <table class="layui-hide" id="test"></table>
                </div>
            </div>
            <!--Tj&9Z9PP6T-->
            <!--新建流程-->
            <div class="layui-right fl" style="margin-top: 35px;margin-left: 40px;display: none">
                <form class="layui-form" action="">
                        <div class="layui-form-item clearfix">
                            <label class="layui-form-label">选择申请人</label>
                            <div class="layui-input-inline">
                                <input name="title" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title">
                            </div>
                            <b class="add fl">+</b>
                        </div>
                        <div class="layui-form-item clearfix">
                            <label class="layui-form-label">选择一级审批人</label>
                            <div class="layui-input-inline">
                                <input name="title" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title">
                            </div>
                            <b class="add fl">+</b>
                        </div>
                        <div class="layui-form-item clearfix">
                            <label class="layui-form-label">一级代理审批人</label>
                            <div class="layui-input-inline">
                                <input name="title" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title">
                            </div>
                            <b class="add fl">+</b>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">审批时效</label>
                            <div class="layui-input-inline">
                                <select name="interest" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">失效处理</label>
                            <div class="layui-input-inline">
                                <select name="interest" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item clearfix">
                            <label class="layui-form-label">选择二级审批人</label>
                            <div class="layui-input-inline">
                                <input name="title" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title">
                            </div>
                            <b class="add fl">+</b>
                        </div>
                        <div class="layui-form-item clearfix">
                            <label class="layui-form-label">二级代理审批人</label>
                            <div class="layui-input-inline">
                                <input name="title" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="title">
                            </div>
                            <b class="add fl">+</b>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">审批时效</label>
                            <div class="layui-input-inline">
                                <select name="interest" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">失效处理</label>
                            <div class="layui-input-inline">
                                <select name="interest" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0">写作</option>
                                    <option value="1">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="demo1" lay-submit="">确定</button>
                                <button class="layui-btn">取消</button>
                            </div>
                        </div>
                    </form>
            </div>

        </div>





    </div>
</div>
<!--加号弹框-->
<div class="layui-tab" style="display: none">
    <div>
        <ul class="layui-tab-title">
            <li class="layui-this">用户</li>
            <li>部门</li>
            <li>已选</li>
        </ul>
        @@include("../../admin/tpl/search-btn.html", { "btn": "index-footer3", "input": "index-footer4" })
    </div>

    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <!--左边树状-->
            <div class="layui-department-tab-left fl">
                <ul id="demo2"></ul>
            </div>
            <!--右边具体-->
            <div class="layui-department-tab-left fl" style="text-align: center">
                <p>全部选中</p>
                <p>全部删除</p>
            </div>
            <button class="layui-btn layui-btn-sm layui-btn-normal">确定</button>
        </div>
        <div class="layui-tab-item clearfix">
            <!--左边树状-->
            <div class="layui-department-tab-left fl">
                <ul id="demo1"></ul>
            </div>
            <!--右边具体-->
            <div class="layui-department-tab-left fl" style="text-align: center">
                <p>全部选中</p>
                <p>全部删除</p>
            </div>
            <button class="layui-btn layui-btn-sm layui-btn-normal">确定</button>
        </div>
        <div class="layui-tab-item">


            <div class="layui-department-tab" style="text-align: center">
                <p>全部选中</p>
                <p>全部删除</p>
            </div>
            <button class="layui-btn layui-btn-sm layui-btn-normal">确定</button>

        </div>
    </div>
</div>

<!--include "./../../../components/footer/footer.html"-->

<link rel="stylesheet" href="style/resourceProcess.css">
<script src="mockData/resourceProcessMock.js"></script>
<script>

    (function () {
        //JavaScript代码区域
        layui.use('element', function() {
            var element = layui.element
                ,form = layui.form
                ,table = layui.table;
            form.render();
            table.render({
                elem: '#test'
                ,url:'/mock/table1'
                ,method:'post'
                ,cols: [[
                    {field:'id', title: '域名',width:150,sort:'true'}
                    ,{field:'userName', title: '类别',width:150}
                    ,{field:'sex', title: '主机IP地址',width:150}
                    ,{field:'city', title: '从机IP地址',width:150}
                    ,{field:'sign', title: '描述',width:150}
                ]]
                ,page:{
                    layout: ['prev', 'page', 'next', 'skip']
                }
            });
            //监听工具条
            table.on('tool(demo)', function(obj){
                var data = obj.data;
                if(obj.event === 'detail'){
                    layer.msg('ID：'+ data.id + ' 的查看操作');
                } else if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        obj.del();
                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    layer.alert('编辑行：<br>'+ JSON.stringify(data))
                }
            });
            $('.demoTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });

        //新建流程
        $(".new-build-process").click(function(){
            $(".layui-right").css('display','block')
            //示范一个公告层
            // layer.open({
            //     type: 1
            //     ,title: false //不显示标题栏
            //     ,closeBtn: true
            //     ,shade: 0.8
            //     ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
            //     // ,resize: false
            //     // ,btn: ['确定']
            //     ,btnAlign: 'c'
            //     ,moveType: 1 //拖拽模式，0或者1
            //     ,content:$('.layui-right')
            //     // ,success: function(layero){
            //     //     var btn = layero.find('.layui-layer-btn');
            //     //     // btn.find('.layui-layer-btn0').attr({
            //     //     //     href: 'http://www.layui.com/'
            //     //     //     ,target: '_blank'
            //     //     // });
            //     //     btn.find('.layui-layer-btn0').click(function(){
            //     //         // alert(1111111111)
            //     //     });
            //     // }
            //     ,end: function(index, layero){
            //         $(".layui-right").css("display","none")
            //     }
            // });
        });

        //点击加号弹框
        $(".layui-main").on('click','b',function(){
            //示范一个公告层
            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: true
                ,shade: 0.8
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,area:[400,400]
                // ,resize: false
                // ,btn: ['确定']
                ,btnAlign: 'c'
                ,moveType: 1 //拖拽模式，0或者1
                ,content:$('.layui-tab')
                // ,success: function(layero){
                //     var btn = layero.find('.layui-layer-btn');
                //     // btn.find('.layui-layer-btn0').attr({
                //     //     href: 'http://www.layui.com/'
                //     //     ,target: '_blank'
                //     // });
                //     btn.find('.layui-layer-btn0').click(function(){
                //         // alert(1111111111)
                //     });
                // }
                ,end: function(index, layero){
                    $(".layui-tab").css("display","none")
                }
            });
        });
        // Mb#TDZLwfM
        layui.tree({
            elem: '#demo1'
            ,nodes: [{ //节点数据
                name: '节点A'
                ,children: [{
                    name: '节点A1'
                    ,children: [{
                        name: '节点A11'
                    }]
                }]
            }, {
                name: '节点B'
                ,children: [{
                    name: '节点B1'
                    ,alias: 'bb' //可选
                    ,id: '123' //可选
                }, {
                    name: '节点B2'
                }]
            }, {
                name: '节点B'
                ,children: [{
                    name: '节点B1'
                    ,alias: 'bb' //可选
                    ,id: '123' //可选
                }, {
                    name: '节点B2'
                }]
            }, {
                name: '节点B'
                ,children: [{
                    name: '节点B1'
                    ,alias: 'bb' //可选
                    ,id: '123' //可选
                }, {
                    name: '节点B2'
                }]
            }, {
                name: '节点B'
                ,children: [{
                    name: '节点B1'
                    ,alias: 'bb' //可选
                    ,id: '123' //可选
                }, {
                    name: '节点B2'
                }]
            }, {
                name: '节点B'
                ,children: [{
                    name: '节点B1'
                    ,alias: 'bb' //可选
                    ,id: '123' //可选
                }, {
                    name: '节点B2'
                }]
            }, {
                name: '节点B'
                ,children: [{
                    name: '节点B1'
                    ,alias: 'bb' //可选
                    ,id: '123' //可选
                }, {
                    name: '节点B2'
                }]
            }]
            ,click: function(node){
                console.log(node) //node即为当前点击的节点数据
            }
        });
        layui.tree({
            elem: '#demo2'
            ,nodes: [{ //节点数据
                name: '节点A阿斯顿发付撒奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥奥'
                ,children: [{
                    name: '节点A1'
                    ,children: [{
                        name: '节点A11'
                    }]
                }]
            }, {
                name: '节点B'
                ,children: [{
                    name: '节点B1'
                    ,alias: 'bb' //可选
                    ,id: '123' //可选
                }, {
                    name: '节点B2'
                }]
            }]
            ,click: function(node){
                console.log(node) //node即为当前点击的节点数据
            }
        });
    })()

</script>

</body>
</html>