<!--软件资源管理-->
<!--<script src="../../../assets/js/help.js"></script>-->
<!--include "./../../../components/nav/nav.html"-->
<!--include "./../../../components/left/left.html"-->


<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-content">
        <div class="clearfix">
            <div class="fl">
                <!--搜索框-->
                @@include("../../admin/tpl/search-btn.html", { "btn": "btn-footer1", "input": "index-footer1","icon":
                "icon-footer1" })
            </div>
            <!--操作按钮-->
            <div class="main-btn fr">
                <button class="layui-btn layui-btn-sm layui-btn-normal new-build-application">新增</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal edit-build-application">编辑</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal del-software  button-delete">删除</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal download-import-template">下载导入模板</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal importApplication">导入</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal exportApplication"
                    style="margin-left: 10px">导出</button>
            </div>
        </div>


        <!--主体操作-->
        <!--<div class="main-nav clearfix">-->

        <!--表格数据-->
        <div class="table-data" style="width: 100%;">
            <table class="layui-hide" id="softwareList" lay-filter="demo"></table>
            <div id="softwarePage"></div>
        </div>
    </div>
</div>

<!--新增应用-->
<div class="new-application" style="display: none">
    <!--<h2>新增应用</h2>-->
    <form class="layui-form" action="" lay-filter="newSoftWareForm">
        <h3>基本信息</h3>
        <div class="basic-message">
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                    <div class="layui-input-inline">
                        <input name="softwareName" class="layui-input" type="text" placeholder="" autocomplete="off"
                            lay-verify="required">
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本</label>
                    <div class="layui-input-inline">
                        <input name="softwareVersion" class="layui-input" type="text" placeholder="" autocomplete="off"
                            lay-verify="required">
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类</label>
                    <div class="layui-input-inline">
                        <select name="applicationClassficationId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">系&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;统</label>
                    <div class="layui-input-inline">
                        <select name="systemId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">许可类型</label>
                    <div class="layui-input-inline">
                        <select name="licenseId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">负载类型</label>
                    <div class="layui-input-inline">
                        <select name="loadStrategyId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">连接方式</label>
                    <div class="layui-input-inline lianjie">
                        <select name="linkId" lay-filter="connectionMode" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">软件图标</label>
                    <div class="layui-input-inline">
                        <select name="iconId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>

        </div>


        <div class="layui-form-item clearfix" style="margin-left: 12px;margin-bottom: 15px">
            <label class="layui-form-label">软件目录</label>
            <div class="layui-input-inline one-line">
                <input name="directory" class="layui-input" type="text" placeholder="必填" autocomplete="off"
                    lay-verify="required">
            </div>
            <b class="star rm">*</b>
        </div>
        <div class="layui-form-item clearfix" style="margin-left: 12px;margin-bottom: 15px">
            <label class="layui-form-label">启动命令</label>
            <div class="layui-input-inline one-line">
                <input name="startCommand" class="layui-input" type="text" placeholder="必填" autocomplete="off"
                    lay-verify="required">
            </div>
            <b class="star rm">*</b>
        </div>
        <!-- ----------------------------------------------------------------------------------- -->
        <div class="basic-message">
            <div class="fle">
                <div class="layui-form-item clearfix" style="margin-left: 12px;margin-bottom: 15px">
                    <label class="layui-form-label">应用管理员</label>
                    <div class="layui-input-inline">
                        <select name="administrator" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
            <div class="layui-form-item">
                <label class="layui-form-label">系统用户</label>
                <div class="layui-input-inline">
                    <select name="editsysIds" xm-select="select2" lay-verify="required" lay-filter="sysIds">
                        <!--<option value="">请选择</option>-->
                        <!--<option value="0">北京</option>-->
                        <!--<option value="1">上海</option>-->
                        <!--<option value="2">重庆</option>-->
                    </select>
                </div>
                <b class="star fl">*</b>
            </div>
        </div>
        </div>
        <h3>资产信息</h3>

        <div class="basic-message" style="justify-content: flex-start;">
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">厂&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商</label>
                    <div class="layui-input-inline">
                        <input name="vendor" class="layui-input" type="text" placeholder="" autocomplete="off"
                            lay-verify="title">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">购买日期</label>
                    <div class="layui-input-inline">
                        <input name="buyDate" class="layui-input" id="buyDate" type="text" placeholder=" - ">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">资产编号</label>
                    <div class="layui-input-inline">
                        <input name="assetNumber" class="layui-input" type="text" placeholder="" autocomplete="off"
                            lay-verify="title">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item selecttree">
                    <label class="layui-form-label">产权单位</label>
                    <div class="layui-input-inline">
                        <div class="layui-unselect layui-form-select downpanel">
                            <div class="layui-select-title">
                                <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                                <!--<input type="hidden" name="selectID" value="0">-->
                                <input type="hidden" name="organizationId" value="">
                                <i class="layui-edge"></i>
                            </div>
                            <dl class="layui-anim layui-anim-upbit">
                                <dd>
                                    <ul id="classtree"></ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="newSoftware" lay-submit="">确定</button>
                <button class="layui-btn cancel" type="button">取消</button>
            </div>
        </div>

    </form>
</div>

<!--编辑应用-->
<div class="edit-application" style="display: none;">
    <!--<h2>新增应用</h2>-->

    <form class="layui-form" action="">
        <div class="layui-form-item" hidden>
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input name="id" class="layui-input" type="text" placeholder="" autocomplete="off"
                    lay-verify="required">
            </div>
        </div>
        <h3>基本信息</h3>
        <div class="basic-message">
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                    <div class="layui-input-inline">
                        <input name="softwareName" class="layui-input dis" disabled type="text" placeholder=""
                            autocomplete="off" lay-verify="required">
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本</label>
                    <div class="layui-input-inline">
                        <input name="softwareVersion" class="layui-input" type="text" placeholder="" autocomplete="off"
                            lay-verify="required">
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类</label>
                    <div class="layui-input-inline">
                        <select name="applicationClassficationId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">系&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;统</label>
                    <div class="layui-input-inline">
                        <select name="systemId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">许可类型</label>
                    <div class="layui-input-inline">
                        <select name="licenseId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">负载类型</label>
                    <div class="layui-input-inline">
                        <select name="loadStrategyId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">连接方式</label>
                    <div class="layui-input-inline lianjie">
                        <select name="linkId" lay-filter="editconnectionMode" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">软件图标</label>
                    <div class="layui-input-inline">
                        <select name="iconId" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>

        </div>


        <div class="layui-form-item clearfix" style="margin-left: 12px;margin-bottom: 15px">
            <label class="layui-form-label">软件目录</label>
            <div class="layui-input-inline one-line">
                <input name="directory" class="layui-input dis" type="text" placeholder="必填" autocomplete="off"
                    lay-verify="required">
            </div>
            <b class="star rm">*</b>
        </div>
        <div class="layui-form-item clearfix" style="margin-left: 12px;margin-bottom: 15px;">
            <label class="layui-form-label">启动命令</label>
            <div class="layui-input-inline one-line">
                <input name="startCommand" class="layui-input dis" type="text" placeholder="必填" autocomplete="off"
                    lay-verify="required">
            </div>
            <b class="star rm">*</b>
        </div>
        <div class="basic-message">


            <div class="fle">
                <div class="layui-form-item clearfix">
                    <label class="layui-form-label">应用管理员</label>
                    <div class="layui-input-inline">
                        <select name="administrator" lay-filter="" lay-verify="required">
                            <!--<option value="">请选择</option>-->
                            <!--<option value="0">写作</option>-->
                            <!--<option value="1">阅读</option>-->
                            <!--<option value="2">游戏</option>-->
                        </select>
                    </div>
                    <b class="star fl">*</b>
                </div>
            </div>
            <div class="fle">
            <div class="layui-form-item">
                <label class="layui-form-label">系统用户</label>
                <div class="layui-input-inline">
                    <select name="editsysIds" lay-verify="required" lay-filter="sysIds">
                        <!--<option value="">请选择</option>-->
                        <!--<option value="0">北京</option>-->
                        <!--<option value="1">上海</option>-->
                        <!--<option value="2">重庆</option>-->
                    </select>
                </div>
                <b class="star fl">*</b>
            </div>
            
        </div>

        <h3>资产信息</h3>

        <div class="basic-message" style="justify-content: flex-start;">
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">厂&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商</label>
                    <div class="layui-input-inline">
                        <input name="vendor" class="layui-input" type="text" placeholder="" autocomplete="off"
                            lay-verify="title">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">购买日期</label>
                    <div class="layui-input-inline">
                        <input name="buyDate" class="layui-input" id="buyDate1" type="text" placeholder=" - ">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item">
                    <label class="layui-form-label">资产编号</label>
                    <div class="layui-input-inline">
                        <input name="assetNumber" class="layui-input" type="text" placeholder="" autocomplete="off"
                            lay-verify="title">
                    </div>
                </div>
            </div>
            <div class="fle">
                <div class="layui-form-item selecttree">
                    <label class="layui-form-label">产权单位</label>
                    <div class="layui-input-inline">
                        <div class="layui-unselect layui-form-select downpanel">
                            <div class="layui-select-title">
                                <span class="layui-input layui-unselect" class="treeclass">选择单位</span>
                                <!--<input type="hidden" name="selectID" value="0">-->
                                <input type="hidden" name="organizationId" value="">
                                <i class="layui-edge"></i>
                            </div>
                            <dl class="layui-anim layui-anim-upbit">
                                <dd>
                                    <ul id="classtree1"></ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="layui-form-item layui-btn-sub">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="editSoftware" lay-submit="">确定</button>
                <button class="layui-btn cancel" type="button">取消</button>
            </div>
        </div>

    </form>
</div>

<!--修改密码-->
@@include("../tpl/updataPassword.html")

<!--include "./../../../components/footer/footer.html"-->

<!--鼠标滑过模板-->
<script id="mouseHov" type="text/html">
    <div class="mouseHover">{{d.softwareName}}</div>
</script>

<!--<script src="mockData/softwareManageMock.js"></script>-->
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="js/softwareManage.js"></script>
<script src="js/formSelects.js"></script>
<link rel="stylesheet" href="style/softwareManage.css">

</body>

</html>