.layui-body {
  padding: 10px;
}
.el-dialog{
  width: 33% !important;
}
.el-table,
.block {
  margin-top: 10px;
}
.el-table .cell {
  text-align: center;
}
.el-icon-warning {
  font-size: 30px;
}
//.el-dialog__header {
//  background: #353659;
//  .el-dialog__title,
//  .el-icon-close {
//    color: #fff;
//  }
//}
.el-dialog__footer {
  text-align: center;
}
//.el-dialog__body,
//.el-dialog__footer {
//  background: #25253d;
//}

//.el-table__header th,
//.el-table__header tr,
//.el-table__body-wrapper tr,
//.el-table__body-wrapper td {
//  background-color: #25253d;
//  color: #bcbee5;
//}
//.el-table td,
//.el-table th.is-leaf {
//  border-bottom: 1px solid #30304d;
//}
.el-table__header th,
.el-table__header tr,
.el-table__body-wrapper tr,
//.el-table__body-wrapper td {
//  background-color: #25253d !important;
//  color: #bcbee5 !important;
//}
.echoDisplay{
  // overflow: auto;
  margin-left: 20px;
}
.echoDisplay div{
  font-size: 14px;
  color: #fff;
  margin-bottom: 12px;
}
.apply{
  width: 536px;
  height: 117px;
  background: #6D6D79;
}
.remark{
  display: inline-block;
  vertical-align:top;
}
.remarks{
  width: 456px;
  height: 104px;
  background: #6d6d79;
  display: inline-block;
  color: #fff;
  word-break:break-all;
  padding: 10px;
}
.spanSty{
  width: 200px;
  height: 30px;
  background: #ccc;
  display: inline-block;
  padding-left: 10px;
}
// .equipmentBox .el-dialog__body{
//   overflow-y: auto;
// }
.boxCard{
  width: 50%;
  //float: left;
}
.el-card{
  height: 400px;
  overflow: auto;
}
//.box-card{
//  height: 300px;
//  overflow-y: auto;
//  margin-bottom: 20px;
//  margin-right: 5px;
//  background: #25253D;
//}
.cardTitle{
  text-align: center;
  border: 1px solid #ccc;
  color: black;
}
.el-badge .el-badge__content{
  background: #FF6852;
  border: none;
  top: -20px;
  position: absolute;
  left: -6px;
  z-index: 9;
}



.el-dialog__body{
  .userName,.type,.startTime,.endTime,.storage,.softwareType,.soft,.tips{
    padding: 10px 0 10px 100px!important;
  }
  .soft{
    div{
      display: flex;
      span{
        line-height: 40px;
      }
    }
  }
  .tips{
    display: flex;
    .el-textarea{
      width: 80%;
    }
  }
  .important{
    color: #d74337;
    font-size:20px;
  }
  .storage{
    position: relative;
    .el-input{
      width: 220px;
    }
    .company{
      position: absolute;
      top: 24px;
      left: 368px;
      color: black;
    }
  }
  .owndownBox{
    padding: 10px 0 10px 0px!important;
    margin-left: 100px;
    margin-right: 100px;
    background: #fafafa;
    color: black;
    span{
      color: #d74337
    }
    input{
      margin-top: 10px
    }
  }
  .footerBtn{
    text-align: center;
    padding: 20px 0;
  }
}
//.el-dialog__body {
//  padding: 30px 20px;
//  color: #FFFFFF;
//  font-size: 14px;
//  word-break: break-all;
//  background: #25253D;
//}
.el-input{
  width: 220px;
}
.typeList{
  margin-left: 100px;
}
.el-input.is-disabled .el-input__inner,.el-textarea.is-disabled .el-textarea__inner{
  background: #F0F0F0;
  color: black;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner{
  border-color: #1571F9!important;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #1571F9;
}
.owndownBox1{
  padding: 10px 0 10px 0px!important;
  margin-left: 100px;
  margin-right: 100px;
  background: #fafafa;
  color: black;
}

.el-tabs__item{
  font-size:16px;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color: #000000;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  border-bottom: 2px solid #409EFF;
  color: #1E9FFF;
}
.el-table__body{
  font-size: 14px!important;
}
.el-table thead th, .el-table thead tr {
  background:rgba(245,245,245,1);
  color: #000000;
  font-weight:bold;
  font-size: 14px; 
}
//
#approval{
  //background: white;
  //box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.07);
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border: none;
}
.el-tabs--card>.el-tabs__header {
  border-bottom: 1px solid#E5E5E5;
}
#tab-second{
  border-left: none;
}
#tab-dispose{
  border-left: none;
}
#tab-onlyLine{
  width: 1px;
  padding: 0;
  background-color: #BCBEE5;
  height: 19px;
  position: relative;
  top: 3px;
  border: none;
}
#tab-onlyLine1{
  width: 1px;
  padding: 0;
  background-color: #BCBEE5;
  height: 19px;
  position: relative;
  top: 3px;
  border: none;
}
//.el-dialog__header,.el-message-box__header{
//  background: #1E9FFF;
//}
//.el-dialog__title,.el-message-box__title{
//  color: #FFFFFF;
//}
//.el-dialog__headerbtn .el-dialog__close,.el-message-box__headerbtn .el-message-box__close{
//  color: #FFFFFF;
//}
//.el-dialog__headerbtn .el-dialog__close:hover,.el-message-box__headerbtn .el-message-box__close:hover{
//  color: #FFFFFF!important;
//}
.el-popover{
  min-width: 600px!important;
}
.soft{
  margin-left:29px ;
}
.el-select .el-tag__close.el-icon-close {
  right: -28px!important;
  display: none
}
// .el-select-dropdown__item.hover {
//   display: none;
// }