.el-input {
    width: 220px !important; }

/*.el-dialog__header {*/
/*background: #353659; }*/
/*.el-dialog__header .el-dialog__title {*/
/*color: white !important; }*/
/*.el-dialog__header .el-icon-close {*/
/*color: white !important;*/
/*font-size: 20px;*/
/*font-weight: 900;*/
/*margin: 0 !important; }*/

.el-dialog__body .userName, .el-dialog__body .type, .el-dialog__body .startTime, .el-dialog__body .endTime, .el-dialog__body .storage, .el-dialog__body .softwareType, .el-dialog__body .soft, .el-dialog__body .tips {
    padding: 10px 0 10px 100px !important; }
.el-dialog__body .soft div {
    display: flex; }
.el-dialog__body .soft div span {
    line-height: 40px; }
.el-dialog__body .tips {
    display: flex; }
.el-dialog__body .tips .el-textarea {
    width: 80%; }
.el-dialog__body .important {
    color: #d74337;
    font-size: 20px; }
.el-dialog__body .storage {
    position: relative; }
.el-dialog__body .storage .company {
    position: absolute;
    top: 24px;
    left: 368px;
    color: black; }
.el-dialog__body .typeList {
    padding: 10px 0 10px 0px !important;
    margin-left: 100px;
    margin-right: 100px;
    background: #fafafa;
    color: black; }
.el-dialog__body .typeList span {
    color: #d74337; }
.el-dialog__body .typeList input {
    margin-top: 10px; }
.el-dialog__body .typelist1 {
    padding: 10px 0 10px 0px !important;
    margin-left: 100px;
    margin-right: 100px;
    background: #fafafa;
    color: black; }
.el-dialog__body .footerBtn {
    text-align: center;
    padding: 20px 0; }

.badgeitem .el-badge__content {
    background: #FF6852;
    border: none;
    top: -20px;
    position: absolute;
    left: -2px;
    z-index: 9; }

.resetClass .el-tag {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #1571F9; }

.el-table thead th, .el-table thead tr {
    background:rgba(245,245,245,1);
    color: #000000;
    font-weight:bold;
    font-size: 14px; }

/*.el-table tbody th, .el-table tbody tr {*/
/*background-color: #25253D;*/
/*color: #BCBEE5;*/
/*font-size: 14px; }*/

/*.el-table--enable-row-hover .el-table__body tr:hover > td {*/
/*background-color: #33334D !important; }*/

/*.el-table td, .el-table th.is-leaf {*/
/*border-bottom: 1px solid #30304d; }*/

.el-table--border::after, .el-table--group::after, .el-table::before {
    background: transparent; }

/*.el-dialog__body {*/
/*padding: 30px 20px;*/
/*color: #FFFFFF;*/
/*font-size: 14px;*/
/*word-break: break-all;*/
/*background: #25253D; }*/

/*.el-radio {*/
/*color: #FFFFFF; }*/

.delbtn {
    /*background: #25253D;*/
    border: 1px solid #5a5c99;
    border-radius: 3px;
    color: #BCBEE5; }

/*# sourceMappingURL=approvalmanagement.css.map */
.el-menu--horizontal>.el-menu-item{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color: #000000;
}
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
    color: #1E9FFF;
}
.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid #409EFF;
    color: #1E9FFF;
}
.el-table__body{
    font-size: 14px!important;
}
.typelist>p span{
    color: red;
}
.typeList{
    padding: 10px 165px;
}
//
.layui-body{
    background: white;
}

.onlyLine{
    width: 1px;
    padding: 0;
    background-color: #BCBEE5;
    height: 19px!important;
    position: relative;
    top: 14px;
    border: none;
}
.el-menu--horizontal>.el-menu-item{
    height: 45px;
    line-height: 45px;
}
//.el-dialog__header{
//    background: #1E9FFF;
//}
//.el-dialog__title,.el-message-box__title{
//    color: #FFFFFF;
//}
//.el-dialog__headerbtn .el-dialog__close,.el-message-box__headerbtn .el-message-box__close{
//    color: #FFFFFF!important;
//}
//.el-dialog__headerbtn .el-dialog__close:hover,.el-message-box__headerbtn .el-message-box__close:hover{
//    color: #FFFFFF!important;
//}
.el-message-box{
    border: none;
}
.el-popover{
    min-width: 600px!important;
}
.soft{
    margin-left:29px ;
}
.el-pagination__editor.el-input {
    width: 50px!important;
}
#tab-onlyLine{
    width: 1px;
    padding: 0;
    background-color: #BCBEE5;
    height: 19px;
    position: relative;
    top: 3px;
    border: none;
}
#tab-onlyLine1{
    width: 1px;
    padding: 0;
    background-color: #BCBEE5;
    height: 19px;
    position: relative;
    top: 3px;
    border: none;
}