@@include("./../../../components/nav/nav-title.html")
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div class="layui-row top-msg">
    <div class="msg-bar" id="msg-bar">
      <div class="msg-box" id="msg-box-show">
        <!-- <div>
                    2017-12-20 08:08 通知：今天下午3点在会议室学习GeoEast3.0使用 ;
                </div>
                <div>
                    2017-12-20 08:08 通知：今天下午3点在会议室学习GeoEast3.0使用 ;
                </div> -->
        <!-- 2017-12-20 08:08 通知：今天下午3点在会议室学习GeoEast3.0使用 ;2017-12-20 08:08 通知：今天下午3点在会议室学习GeoEast3.0使用 ; -->
      </div>
      <div class="msg-box" id="msg-box-copy">
      </div>
    </div>

  </div>
  <div class="layui-row layui-form">
    <div class="layui-form-item">
      <label class="layui-form-label">我的应用</label>
      <div class="input-block">
        <!-- <input type="radio" name="sex" value="男" title="处理">
                <input type="radio" name="sex" value="女" title="解释">
                <input type="radio" name="sex" value="女" title="工程"> -->
      </div>
    </div>
  </div>

  <div class="layui-row layui-form software-main">
    <ul class="software-box">

    </ul>
    <!-- <div class="arrowBox">
            <i class="layui-icon arrowLeft"></i><i class="layui-icon arrowRight fr"></i>
        </div> -->
  </div>

  <!-- //表格切换 -->
  <div class="layui-row table-tab">
    <div class="layui-tab" lay-filter="tab">
      <ul class="layui-tab-title">
        <li class="layui-this">我的链接</li>
        <li>我的分享</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          @@include("../../admin/tpl/search.html", { "btn": "link-search", "input": "link-search-val", "btn1":
          "link-close"})
          <table class="layui-hide" id="tableData" lay-filter="tableData"></table>
          <div id="laypage1"></div>
        </div>
        <div class="layui-tab-item">
          @@include("../../admin/tpl/search.html", { "btn": "share-search", "input": "share-search-val", "btn1":
          "share-close"})
          <table class="layui-hide" id="tableData1" lay-filter="tableData1"></table>
          <div id="laypage"></div>
        </div>
      </div>
    </div>
  </div>


</div>
@@include("../../admin/tpl/updataPassword.html")

<div class="select-user clearfix" id="userAddDiaog" style="display:none;" name="myDiv">
  <div class="select-div tree">
    <div id="treeList" class="department-tree"></div>
  </div>
  <div class="select-div">
    <select multiple class="show-option layui-input" id="brand_sel" name="list1">
      <!-- <option>sdfd</option>
          <option>sdfd</option>
          <option>sdfd</option> -->
    </select>
  </div>
  <div class="select-div select-btn">
    <i class="layui-icon adds">&#xe602;</i>
    <i class="layui-icon add_alls">&#xe65b;</i>
    <i class="layui-icon dele removes">&#xe603;</i>
    <i class="layui-icon remove_alls">&#xe65a;</i>
  </div>
  <div class="select-div">
    <select multiple class="select-option layui-input" id="choose_sel" name="list2">
      <!-- <option>sdfd</option> -->
    </select>
  </div>
</div>

<div class="layui-footer text-center">
  <!-- @@include("../../admin/tpl/search-btn.html", { "footer1": "index-footer1", "footer2": "index-footer2", "footer": { "footer1": "index-footer-footer1", "footer2": "index-footer-footer2" } }) -->
  <!-- 底部固定区域 -->
  <!-- © 月新时代 -->
</div>

</div>

<div id="messageDiaog" style="display:none;">
  <div class="layui-tab" lay-filter="tab">
    <ul class="layui-tab-title">
      <li class="layui-this">收件历史</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <div class="layui-form">
          <!-- <div class="layui-form-item"> -->
          <!--  <label class="layui-form-label">单行输入框</label> -->
          <div class="fl">
            <div class="layui-row layui-form-item">
              <div class="layui-input-inline">
                <input type="text" id="history-input" name="title " autocomplete="off " placeholder="搜索 "
                  class="layui-input">
              </div>
              <button id="history-btn" class="layui-btn layui-btn-normal layui-btn-sm search-btn">搜索</button>
            </div>
          </div>

          <!-- <button class="layui-btn layui-btn-normal layui-btn-sm btn-export">导出</button> -->

          <!-- </div> -->
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容:</label>
            <div class="">
              <div class="tips-box">
                <!-- <div class="tips-list">
                                <div>2017-01-12 10:33:24</div>
                                <div>to：全体</div>
                                <p>通知：XXXXXXXXXXXXXXXXXXXXXX</p>
                            </div> -->
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<div id="detailHtml" style="display:none;">
  <div>
    <table class="layui-table detaiTable" lay-even="" lay-skin="nob">
      <colgroup>
        <col width="260">
        <col width="300">
        <col width="260">
        <col width="260">
        <col width="260">
        <col width="400">
      </colgroup>
      <thead>
        <!-- <tr>
                  <th></th>
                  <th></th>
                  <th>用户连接详情</th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr> -->
        <tr>
          <td><b>平台用户：</b><span class="userid"></span></td>
          <td><b>院所：</b><span class="institutes"></span></td>
          <td><b><span class="rankName"></span></b><span class="department"></span></td>
          <td><b>电话：</b><span class="tel"></span></td>
          <td><b>手机：</b><span class="phone"></span></td>
          <td><b>打开时间：</b><span class="opentime"></span></td>
        </tr>

      </thead>
      <tbody>
        <!-- <tr>
                  <td><b>平台用户：</b>
                      <span class="userid"></span>
                  </td>
                  <td><b>院所：</b><span class="institutes"></span></td>
                  <td><b><span class="rankName"></span></b><span class="department"></span></td>
                  <td><b>电话：</b><span class="tel"></span></td>
                  <td><b>手机：</b><span class="phone"></span></td>
                  <td><b>打开时间：</b><span class="opentime"></span></td>
              </tr> -->
        <tr>
          <td><b>系统用户：</b><span class="sysusername"></span></td>
          <td><b>软件：</b><span class="software"></span></td>
          <td><b>IP：</b><span class="city"></span></td>
          <td><b>服务器：</b><span class="server"></span></td>
          <td><b>端口：</b><span class="port"></span></td>
          <td><b>空闲时间：</b><span class="leavetime"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="detailTable" lay-filter="detailTable"></div>

</div>



<script type="text/html" id="conntClick">
  <a class="layui-btn layui-btn-xs" lay-event="openApp">打开</a>
  <a class="layui-btn layui-btn-xs" lay-event="closeApp">关闭</a>
  <a class="layui-btn layui-btn-xs" lay-event="appInfo">详情</a>
</script>

@@include("info.html")
<div id="app">
  <el-dialog title="下载" :visible.sync="tips" width="30%" :before-close="handleClose">
    <div style="text-align: center;">
      <div>为保证此平台正常使用, 您需要下载安装一下客户端:</div>
      <div style="display: inline-block;margin-right: 10px">
          <img src="./img/img1.png">
          <div>NICE DCV Client</div>
      </div>
      <div style="display: inline-block;margin-right: 10px">
          <img src="./img/img2.png">
          <div>VMware Horizon Client</div>
      </div>
      <div style="display: inline-block">
          <img src="./img/img3.png">
          <div>setup.exe</div>
      </div>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="handleClose">确 定</el-button>
      <el-button type="primary" @click="downLoad">下 载</el-button>
    </span>
  </el-dialog>
</div>

<script src="../../../public/static/layui-v2.2.5/layui/layui.all.js"></script>
<script src="../../../public/static/jquery-1.12.4.js"></script>
<script src="../../../public/static/echarts/echarts.min.js "></script>
<script src="../../../public/static/mock.js"></script>
<!-- <script src="../../../views/admin/monitor/mockData/connectManageMock.js"></script> -->
<script src="../../../assets/js/help.js"></script>
<link rel="stylesheet" href="./style/user.css">
<script src="./../../../assets/js/ajaxSetup.js"></script>
<script src="./js/user.js"></script>
<script src="./js/index.js"></script>
</body>

</html>