<div id="userInfo" style="display:none;">
    <div class="layui-row">
        <div class="graphs">
            <div id="graphs-left" class="graphs-left"></div>
        </div>
        <div class="graphs">
            <div id="graphs-right" class="graphs-right"></div>
        </div>
    </div>
    <div class="layui-row mt10 table-box">
        <table class="layui-hide" id="tableInfo" lay-filter="tableInfo"></table>
    </div>
</div>