 <link rel="stylesheet" href="../../../assets/globalCss/index.css" />
<div class="layui-side layui-bg-black">

  <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <div class="notice-box">
      </div>
      <!-- <div style="height: 5px;background: #1D1E33"></div> -->
      <div id="menuBox"></div>
  </div>
</div>
<script src="../../../public/static/jquery-1.12.4.min.js"></script>
<script id="menuTpl" type="text/html">
  <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="leftNav" id="ownnav">
      {{# layui.each(d.list, function(index, item){var classHome = ""; if(sessionStorage.getItem("navItem") == "home" && item.flag == "home") {classHome = "layui-this"} }}

      <li class="layui-nav-item  {{classHome}}">
          {{# if(item.url){ }}
          <a data-link="{{item.flag}}" href="{{item.url}}" class="{{item.flag}}">{{item.title}}</a>{{# }else { }} <a href="javascript:;" class="{{item.flag}} {{item.children[0].flag}}">{{item.title}}</a> {{# } }} {{# if(item.children){ }}
          <dl class="layui-nav-child">
              {{# layui.each(item.children, function(indexSec, itemSec){ }} {{# if(sessionStorage.getItem("navItem") == itemSec.flag){ }}
              <dd data-link="{{itemSec.flag}}" class="layui-this"><a href="{{itemSec.url}}">{{itemSec.title}}
                  {{# if(itemSec.title=="审批管理"){ }}
                  <span class="layui-badge numfasf" id="popNum1" style="display: none">0</span>
                  {{# } }}
              </a></dd>
              <!-- <dd data-link="{{itemSec.flag}}" class="layui-this"><a href="./../../../views/a/o/um">{{itemSec.title}}</a></dd> -->
              {{# }else { }}
              <dd data-link="{{itemSec.flag}}"><a href="{{itemSec.url}}">{{itemSec.title}}
                  {{# if(itemSec.title=="审批管理"){ }}
                  <span class="layui-badge numfasf" id="popNum" style="display: none">0</span>
                  {{# } }}</a></dd>
              <!-- <dd data-link="{{itemSec.flag}}"><a href="./../../../views/a/o/um">{{itemSec.title}}</a></dd> -->
              {{# } }} {{# }); }}
          </dl>
          {{# } }}
      </li>
      {{# }); }}
  </ul>
</script>
 <script>
     (function () {
         function getCookie(name) {
             var cookie = document.cookie;
             var arr = cookie.split("; "); //将字符串分割成数组
             for (var i = 0; i < arr.length; i++) {
                 var arr1 = arr[i].split("=");
                 if (arr1[0] == name) {
                     return unescape(arr1[1]);
                 }
             }
             return "GG"
         }
         let userId = getCookie("userId"); // 获取用户id
         let token= getCookie("token"); // 获取用户id

         let jump=window.location.href.substring(0,window.location.href.length-8);
         let isShow=false
         $(document).ready(function(){
             setTimeout(function () {
                 $.ajax({
                     url: url+':9001/examineAndApproveResource/getUserInfo',
                     type: 'post',
                     async: false,
                     data: {currentUserId:userId},
                     headers: {
                         "token":token
                     },
                     success: function(data) {
                         // if(data.data.professionalTitle!=4){
                             isShow=true
                         // }
                     },
                 })
                 $.ajax({
                     url: url+':9001/examineAndApproveResource/unreadCount ',
                     type: 'post',
                     async: false,
                     data: {currentUserId:userId},
                     headers: {
                         "token":token
                     },
                     success: function(data) {
                         $("#popNum").html(data.data)
                         $("#popNum1").html(data.data)
                         if(data.data!=null && data.data!=0 && isShow && location.href.indexOf('approval.html')==-1){
                             $("#popNum").show()
                             $("#popNum1").show()
                         }else{
                             $("#popNum").hide()
                             $("#popNum1").hide()
                         }
                     },
                 })
            var thisUrl = window.location.href;
                thisUrl = thisUrl.split('/')
                console.log(thisUrl)
                if(thisUrl[thisUrl.length - 1] == 'index.html'){
                    $(".application").addClass("layui-this");
                }
             },500)
         })
     })()
 </script>