/**
* @author zzj
* @date 2018-03-23
*/



.layui-layout-admin .layui-footer {
  left: 0;
}

.layui-body {
  left: 0;
}



/* 滚动信息展示 */

.top-msg {
  width: 100%;
  overflow: hidden;
  background: #ccc;
}

.msg-bar {
  width: 50%;
  margin: 10px auto;
  overflow: hidden;
  background: #fff;
  padding: 5px 10px;
  white-space: nowrap;
}

.msg-box {
  display: inline-block;
}

.msg-box div {
  display: inline-block;
}

.fl {
  margin-left: 110px;
  min-height: 36px;
}

/* 软件打开区域 */

.software-main {
  position: relative;
  min-height: 165px;
}

.software-box {
  margin: 10px 80px;
}

.software-box li {
  display: inline-block;
  width: 12.4%;
  padding: 20px;
  margin-right: 50px;
}

.software-show {
  padding: 10px;
  background: #ccc;
  text-align: center;
  width: 200px;
  margin-right: 10px;
  height: 100px;
  background: url(/opt/yxsd/upload/bg.png) no-repeat;
  background-size: 100% 100%;
}

.software-show-left,
.software-show-right {
  /* display: inline-block; */
  float: left;
  width: calc(50% - 10px);
}
.software-show-right h3 {
  margin-top: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.software-show-right h3:hover {
  overflow: visible;
}

.software-show-left img,
.software-show-right img {
  padding-bottom: 10px;
}

.software-show-left .layui-input {
  height: 29px;
}

.arrowBox {
  position: absolute;
  top: calc(50% - 20px);
  width: 100%;
}

.arrowBox i {
  font-size: 50px;
  padding: 0 20px;
  cursor: pointer;
}


/* //表格切换 */

.table-tab {
  margin: 0 100px;
}


/* 弹框样式 */

.graphs {
  width: 49%;
  display: inline-block;
}

.graphs-left,
.graphs-right {
  width: 540px;
  height: 400px;
  padding-top: 20px;
}

.table-box {
  margin: 0 20px 20px;
}

#link-close {
  float: right;
}

#share-close {
  float: right;
}

/* 树状图在 火狐不显示 */
.layui-tree li {
  overflow: visible !important;
}

/* .layui-table-view{
  width: 1150px;
} */