.tipsBox{
  width: 500px !important;
}
.el-dialog__footer {
  text-align: center !important;
}
.el-message-box__btns {
  text-align: center;
}
.el-button--small{
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
  margin: 0 50px;
}
.el-button:focus, .el-button:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #FFF;
}

.el-dialog__header {
  height: 20px;
  background: #1E9FFF;
  padding: 10px;
}
.el-dialog__title {
  font-size: 18px;
  color: #fff;
}
.el-dialog__headerbtn {
  top: 15px;
  color: #fff;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}